<template>
  <!-- BEGIN PROFILE CONTENT -->
  <div class="profile-content">
      <div class="row">
          <div class="col-md-12">
              <div class="portlet light bordered">
                  <div class="portlet-title tabbable-line">
                      <div class="caption caption-md">
                          <i class="icon-globe theme-font hide"></i>
                          <span class="caption-subject font-blue-madison bold uppercase">Profile Account</span>
                      </div>
                      <ul class="nav nav-tabs">
                          <li class="active">
                              <a href="#tab_1_1" data-toggle="tab">Personal Info</a>
                          </li>
                          <li>
                              <a href="#tab_1_2" data-toggle="tab">Change Password</a>
                          </li>
                      </ul>
                  </div>
                  <div class="portlet-body">
                      <div class="tab-content">
                        <div v-if="errors" class="alert alert-danger alert-dismissable">
                          <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
                          <p>{{errors}}</p>
                        </div>
                          <!-- PERSONAL INFO TAB -->
                          <div class="tab-pane active" id="tab_1_1">
                              <form role="form" action="#">
                                  <div class="form-group">
                                      <label class="control-label">Full Name</label>
                                      <input type="text" placeholder="Full name" class="form-control" v-model="user.full_name"/> </div>
                                  <div class="form-group">
                                      <label class="control-label">Username</label>
                                      <input type="text" placeholder="Username" class="form-control" v-model="user.username"/> </div>
                                  <div class="form-group">
                                      <label class="control-label">Email</label>
                                      <input type="text" placeholder="Design, Web etc." class="form-control" disabled="true" v-model="user.email"/> </div>
                                  <div v-if="false" class="form-group">
                                      <label class="control-label">Website</label>
                                      <input type="text" placeholder="Your website" class="form-control" v-model="user.website"/> </div>
                                  <div class="form-group">
                                      <label class="control-label">Phone</label>
                                      <textarea class="form-control" placeholder="Your phone" v-model="user.phone"></textarea>
                                  </div>
                                  <div class="margiv-top-10">
                                      <a href="javascript:;" class="btn green" @click="updateProfile()"> Save Changes </a>
                                      <a href="javascript:;" class="btn default" @click="resetUserDetail()"> Cancel </a>
                                  </div>
                              </form>
                          </div>
                          <!-- END PERSONAL INFO TAB -->
                          <!-- CHANGE PASSWORD TAB -->
                          <div class="tab-pane" id="tab_1_2">
                              <form action="#">
                                  <div class="form-group">
                                      <label class="control-label">Current Password</label>
                                      <input type="password" class="form-control" placeholder="Your current password" v-model="user.current_password"/> </div>
                                  <div class="form-group">
                                      <label class="control-label">Password</label>
                                      <input type="password" class="form-control" placeholder="Your new password" v-model="user.password"/> </div>
                                  <div class="form-group">
                                      <label class="control-label">Re-type Password</label>
                                      <input type="password" class="form-control" placeholder="Confirm your new password" v-model="user.password_confirmation"/> </div>
                                  <div class="margin-top-10">
                                      <a href="javascript:;" class="btn green" @click="updatePassword()"> Change Password </a>
                                  </div>
                              </form>
                          </div>
                          <!-- END CHANGE PASSWORD TAB -->
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- END PROFILE CONTENT -->
</template>
<script>
  export default {
    data: function () {
      return {
        origin_user: {},
        user: {},
        roles:
          [
            {index: 0, name: 'User', css: 'label-success'},
            {index: 1, name: 'Manager', css: 'label-danger'},
          ],
        errors: ''
      }
    },
    created: function () {
      eventHub.$on("USER_LOADED", this.onUserLoaded);
    },
    methods: {
      onUserLoaded(user) {
        this.user = user;
        this.origin_user = _.clone(user);
      },
      resetUserDetail() {
        this.user = _.assignIn(this.user, this.origin_user);
      },
      updateProfile() {
        var _self = this;
        this.$http.put('api/users/' + this.user.id, this.user).then((response) => {
            _self.errors = '';
            this.origin_user = response.data.data;
            showToast('Updated user successfully', 'Your information has been updated', 'success');
          }, (response) => {
            _self.errors = response.data.message;
            showToast('Updated user failed', 'Your information has not been updated', 'error');
          });
      },
      updatePassword() {
        var _self = this;
        this.$http.put('api/users/update-password', this.user).then((response) => {
            _self.errors = '';
            _self.user.current_password = '';
            _self.user.password = '';
            _self.user.password_confirmation = '';
            showToast('Updated password successfully', 'Your password has been updated', 'success');

          }, (response) => {
            _self.errors = response.data.message;
            _self.user.password = '';
            _self.user.password_confirmation = '';
            this.origin_user = response.data.data;
            showToast('Updated password failed', 'Your password has not been updated', 'error');
          });
      }
    }
  }
</script>
