<template>
  <div class="row">
    <div class="col-md-12">
      <profile-sidebar></profile-sidebar>
      <profile-details></profile-details>
    </div>
  </div>
</template>
<script>
  import ProfileSidebar from './Sidebar.vue'
  import ProfileDetails from './Details.vue'
  export default {
    props: {
      user_id: {
        type: Number,
        required: true
      }
    },
    data: function () {
      return {
        user: {},
        roles:
          [
            {index: 0, name: 'User', css: 'label-success'},
            {index: 1, name: 'Manager', css: 'label-danger'},
          ]
      }
    },
    components: {
      ProfileDetails, ProfileSidebar
    },
    mounted: function () {
      this.loadUser();
    },
    methods: {
      loadUser() {
        var _self = this;
        this.$http.get('/api/users/' + _self.user_id).then((response) => {
          _self.user = response.data.data;
          eventHub.$emit("USER_LOADED", _self.user);
        }, (response) => {
        });
      }
    }
  }
</script>
