<template>
  <div class="dashboard-stat dashboard-stat-v2" href="#" :class="color">
      <div class="visual">
          <i class="widget-thumb-icon" :class="icon"></i>
      </div>
      <div class="details">
          <div class="number" >
              <span data-counter="counterup" :data-value="number">0</span>
          </div>
          <div class="desc">{{title}}</div>
      </div>
  </div>
</template>
<script>
    export default{
      props:{
        number:0,
        title:String,
        icon:String,
        color:{
          type:String,
          default: 'blue'
        }
      },
      updated:function () {
        $("[data-counter='counterup']").counterUp({
          delay: 10,
          time: 1000
        });
      }
    }
</script>
