<template>
    <div class="row" id="dashboard-block">
        <div class="row widget-row" id="step-1">
            <div class="col-md-3">
                <counter-number-portlet v-bind:number="model.overallRating"
                                        icon="icon-star  bg-green"
                                        subtitle="stars"
                                        link="/reviews"
                                        title="OVERALL RATING"></counter-number-portlet>
            </div>
            <div class="col-md-3">
                <counter-number-portlet v-bind:number="model.totalReview"
                                        icon="icon-layers bg-red"
                                        subtitle="reviews"
                                        link="/reviews"
                                        title="TOTAL REVIEWS"></counter-number-portlet>
            </div>
            <div class="col-md-3">
                <counter-number-portlet v-bind:number="model.inviteSentThisMonth"
                                        icon="icon-calendar bg-yellow"
                                        subtitle="invites"
                                        title="THIS MONTH"></counter-number-portlet>
            </div>
            <div class="col-md-3">
                <counter-number-portlet v-bind:number="model.inviteSentLastMonth"
                                        icon="icon-notebook bg-blue"
                                        subtitle="invites"
                                        title="LAST MONTH"></counter-number-portlet>
            </div>
        </div>
        <div class="row" id="step-2">
            <div class="col-xs-12">
                <review-link-statistic></review-link-statistic>
            </div>
        </div>
        <div class="row" id="step-3">
            <div class="col-xs-6">
                <review-by-site v-bind:data="reviewBySiteData" title="REVIEW BY SITE"></review-by-site>
            </div>
            <div class="col-xs-6">
                <rating-by-site v-bind:data="ratingBySiteData" title="RATING BY SITE"></rating-by-site>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-xs-12 col-sm-12" id="step-3">
                <message-status></message-status>
                <!-- <latest-review-list></latest-review-list> -->
            </div>
            <div class="col-lg-6 col-xs-12 col-sm-12">
                <customer-status></customer-status>
            </div>
        </div>
    </div>
</template>
<script>
    // var tour = new Tour();

    // Add your steps

    import CounterNumberPortlet from "./CounterNumberPortlet.vue";
    import MonthlyReviewGoal from "./MonthlyReviewGoal.vue";
    import ReviewBySite from "./ReviewBySite.vue";
    import RatingBySite from "./RatingBySite.vue";
    import LatestReviewList from "./LatestReviewList.vue";
    import BootstrapTourMixin from '../../mixins/BootstrapTourMixin';
    import CustomerStatus from './CustomerStatus.vue';
    import MessageStatus from './SmsMmsStatus.vue';
    import ReviewLinkStatistic from './ReviewLinkStatistic.vue';

    export default {
        data: function () {
            return {
                model: {
                    "overallRating": 0,
                    "totalReview": 0,
                    "reviewByGoogle": 0,
                    "reviewByFacebook": 0,
                    "reviewByYelp": 0,
                    "reviewByTripadvisor": null,
                    "reviewByAgoda": null,
                    "reviewByBooking": null,
                    "ratingByGoogle": 0,
                    "ratingByFacebook": 0,
                    "ratingByYelp": 0,
                    "ratingByTripadvisor": null,
                    "inviteClickedThroughRate": 0,
                    "inviteSentThisMonth": 0,
                    "inviteSentLastMonth": 0
                },
                tourSteps:[
                    {
                        placement: "bottom",
                        element: "#menu-1",
                        title: "Welcome to the dashboard.",
                        content: "Let us show you around. Click 'Next' to continue."
                    },
                    {
                        placement: "bottom",
                        element: "#step-1", // element selector to show the popover next to;
                        title: "Statistics",
                        content: "Show your ratings/reviews statistics"
                    },
                    {
                        element: "#step-2", // element selector to show the popover next to;
                        title: "Review/Rating by site",
                        content: "See how many reviews/ratings you have by site.",
                        placement: "top"
                    },
                    {
                        element: "#step-3", // element selector to show the popover next to;
                        title: "Recent Reviews",
                        content: "See your five most recent reviews. New reviews are usually populated within 24 hours of going live.",
                        placement: "top"
                    },
                    {
                        element: "#menu-5", // element selector to show the popover next to;
                        path: "/settings"
                    }
                ]
            }
        },
        mixins:[BootstrapTourMixin],
        computed: {
            reviewBySiteData: function () {
                return [
                    {'provider': 'Facebook', 'value': this.model.reviewByFacebook},
                    {'provider': 'Google', 'value': this.model.reviewByGoogle},
                    {'provider': 'Yelp', 'value': this.model.reviewByYelp},
                    {'provider': 'Tripadvisor', 'value': this.model.reviewByTripadvisor},
                    {'provider': 'Agoda', 'value': this.model.reviewByAgoda},
                    {'provider': 'Booking', 'value': this.model.reviewByBooking}
                ];
            },
            ratingBySiteData: function () {
                return [
                    {'provider': 'Facebook', 'value': this.model.ratingByFacebook},
                    {'provider': 'Google', 'value': this.model.ratingByGoogle},
                    {'provider': 'Yelp', 'value': this.model.ratingByYelp},
                    {'provider': 'Tripadvisor', 'value': this.model.ratingByTripadvisor},
                    {'provider': 'Agoda', 'value': this.model.ratingByAgoda},
                    {'provider': 'Booking', 'value': this.model.ratingByBooking}
                ];
            }
        },
        components: {
            CounterNumberPortlet, MonthlyReviewGoal, ReviewBySite, RatingBySite, LatestReviewList, CustomerStatus, MessageStatus, ReviewLinkStatistic
        },
        created: function () {
            this.refresh();
        },
        methods: {
            refresh: function () {
                App.blockUI({
                    target: '#dashboard-block',
                    animate: true
                });
                var _self = this;
                this.$http.get('api/statistic').then(function (response) {
                    _self.model = response.data.data;
                    App.unblockUI('#dashboard-block');
                    _self.startTourGlobalFirst(_self.tourSteps,'dashboard');
                }).catch(function (error) {
                    App.unblockUI('#dashboard-block');
                })
            }
        }
    }
</script>
