<template>
    <div class="portlet light" id="message-status-block">
        <div class="portlet-title">
            <div class="caption font-gray-sharp">
                <span class="caption-subject"> SMS & MMS STATUS </span>
            </div>
        </div>
        <div class="portlet-body">
            <div class="row">
                <div class="col-md-6">
                    <month-picker @change="changeTimeMessageStatus" :readonly="true" format="YYYY MMMM"></month-picker>
                </div>
            </div>
            <div class="text-center">
                <div class="row">
                    <div class="col-xs-4 text-right">
                        Total SMS/MMS
                    </div>
                    <div class="col-xs-8 text-left">
                        {{numberSmsLimit}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-4 text-right">
                        Sending
                    </div>
                    <div class="col-xs-8 text-left">
                        {{info.count_sms}}
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-xs-4 text-right">
                        You have
                    </div>
                    <div class="col-xs-8 text-left">
                        {{youHave}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-4 text-right">
                        Over charge
                    </div>
                    <div class="col-xs-8 text-left">
                        ${{overCharge}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    export default{
        data: function () {
            return {
                numberSmsLimit: AppData.numberSmsLimit,
                smsPrice: AppData.smsPrice,
                info: {}
            };
        },
        computed: {
            overCharge: function () {
                if (!isNaN(this.youHave) && this.youHave < 0) {
                    return Math.abs(this.youHave) * this.smsPrice
                }
                return 0;
            },
            youHave: function () {
                return this.numberSmsLimit - (this.info.count_sms + this.info.count_mms);
            }
        },
        mounted: function () {

        },
        methods: {
            changeTimeMessageStatus: function (data) {
                if (!data.dateText) {
                    return
                }
                let _self = this;
                App.blockUI({
                    target: '#message-status-block',
                    animate: true
                });
                this.$http.get('/api/statistic/message_status/' + data.dateText).then(function (response) {
                    App.unblockUI('#message-status-block');
                    console.log(response);
                    _self.refresh(response.data.data)
                });
            },
            refresh: function (data) {
                this.info = data;
            }
        }
    }
</script>
