<template>
  <div class="portlet light" id="mms-content-block" v-if="componentShouldShow">
    <div class="portlet-title">
        <div class="caption">
            <span class="caption-subject bold font-blue uppercase">
              <i class="icon-speech font-blue"></i> MMS CONTENT </span>
        </div>
        <div class="actions">
          <div class="btn-group btn-group-devided">
            <button class="btn btn-circle btn-info btn-sm" @click="onClickedReviewLink">
              View Review link
            </button>
            <button class="btn btn-info btn-circle btn-sm" data-toggle="modal" href="#responsive_mms" @click="onClickButton()" :message="message"> {{message.id ? 'Edit' : 'Create'}} </button>
          </div>
      </div>
    </div>
    <div class="portlet-body form">
        <form role="form" class="form-horizontal">
          <div class="form-body">
            <div class="col-md-12">
              <div class="col-md-3 col-xs-3">
                <h5 class="block">Message</h5>
              </div>
              <div class="col-md-9 col-xs-9">
                <div class="well">
                  <div v-show="message.id">
                    <img :src="mms_image" class="mms-image"/>
                  </div>
                  <div>
                    {{message.content}}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
        <div class="form-group">
          <p v-pre>
            <strong>#Tip:</strong>
            The following variables may be included in the content:
            <strong>{{full_name}}</strong>,
            <strong>{{email}}</strong>,
            <strong>{{phone_number}}</strong>.
          </p>
        </div>
    </div>
    <div v-for="n in formMmsRange">
      <content-mms-form :message="message_clone" review_link="review_link" @close="onCloseForm"></content-mms-form>
    </div>
  </div>
</template>
<script>
    const block_id = '#mms-content-block'
    import ContentMmsForm from './MmsContentForm.vue'
    export default{
        data: function () {
            return {
                message: {
                  store_id: AppData.store_id,
                  language: 'en',
                  content: '',
                  type: 2,
                  extra_data: {
                    mediaUrl: '',
                    mediaLink: '',
                    mediaPath: ''
                  }
                },
                mode: 'create',
                errors: {},
                formMmsRange: 0
            }
        },
        components: {
          ContentMmsForm
        },
        computed:{
          message_clone: function () {
            return $.extend(true, {}, this.message);
          },
          componentShouldShow: function () {
              return AppData.store_id;
          },
          mms_image() {
            return this.message.extra_data.mediaUrl;
          },
          review_link() {
            return AppData.baseUrl + '/' + this.store.slug;
          }
        },
        mounted: function () {
          this.refresh();
          eventHub.$on("MMS_CONTENT_CREATED", this.onContentCreated);
          eventHub.$on("MMS_CONTENT_UPDATED", this.onContentUpdated);
          eventHub.$on("MMS_IMAGE_UPDATE", this.onContentUpdated);
          eventHub.$on("STORE_LOADED", this.onStoreLoaded);
        },
        methods: {
          refresh: function () {
              App.blockUI({
                  target: block_id,
                  animate: true
              });
              var _self = this;
              this.$http.get('api/stores/' + AppData.store_id + '/mmsMessage').then(function (response) {
                  if (response.data && response.data && response.data.data.length == 0) {
                      _self.mode = 'create'
                  } else {
                      _self.mode = 'update';
                      console.log(response);
                      _self.message = response.data.data;
                  }
                  App.unblockUI(block_id)
              }).catch(function (error) {
                  App.unblockUI(block_id)
              });
          },
          onStoreLoaded(store) {
            console.log(store);
            this.store = store;
            this.formMmsRange += 1;
          },
          onClickedReviewLink() {
            swal(this.store.name, AppData.baseUrl+'/'+this.store.slug, 'info');
          },
          onClickButton: function () {
            console.log('show');
            this.formMmsRange += 1;
          },
          onCloseForm: function () {
            console.log('close');
            this.formMmsRange -= 1;
          },
          onContentCreated: function(message) {
            this.message = message;
          },
          onContentUpdated: function(message) {
            this.message = message;
          }
        }
    }
</script>
<style scoped>
  .mms-image {
    width: 100%;
    padding-bottom: 15px;
  }
  .well {
    text-align: justify;
  }
</style>
