<template>
  <div class="portlet light" id="sms-content-block" v-if="componentShouldShow">
    <div class="portlet-title">
        <div class="caption">
            <span class="caption-subject bold font-blue uppercase">
              <i class="icon-speech font-blue"></i> SMS CONTENT </span>
        </div>
        <div class="actions">
          <div class="btn-group btn-group-devided">
            <button class="btn btn-circle btn-info btn-sm" @click="onClickedReviewLink">
              View Review link
            </button>
            <button class="btn btn-info btn-circle btn-sm" data-toggle="modal" href="#responsive_sms" @click="onClickButton()" :message="message"> {{message.id ? 'Edit' : 'Create'}} </button>
          </div>
      </div>
    </div>
    <div class="portlet-body form">
        <form role="form" class="form-horizontal">
          <div class="form-body">
            <div class="col-md-12">
              <div class="col-md-3 col-xs-3">
                <h5 class="block">Message</h5>
              </div>
              <div class="col-md-9 col-xs-9">
                <div class="well">
                  <div>
                    {{message.content}}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
        <div class="form-group">
          <p v-pre>
            <strong>#Tip:</strong>
            The following variables may be included in the content:
            <strong>{{full_name}}</strong>,
            <strong>{{email}}</strong>,
            <strong>{{phone_number}}</strong>.
          </p>
        </div>
    </div>
    <div v-for="n in formRange">
      <content-form :message="message_clone" :review_link="review_link" @close="onCloseForm"></content-form>
    </div>
  </div>
</template>
<script>
    const block_id = '#sms-content-block'
    import ContentForm from './SmsContentForm.vue'
    export default{
        data: function () {
            return {
                message: {
                  store_id: AppData.store_id,
                  language: 'en',
                  content: '',
                  type: 0
                },
                mode: 'create',
                errors: {},
                formRange: 0
            }
        },
        components: {
          ContentForm
        },
        computed:{
          message_clone: function () {
            return $.extend(true, {}, this.message);
          },
          componentShouldShow: function () {
              return AppData.store_id;
          },
          review_link() {
            return AppData.baseUrl + '/' + this.store.slug;
          }
        },
        mounted: function () {
          this.refresh();
          eventHub.$on("SMS_CONTENT_CREATED", this.onContentCreated);
          eventHub.$on("SMS_CONTENT_UPDATED", this.onContentUpdated);
          eventHub.$on("STORE_LOADED", this.onStoreLoaded);
        },
        methods: {
          refresh: function () {
              App.blockUI({
                  target: block_id,
                  animate: true
              });
              var _self = this;
              this.$http.get('api/stores/' + AppData.store_id + '/smsMessage').then(function (response) {
                  if (response.data && response.data && response.data.data.length == 0) {
                      _self.mode = 'create'
                  } else {
                      _self.mode = 'update';
                      _self.message = response.data.data;
                  }
                  App.unblockUI(block_id)
              }).catch(function (error) {
                  App.unblockUI(block_id)
              });
          },
          onStoreLoaded(store) {
            console.log(store);
            this.store = store;
            this.formRange += 1;
          },
          onClickedReviewLink() {
            swal(this.store.name, AppData.baseUrl+'/'+this.store.slug, 'info');
          },
          onClickButton: function () {
            console.log('show');
            this.formRange += 1;
          },
          onCloseForm: function () {
            console.log('close');
            this.formRange -= 1;
          },
          onContentCreated: function(message) {
            this.message = message;
          },
          onContentUpdated: function(message) {
            this.message = message;
          }
        }
    }
</script>
<style scoped>
  .well {
    text-align: justify;
  }
</style>
