<template>
    <a class="btn btn-circle red-sunglo btn-sm" data-style="expand-left" @click="openImportIOSModal()">
        <modal :show="isShowModal"
               :show-footer="false"
               title="Import customer from App"
               v-on:modalClose="isShowModal=false">
            <form role="form" lpformnum="1" id='form-import-from-app'>
                <div class="form-body">
                    <p>List Customer will be get from app by email. Email automatic get by store id.</p>
                    <p>Store Id</p>
                    <form-error :errors="errors" field="store_id">
                        <input class="form-control" type="text" placeholder="Store Id" v-model="model.store_id">
                    </form-error>
                    <p>Email Account</p>
                    <form-error :errors="errors" field="store_id">
                        <input class="form-control" type="text" placeholder="Email" v-model="userEmail" disabled>
                    </form-error>
                </div>
                <div class="form-actions">
                    <button id="btnAdd" type="button" class="btn blue mt-ladda-btn ladda-button"
                            data-style="expand-right" @click="add">
                        <span class="ladda-label">{{ (isSending) ? 'Sending ...' : 'Import'}}</span>
                        <span class="ladda-spinner"></span>
                    </button>
                </div>
            </form>
        </modal>
        <i class="fa fa-cloud-upload"></i> Import Customers From App</a>
</template>
<style>
</style>
<script>
    export default{
        data: function () {
            return {
                isShowModal: false,
                formData: new FormData(),
                model: {
                    store_id: AppData.store_id
                },
                errors: {},
                isLoading: false,
                isSending: false,
                userEmail: AppData.userEmail,
            }
        },
        methods: {
            openImportIOSModal: function () {
                this.isShowModal = true;
            },
            submit: function () {
                console.log('Event model submit');
                this.isShowModal = false;
            },
            add: function () {
                var _self = this;
                if(!this.isSending) {
                    this.isSending = true;
                    this.$http.post('api/invites/import-from-app', this.model).then(function (response) {
                         _self.isSending = false;
                        showToastFromResponse(response);
                        this.isShowModal = false;
                    this.model = {store_id: AppData.store_id};
                        this.$emit('importCustomerIOSSuccess');
                        eventHub.$emit('SEND_INVITATION_SUCCESS',response.data);
                    }).catch(function (error) {
                         _self.isSending = false;
                        if (error.data && error.data.data) {
                            this.errors = error.data.data;
                        } else {
                            showToastFromResponse(error);
                            this.isShowModal = false;
                            this.$emit('importCustomerFail');
                            this.model = {store_id: AppData.store_id};
                        }
                    });
                }
            }
        }
    }
</script>
