<template>
    <div class="portlet light bordered" id="list-customer-block">
        <send-confirm :data="checkedList" :type="sendConfirmType" :show="showSendConfirm"
                      @onClosed="showSendConfirm=false,refresh()"></send-confirm>
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-settings font-red"></i>
                <span class="caption-subject font-red sbold uppercase">Invites</span>
            </div>
            <div class="actions">
                <a class="btn btn-circle grey-salsa btn-sm" @click="sendSelected('sms')"> Invitation via SMS </a>
                <a class="btn btn-circle grey-salsa btn-sm" @click="sendSelected('mms')"> Invitation via MMS </a>
                <import-customers-button @importCustomerSuccess="refresh"></import-customers-button>
                <import-customers-ios-button @importCustomerIOSSuccess="refresh"></import-customers-ios-button>
            </div>
        </div>
        <div class="portlet-body">
            <div class="row">
                <customer-summary></customer-summary>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover table-checkable dataTable no-footer"
                               role="grid" id="customers-table">
                            <thead>
                            <tr role="row" class="heading">
                                <th width="2%" class="sorting_disabled" rowspan="1" colspan="1" aria-label="">
                                    <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                        <input type="checkbox" class="group-checkable" v-model="checkAll">
                                    </label>
                                </th>
                                <th> Name</th>
                                <th> Phone</th>
                                <th> Created</th>
                                <th> Clicked</th>
                                <th> SMS Sent</th>
                                <th> MMS Sent</th>
                                <th> Actions</th>
                            </tr>
                            <tr>
                                <th></th>
                                <th>
                                    <div class="form-group">
                                        <input class="form-control" type='text' v-model="filterName"
                                               @keyup.enter="filterChange">
                                    </div>
                                </th>
                                <th>
                                    <div class="form-group">
                                        <input class="form-control" type='text' v-model="filterPhone"
                                               @keyup.enter="filterChange">
                                    </div>
                                </th>
                                <th></th>
                                <th></th>
                                <th>
                                    <div class="form-group">
                                        <select class="form-control" v-model="filterSmsSent" @change="filterChange">
                                            <option value="-1">All</option>
                                            <option value="1">Sent</option>
                                            <option value="0">No</option>
                                        </select>
                                    </div>
                                </th>
                                <th>
                                    <div class="form-group">
                                        <select class="form-control" v-model="filterMmsSent" @change="filterChange">
                                            <option value="-1">All</option>
                                            <option value="1">Sent</option>
                                            <option value="0">No</option>
                                        </select>
                                    </div>
                                </th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-if="pagination &&  pagination.data && pagination.data.length > 0"
                                v-for="model in pagination.data" role="row" class="odd">
                                <td><label class="mt-checkbox mt-checkbox-single mt-checkbox-outline"><input
                                        type="checkbox" class="checkboxes" :value="model.id"
                                        v-model="checkedList"><span></span></label></td>
                                <td>
                                    {{model.name}}
                                </td>
                                <td> {{model.phone}}</td>
                                <td> {{formatDate(model.created_at)}}</td>
                                <td>
                                    <total-click :idTotal="model.id"></total-click>
                                </td>
                                <td class="text-center">
                                    <button class="btn btn-default red-sunglo"  v-if="model.phone_sent" @click="send(model.id,['sms'])">Re-Send</button>
                                    <button v-else class="btn btn-default" @click="send(model.id,['sms'])">Send</button>
                                </td>
                                <td class="text-center">
                                    <button v-else class="btn btn-default red-sunglo" v-if="model.mms_sent" @click="send(model.id,['mms'])" > Re-Send </button>
                                    <button v-else class="btn btn-default" @click="send(model.id,['mms'])">Send</button>
                                </td>
                                <td class="text-center">
                                    <button class="btn red btn-default" @click="deleteInvite(model.id)">Delete</button>
                                </td>
                            </tr>
                            <tr v-if="!pagination || pagination.data && pagination.data.length == 0">
                                <td colspan="8">No Data</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row" v-if="pagination &&  pagination.data && pagination.data.length > 0">
                <div class="col-md-12">
                    <ul class="pager">
                        <li data-lp="1" class="previous" v-bind:class="pagination.current_page == 1?'disabled':''"><a
                                href="javascript:void(0);" @click="backPage()"><i
                                class="fa fa-angle-left"></i></a></li>
                        <!--<li v-bind:data-lp="page" v-for="page in pages"-->
                        <!--v-bind:class="pagination.current_page == page?'active':''"><a href="javascript:void(0);"-->
                        <!--@click="changePage(page)">{{page}}</a>-->
                        <!--</li>-->
                        <span>{{pagination.current_page}}/{{pagination.last_page}}</span>
                        <li data-lp="7" class="next"
                            v-bind:class="pagination.current_page == pagination.last_page?'disabled':''"><a
                                href="javascript:void(0);" @click="nextPage()"><i class="fa fa-angle-right"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <customer-summary-by-time></customer-summary-by-time>
                </div>
            </div>
        </div>
    </div>
</template>
<style scoped>
    .actions {
        margin-right: 10px;
    }
</style>
<script>
    import ImportCustomersButton from './ImportCustomersButton.vue';
    import ImportCustomersIosButton from './ImportCustomersIOSButton.vue';
    import SendConfirm from './SendConfirm.vue';
    import BootstrapTourMixin from '../../mixins/BootstrapTourMixin';
    import CustomerSummary from './CustomerSummary.vue';
    import CustomerSummaryByTime from './SummaryByTime.vue';
    import MomentMixin from '../../mixins/MomentMixin';
    import TotalClick from './TotalClick.vue';
    export default{
        mixins: [BootstrapTourMixin,MomentMixin],
        data: function () {
            return {
                search: '',
                pagination: {},
                currentPage: 1,
                checkedList: [],
                checkAll: false,
                sendConfirmType: '',
                showSendConfirm: false,
                filterSmsSent: -1,
                filterMmsSent: -1,
                filterName: '',
                filterPhone: '',
                tourSteps: [
                    {
                        element: "#menu-3", // element selector to show the popover next to;
                        title: "Customers",
                        content: "List customers."
                    },
                    {
                        placement: "left",
                        element: "#list-customer-block",
                        title: "Invitations",
                        content: "You can send and track invitations at here."
                    },
                    {
                        element: "#menu-2", // element selector to show the popover next to;
                        path: "/reviews"
                    }
                ]
            }
        },
        props: {
            idTotal: 0
            },
        components: {
            ImportCustomersButton, ImportCustomersIosButton, SendConfirm, CustomerSummary, CustomerSummaryByTime, TotalClick
        },
        mounted: function () {
            this.refresh();
            var _self = this;
            eventHub.$on('SEND_INVITATION_SUCCESS', function (invite) {
                _self.refresh();
            });
        },
        watch: {
            checkAll: function (value) {
                var ids = _.transform(this.pagination.data, function (result, model) {
                    result.push(model.id);
                }, []);
                if (value) {
                    this.checkedList = _.union(this.checkedList, ids);
                } else {
                    this.checkedList = _.xor(this.checkedList, ids);
                }
            }
        },
        computed: {
            searchQuery: function () {
                var query = "?orderBy=created_at&sortedBy=desc&page=" + this.currentPage + "&";
                var search = 'search=';
                if (this.filterSmsSent && this.filterSmsSent >= 0) {
                    search += 'phone_sent:' + this.filterSmsSent + ';';
                }
                if (this.filterMmsSent && this.filterMmsSent >= 0) {
                    search += 'mms_sent:' + this.filterMmsSent + ';';
                }
                if (this.filterName) {
                    search += 'name:' + this.filterName + ';';
                }
                if (this.filterPhone) {
                    search += 'phone:' + this.filterPhone + ';';
                }
                query += search.slice(0, -1);
                return query;
            },
            pages: function () {
                var pages = [];
                if (this.pagination && this.pagination.last_page) {
                    for (var i = 1; i <= this.pagination.last_page; i++) {
                        pages.push(i);
                    }
                }
                return pages;
            }
        },
        methods: {
            searchChange: _.debounce(function () {
                this.refresh();
            }, 500),
            refresh: function () {
                App.blockUI({
                    target: '#list-customer-block',
                    animate: true
                });
                var _self = this;
                this.$http.get('api/invites/pagination' + this.searchQuery).then(function (response) {
                    _self.pagination = response.data.data;
                    App.unblockUI('#list-customer-block');
                    _self.startTourGlobalFirst(_self.tourSteps, 'customers');
                }).catch(function (error) {
                    App.unblockUI('#list-customer-block')
                });
            },
            changePage: function (index) {
                this.currentPage = index;
                this.refresh();
            },
            backPage: function () {
                if (this.currentPage > 1) {
                    this.currentPage--;
                    this.refresh();
                }
            },
            nextPage: function () {
                if (this.currentPage < this.pagination.last_page) {
                    this.currentPage++;
                    this.refresh();
                }
            },
            send: function (id, via) {
                this.sendList([id], via);
            },
            sendAll: function () {
                if (!confirm('Are you sure you want to send all invites?')) {
                    return;
                }
                App.blockUI({
                    target: '#list-customer-block',
                    animate: true
                });
                this.$http.post('/api/invites/send-all', {}).then(function (response) {
                    App.unblockUI('#list-customer-block');
                    showToastFromResponse(response);
                    this.refresh();
                }).catch(function (error) {
                    App.unblockUI('#list-customer-block');
                    showToastFromResponse(error);
                })
            },
            sendSelected: function (via) {
                if (!this.checkedList || this.checkedList.length == 0) {
                    showToast('Warning', 'You must select least a customer.', 'warning');
                    return;
                }
                this.sendConfirmType = via;
                this.showSendConfirm = true;
            },
            sendList: function (ids, via) {
                App.blockUI({
                    target: '#list-customer-block',
                    animate: true
                });
                return this.$http.post('/api/invites/send', {
                    list: ids,
                    via: via
                }).then(function (response) {
                    App.unblockUI('#list-customer-block');
                    showToastFromResponse(response);
                    this.refresh();
                }).catch(function (error) {
                    App.unblockUI('#list-customer-block');
                    showToastFromResponse(error);
                })
            },
            filterChange: function () {
                this.refresh();
            },
            deleteInvite: function (id) {
                App.blockUI({
                    target: '#list-customer-block',
                    animate: true
                });
                return this.$http.delete('/api/invites/'+id).then(function (response) {
                    App.unblockUI('#list-customer-block');
                    showToastFromResponse(response);
                    this.refresh();
                }).catch(function (error) {
                    App.unblockUI('#list-customer-block');
                    showToastFromResponse(error);
                })
            }

        }
    }
</script>
