<template>
    <div id="responsive" class="modal fade" tabindex="-1" data-width="50%">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
            <h4 class="modal-title">{{user.id ? 'Edit' : 'Create'}}</h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="portlet-body form">
                    <!-- BEGIN FORM-->
                    <form action="#" class="form-horizontal">
                        <div class="form-body">
                            <form-error :errors="errors" field="full_name" error-class="col-md-offset-3 col-md-8">
                                <label class="col-md-3 control-label">Full name</label>
                                <div class="col-md-8">
                                    <div class="input-group">
                  <span class="input-group-addon">
                    <i class="fa fa-envelope"></i>
                  </span>
                                        <input type="text" class="form-control" placeholder="Full name"
                                               v-model="user.full_name">
                                    </div>
                                </div>
                            </form-error>
                            <form-error :errors="errors" field="phone" error-class="col-md-offset-3 col-md-8">
                                <label class="col-md-3 control-label">Phone</label>
                                <div class="col-md-8">
                                    <div class="input-group">
                  <span class="input-group-addon">
                    <i class="fa fa-phone"></i>
                  </span>
                                        <input type="text" class="form-control" placeholder="Phone"
                                               v-model="user.phone">
                                    </div>
                                </div>
                            </form-error>
                            <form-error v-if="false" :errors="errors" field="website" error-class="col-md-offset-3 col-md-8">
                                <label class="col-md-3 control-label">Website</label>
                                <div class="col-md-8">
                                    <div class="input-group">
                  <span class="input-group-addon">
                    <i class="fa fa-home"></i>
                  </span>
                                        <input type="text" class="form-control" placeholder="Website"
                                               v-model="user.website">
                                    </div>
                                </div>
                            </form-error>
                            <form-error :errors="errors" field="username" error-class="col-md-offset-3 col-md-8">
                                <label class="col-md-3 control-label">Username</label>
                                <div class="col-md-8">
                                    <div class="input-group">
                  <span class="input-group-addon">
                    <i class="fa fa-user"></i>
                  </span>
                                        <input type="text" class="form-control" placeholder="Username"
                                               v-model="user.username">
                                    </div>
                                </div>
                            </form-error>
                            <form-error :errors="errors" field="email" error-class="col-md-offset-3 col-md-8">
                                <label class="col-md-3 control-label">Email Address</label>
                                <div class="col-md-8">
                                    <div class="input-group">
                  <span class="input-group-addon">
                    <i class="fa fa-envelope"></i>
                  </span>
                                        <input type="email" class="form-control" placeholder="Email Address"
                                               v-model="user.email" :disabled="user.id">
                                    </div>
                                </div>
                            </form-error>
                            <form-error :errors="errors" field="password"
                                        error-class="col-md-offset-3 col-md-8">
                                <label class="col-md-3 control-label">Password</label>
                                <div class="col-md-8">
                                    <div class="input-group">
                  <span class="input-group-addon">
                    <i class="fa fa-key"></i>
                  </span>
                                        <input type="password" class="form-control" placeholder="Password"
                                               v-model="user.password">
                                    </div>
                                </div>
                            </form-error>
                            <form-error :errors="errors" field="password_confirmation"
                                        error-class="col-md-offset-3 col-md-8">
                                <div class="col-md-8 col-md-offset-3">
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="fa fa-key"></i>
                                        </span>
                                        <input type="password" class="form-control" placeholder="Retype Password"
                                            v-model="user.password_confirmation">
                                    </div>
                                </div>
                            </form-error>
                            <form-error :errors="errors" field="role" error-class="col-md-offset-3 col-md-8">
                                <label class="col-md-3 control-label">Timezone</label>
                                <div class="col-md-8">
                                    <select v-model="user.time_zone" class="form-control">
                                        <option v-for="timeZone in timeZones" :value="timeZone.index">{{ timeZone.name }}</option>
                                    </select>
                                </div>
                            </form-error>
                            <form-error :errors="errors" field="role" error-class="col-md-offset-3 col-md-8">
                                <label class="col-md-3 control-label">Role</label>
                                <div v-if="role_id == 1" class="col-md-8">
                                    <select v-model="user.role" class="form-control">
                                        <option v-for="role in roles" :value="role.index">{{ role.name }}</option>
                                    </select>
                                </div>
                                <div v-if="role_id == 2" class="col-md-8">
                                    <select v-model="user.role" class="form-control">
                                        <option v-for="role in rolesAgent" :value="role.index">{{ role.name }}</option>
                                    </select>
                                </div>
                            </form-error>
                            <form-error :errors="errors" field="status" error-class="col-md-offset-3 col-md-8">
                                <label class="col-md-3 control-label">Status</label>
                                <div class="col-md-8">
                                    <select v-model="user.status" class="form-control">
                                        <option v-for="status in statuses" :value="status.index">{{ status.name }}
                                        </option>
                                    </select>
                                </div>
                            </form-error>
                            <form-error :errors="errors" field="note" error-class="col-md-offset-3 col-md-8">
                                <label class="col-md-3 control-label">Note</label>
                                <div class="col-md-8">
                                    <textarea type="text" class="form-control" rows="3" placeholder="Note"
                                            v-model="user.note"></textarea>
                                </div>
                            </form-error>
                        </div>
                    </form>
                    <!-- END FORM-->
                </div>

            </div>
        </div>
        <div class="modal-footer">
            <button type="button" data-dismiss="modal" class="btn btn-outline dark">Close</button>
            <button type="button" class="btn green" @click="updateUser()">{{ (isSending) ? 'Sending ...' : 'Save'}}
            </button>
        </div>
    </div>
</template>
<script>
    export default{
        props: {
            userProp: {
                type: Object,
                default: function () {
                    return {
                        username: '',
                        full_name: '',
                        website: '',
                        email: '',
                        password: '',
                        password_confirmation: '',
                        phone: '',
                        role: 0,
                        time_zone: '-6',
                        status: 0,
                        note: ''
                    }
                }
            }
        }
        ,
        data: function () {
            return {
                statuses: [
                    {index: 0, name: 'Pending', css: 'label-warning'},
                    {index: 1, name: 'Actived', css: 'label-success'}
                ],
                roles: [
                    {index: 0, name: 'Select your role', css: 'label-info'},
                    {index: 1, name: 'Admin', css: 'label-danger'},
                    {index: 2, name: 'Agent', css: 'label-danger'},
                ],
                rolesAgent: [
                    {index: 0, name: 'User', css: 'label-info'}
                ],
                isUpdated: false,
                showError: false,
                errors: '',
                role_id: AppData.role_id,
                isSending: false,
                timeZones: [
                    {index: '-4', name: 'UTC−04:00'},
                    {index: '-5', name: 'UTC−05:00'},
                    {index: '-6', name: 'UTC−06:00'},
                    {index: '-7', name: 'UTC−07:00'},
                    {index: '-8', name: 'UTC−08:00'},
                    {index: '-9', name: 'UTC−09:00'},
                    {index: '-10', name: 'UTC−10:00'},
                    {index: '-11', name: 'UTC−11:00'},
                    {index: '-12', name: 'UTC−12:00'},
                    {index: '+12:00', name: 'UTC+12:00'},
                    {index: '+10:00', name: 'UTC+10:00'},
                    {index: '+7:00', name: 'UTC+7:00'},
                ],
            }
        },
        computed: {
            user() {
                return this.userProp;
            },
        },
        created: function () {
            console.log('user_form created');
        },
        beforeMount: function () {
            console.log('user_form beforeMount');
        },
        mounted: function () {
            console.log('user_form mounted');
            var _self = this;
            $('#responsive').on('hidden.bs.modal', function (e) {
                _self.$emit('close');
                console.log('run close');
                _self.errors = '';
            });
        },
        updated: function () {
            console.log('user_form updated');
        },
        beforeDestroy: function () {
            console.log('user_form beforeDestroy');
        },
        methods: {
            updateUser: function () {
                var _self = this;
                if(!this.isSending) {
                    this.isSending = true;
                    if (this.user.id) {
                        this.$http.put('/api/users/' + _self.user.id, _self.user).then((response) => {
                            _self.isSending = false;
                            var user_ = response.data.data;
                            eventHub.$emit("USER_UPDATED", user_);
                            //$('#responsive').modal('hide');
                            $('.modal.in').modal('hide') ;
                            _self.errors = '';
                            _self.user = user_;
                            _self.user.password = '';
                            _self.user.password_confirmation = '';
                            showToast('Updated user successfully', 'User\'s information has been updated', 'success');
                        }, (error) => {
                            _self.isSending = false;
                            if (error.data && error.data.data) {
                                _self.errors = error.data.data;
                            }
                            showToast('Updated user failed', 'User\'s information has not been updated', 'error');
                        });
                    } else {
                        this.$http.post('/api/users', _self.user).then((response) => {
                            _self.isSending = false;
                            var user_ = response.data.data;
                            eventHub.$emit("USER_CREATED", user_);
                            //$('#responsive').modal('hide');
                            $('.modal.in').modal('hide') ;
                            _self.errors = '';
                            _self.user = user_;
                            _self.user.password = '';
                            _self.user.password_confirmation = '';
                            showToast('Created user successfully', 'User\'s information has been created', 'success');
                        }, (error) => {
                            _self.isSending = false;
                            if (error.data && error.data.data) {
                                _self.errors = error.data.message;
                            }
                            showToast('Created user failed', error.data.message, 'error');
                        });
                    }
                }
            }
        }
    }
</script>
