<template>
  <div class="row">
    <div v-for="n in showNewModal">
      <user-form @close="onCloseNew()"></user-form>
    </div>
    <div v-for="n in showEditModal">
      <user-edit-form @close="onCloseEdit()" :userProp="current_user"></user-edit-form>
    </div>
    <div class="col-md-12">
      <!-- BEGIN EXAMPLE TABLE PORTLET-->
      <div class="portlet light bordered">
        <div class="portlet-title">
          <div class="caption font-dark">
            <i class="icon-settings font-dark"></i>
            <span class="caption-subject bold uppercase"> All users </span>
          </div>
          <div class="actions">
            <div class="label label-default">
              Total: {{users.length}}
            </div>
            <div class="label label-info">
              Active: {{userActive}}
            </div>
            <div class="label label-warning">
              Pending: {{userPending}}
            </div>
            <div v-if="page_role == 0"  class="label label-success">
              Customers: {{userCustomer}}
            </div>
            <div v-if="page_role == 2" class="label label-danger">
              Agents: {{users.length - userCustomer}}
            </div>
          </div>
        </div>
        <div class="portlet-body">
          <div class="table-toolbar">
            <div class="row">
              <div class="col-md-6">
                <div class="btn-group">
                  <button v-if="page_role != 0 || (page_role == 0 && user_role ==2)" class="btn sbold green" @click="onClickNewButton()" data-toggle="modal" href="#responsive"> Add New
                  <i class="fa fa-plus"></i>
                  </button>
                </div>
              </div>
              <div class="col-md-6">
                <div class="btn-group pull-right" v-if="false">
                  <button class="btn green btn-outline dropdown-toggle" data-toggle="dropdown">Tools
                  <i class="fa fa-angle-down"></i>
                  </button>
                  <ul class="dropdown-menu pull-right">
                    <li>
                      <a href="javascript:;">
                      <i class="fa fa-print"></i> Print </a>
                    </li>
                    <li>
                      <a href="javascript:;">
                      <i class="fa fa-file-pdf-o"></i> Save as PDF </a>
                    </li>
                    <li>
                      <a href="javascript:;">
                      <i class="fa fa-file-excel-o"></i> Export to Excel </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <table class="table table-striped table-bordered table-hover dt-responsive dataTable no-footer dtr-inline collapsed" id="sample_1">
            <thead>
              <tr>
                <th>
                  <input type="checkbox" class="group-checkable" data-set="#sample_1 .checkboxes" />
                </th>
                <th> Username </th>
                <th> Email </th>
                <th> Joined at </th>
                <th> Providers </th>
                <th> Total SMS </th>
                <th> Total Email </th>
                <th> Status </th>
                <th> Role </th>
                <th> Edit </th>
                <th> Delete </th>
                <th> Access </th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="user in users" class="odd gradeX">
                <td>
                  <input type="checkbox" class="checkboxes" value="1" />
                </td>
                <td> {{user.username}} </td>
                <td>
                  <a href="#"> {{user.email}} </a>
                </td>
                <td> {{user.created_at}} </td>
                <td class="center">
                  <providers-image v-if="user.store_users && user.store_users.length > 0"
                    :providers="user.store_users[0].review_providers"></providers-image>
                </td>
                <td>{{user.total_sms}}</td>
                <td>{{user.total_email}}</td>
                <td>
                  <span class="hide" v-bind:class="statuses[user.status].css"> {{statuses[user.status].name}} </span>
                  <select class="form-control" v-model="user.status" @change="updateStatus(user)">
                    <option v-for="status in statuses" :value="status.index">{{ status.name }}</option>
                  </select>
                </td>
                <td class="center">
                  <span class="label label-sm" v-bind:class="roles[user.role].css"> {{roles[user.role].name}} </span>
                </td>
                <td>
                  <button class="btn btn-info" @click="onClickEditButton(user)" data-toggle="modal" href="#responsive_edit">
                    <i class="fa fa-edit"></i>
                  </button>
                </td>
                <td>
                  <button class="btn btn-danger" @click="deleteUser(user)">
                    <i class="fa fa-trash"></i>
                  </button>
                </td>
                <td>
                  <a  v-if=" user_role == 2 || (user_role == 1 && user.role == 0) " class="btn btn-primary" :href="'/admin/access-user/'+user.id">
                    <i class="fa fa-key"></i>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <!-- END EXAMPLE TABLE PORTLET-->
    </div>
  </div>
</template>
<script>
  var TableDatatablesManaged = require('../../../utils/table-datatables-responsive');
  import UserForm from './Form.vue'
  import UserEditForm from './FormEdit.vue'
  import ProvidersImage from './ProvidersImage.vue'
  export default {
    data: function () {
      return {
        search: '',
        users: [],
        current_user: {},
        origin_user: {},
        statuses:
          [
            {index: 0, name: 'Pending', css: 'label-warning'},
            {index: 1, name: 'Actived', css: 'label-success'}
          ],
        roles:
          [
            {index: 0, name: 'User', css: 'label-success'},
            {index: 1, name: 'Manager', css: 'label-danger'},
            {index: 2, name: 'Agent', css: 'label-warning'},
          ],
        isUpdated: false,
        showNewModal: 1,
        showEditModal: 1,
        isEdited: false,
        user_role:2,
        page_role:1,
      }
    },
    components: {
      UserForm, ProvidersImage, UserEditForm
    },
    computed: {
      userActive() {
        var count = 0;
        for (var index in this.users){
          if (this.users[index].status == 1) count += 1;
        }
        return count;
      },
      userPending() {
        var count = 0;
        for (var index in this.users){
          if (this.users[index].status == 0) count += 1;
        }
        return count;
      },
      userCustomer() {
        var count = 0;
        for (var index in this.users){
          if (this.users[index].role == 0) count += 1;
        }
        return count;
      }
    },
    created: function () {
      this.buildSearchQuery();
      this.loadData();
      eventHub.$on("USER_CREATED", this.onUserCreated);
      eventHub.$on("USER_UPDATED", this.onUserUpdated);
    },
    updated: function () {
      if (!this.isUpdated) {
        TableDatatablesManaged.default.init();
        this.isUpdated = true;
      }
    },
    methods: {
      onCloseNew() {
        this.showNewModal -= 1;
      },
      onCloseEdit() {
        this.showEditModal -= 1;
      },
      onClickEditButton(user) {
        var _self= this;
        this.isEdited = false;
        user.page_role = _self.page_role;
        this.current_user = user;
        this.setOriginUser(user);
        this.showEditModal += 1;
      },
      onClickNewButton() {
        this.showNewModal += 1;
      },
      setOriginUser(user){
        this.origin_user = _.clone(user);
      },
      loadData: function () {
        var _self = this;
        var searchQuery = this.buildSearchQuery();
        this.$http.get('/api/users' + searchQuery).then(function (response) {
          //console.log(response);
          _self.users = response.data.data;
          _self.user_role= _self.users[0]['user_role'];
        }).catch(function (error) {
          console.log(error);
        })
      },
      buildSearchQuery: function () {
        var searchQuery = '?search=';
        if (this.search && this.search != '') {
          searchQuery =  this.search + '&searchFields=name:like;email:like';
        }
        var slug = location.href;
        slug = slug.split("/")[4];
        if(slug === 'agents'){
          searchQuery += 'user_role:agent&';
          this.page_role = 2;
        }
        if(slug === 'users'){
          searchQuery += 'user_role:user&';
          this.page_role = 0;
        } 
        searchQuery = searchQuery.slice(0, -1); 
        return searchQuery;
      },
      updateStatus: function(user) {
        var oldStatus = user.status;
        var _self = this;
        this.$http.put('/api/users/' + user.id, {status: user.status, user_id: user.id}).then((response) => {
        showToast('Updated status successfully', 'User\'s status has been changed', 'success');
        }, (response) => {
          user.status = oldStatus;
          showToast('Updated status failed', 'User\'s status has not been changed', 'error');
        });
      },
      onUserCreated: function(user) {
        //this.users.push(user);
        this.loadData();
        showToast('User', 'User has been added to list', 'info');
      },
      onUserUpdated: function(user) {
        console.log("Edited",user);
        this.isEdited = true;
      },
      deleteUser: function(user) {
        if (confirm("Do you want to delete?")) {
          var _self = this;
          this.$http.delete('/api/users/' + user.id).then((response) => {
            var index = _self.users.indexOf(user);
            if(index != -1)
                _self.users.splice(index, 1);
            showToast('Deleted successfully', 'User has been removed', 'success');
            
          }, (response) => {
            console.log('Delete failed:' + response);
            showToast('Delete failed', ' User has not been deleted', 'error');
          });
        }
      }
    }
  }
</script>
<style>
  .dataTables_filter {
    float: right !important;
  }
</style>
