<template>
    <div class="portlet light" id="checkin-block">
        <div class="portlet-title tabbable-line">
            <div class="caption">
                <i class="icon-info font-blue"></i>
                <span class="caption-subject bold font-blue uppercase"> Checkin Setting  </span>
            </div>
        </div>
        <div class="portlet-body form">
            <form role="form" lpformnum="1" _lpchecked="1">
                <div class="form-body row">
                    <div class="col-md-12" v-for="data in model">
                        <div class="form-group">
                            <label>{{data.config_checkin_name}}</label>
                            <input class="form-control" v-model="data.config_checkin_value">
                        </div>
                    </div>
                </div>
                <div class="form-actions right">
                    <div class="col-md-12">
                        <button type="button" class="btn green" @click="submit">Save</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</template>
<script>
    export default{
        data: function () {
            return {
                model: {}
            }
        },
        mounted: function () {
            this.refresh();
        },
        methods: {
            refresh: function () {
                App.blockUI({
                    target: '#checkin-block',
                    animate: true
                });
                var _self = this;
                this.$http.get('api/setting-checkin/by-user').then(function (response) {
                    _self.model = response.data.data;
                    App.unblockUI('#checkin-block')
                }).catch(function (error) {
                    App.unblockUI('#checkin-block')
                })
            },
            submit: function () {
                App.blockUI({
                    target: '#checkin-block',
                    animate: true
                });
                var _self = this;
                if (this.model) {
                    this.$http.put('api/setting-checkin/' + this.model[0].store_id, this.model).then(function (response) {
                        showToastFromResponse(response);
                        _self.model = response.data.data;
                        App.unblockUI('#checkin-block')
                    }).catch(function (error) {
                        showToastFromResponse(error);
                        App.unblockUI('#checkin-block')
                    })
                }
            }
        }
    }
</script>
