<template>
  <div id="responsive_sms" class="modal fade" tabindex="-1" data-width="80%">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
      <h4 class="modal-title bold font-green-sharp uppercase">{{message.id ? 'Edit SMS Content' : 'Create SMS Content'}}</h4>
    </div>
    <div class="modal-body" id="sms-content-form">
      <div v-if="errors" class="alert alert-danger alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
        <p>{{errors}}</p>
      </div>
      <div class="row">

        <div class="portlet-body form">
          <!-- BEGIN FORM-->
          <form action="#" class="form-horizontal">
            <div class="form-body">
              <div class="form-group">
                <div class="col-md-12">
                  <p>The following variables may be included in the content:
                      <strong v-pre>{{full_name}}</strong>,
                      <strong v-pre>{{business_name}}</strong>,
                      <strong v-pre>{{promo_content}}</strong>
                    They will be replaced with the appropriate information when an invite is sent out. Note
                    that some of this information (such as the customer's name) will only be available if it
                    is submitted when the review invite is sent out.
                  </p>
                  <p>To improve your response rates, make sure your greeting is informal and human-sounding.</p>
                </div>
              </div>
              <div class="form-group">
                <div class="col-md-12">
                  <h4 class="block bold">Content:</h4>
                  <textarea type="text" class="form-control" rows="5" placeholder="Content" v-model="message.content"></textarea>
                </div>
              </div>
            </div>
          </form>
          <!-- END FORM-->
        </div>

      </div>
    </div>
    <div class="modal-footer">
      <button type="button" data-dismiss="modal" class="btn btn-outline btn-circle btn-sm dark">Close</button>
      <button type="button" class="btn green-haze btn-outline btn-circle btn-sm" @click="updateSMSContent()">{{ (isSending) ? 'Sending ...' : 'SAVE'}}</button>
    </div>
  </div>
</template>
<script>
  var formID = '#sms-content-form';
  export default{
    props:
      {
        message:
          {
            type: Object,
            default: function(){
              return {
                store_id: AppData.store_id,
                language: 'en',
                content: '',
                type: 3
              }
            }
          },
        review_link: {
          type: String
        }
      }
      ,
    data: function () {
      return {
        errors: '',
        isSending: false,
      }
    },
    created: function () {
      console.log('sms_form created');
    },
    beforeMount: function () {
      console.log('sms_form beforeMount');
    },
    mounted: function () {
      console.log('sms_form mounted');
      var _self = this;
      $('#responsive_sms').on('hidden.bs.modal', function (e) {
        _self.$emit('close');
        console.log('run close');
        _self.errors = '';
      });
    },
    updated: function () {
      console.log('sms_form updated');
    },
    beforeDestroy: function () {
      console.log('sms_form beforeDestroy');
    },
    methods: {
      updateSMSContent: function() {
        App.blockUI({
            target: formID,
            animate: true
        });
        var _self = this;
        if(!this.isSending) {
          this.isSending = true;
          if (this.message.id) {
            this.$http.put('/api/invite_messages/' + this.message.id, this.message).then((response) => {
              this.isSending = false;
              var message = response.data.data;
              eventHub.$emit("SMS_CONTENT_UPDATED", message);
              $('.modal.in').modal('hide') ;
              _self.errors = '';
              showToast('Updated sms content successfully', 'SMS content has been updated', 'success');
              App.unblockUI(formID);
            }, (response) => {
              this.isSending = false;
              _self.errors = response.data.message;
              showToast('Updated sms content failed', 'SMS content has not been updated', 'error');
              showToastFromResponse(response);
              App.unblockUI(formID);
            });
          } else {
            this.$http.post('/api/invite_messages', this.message, {method: 'POST'}).then((response) => {
              this.isSending = false;
              var message = response.data.data;
              eventHub.$emit("SMS_CONTENT_CREATED", message);
              $('.modal.in').modal('hide') ;
              _self.errors = '';
              showToast('Created sms content successfully', 'SMS content has been created', 'success');
              App.unblockUI(formID);
            }, (response) => {
              this.isSending = false;
              _self.errors = response.data.message;
              showToast('Created sms content failed', 'SMS content has not been created', 'error');
              showToastFromResponse(response);
              App.unblockUI(formID);
            });
          }
        }
      }
    }
  }
</script>
