<template>
<div class="portlet light bordered" id="list-checkin-block">
  <div class="portlet-title">
    <div v-for="n in showEditModal">
      <form-checkout @close="onCloseEdit()" :memberProp="current_member"></form-checkout>
    </div>
    <div class="caption">
      <i class="icon-settings font-red"></i>
      <span class="caption-subject font-red sbold uppercase">Checkin on This Day</span>
    </div>
    <div class="actions"></div>
  </div>
  <div class="portlet-body">
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-3">
            <datepicker
              v-model="filterFrom"
              format="dd-MM-yyyy"
              input-class="form-control tel date-color"
            ></datepicker>
          </div>
          <div class="col-md-3">
            <datepicker
              v-model="filterTo"
              format="dd-MM-yyyy"
              input-class="form-control tel date-color"
            ></datepicker>
          </div>
          <div class="col-md-2"><button @click="FilterRange()" class="btn btn-info">Filter</button></div>
          <div class="col-md-3"><b>Result search: {{members_total}} members checkin</b></div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="table-scrollable">
          <table
            class="table table-striped table-bordered table-hover table-checkable dataTable no-footer"
            role="grid"
            id="customers-table"
          >
            <thead>
              <tr role="row" class="heading">
                <th>Name</th>
                <th>Phone</th>
                <th>Member Level</th>
                <th>Total Checkin</th>
                <th>Checkin Time</th>
                <th>Status</th>
                <th>Actions</th>
              </tr>
              <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr
                v-if="pagination &&  pagination.data && pagination.data.length > 0"
                v-for="model in pagination.data"
                role="row"
                class="odd"
              >
                <td>{{model.member_fullname}}</td>
                <td>{{model.member_phone}}</td>
                <td>
                  <span class="btn btn-primary" v-if="model.member_level == 1">New</span>
                  <span class="btn btn-success" v-if="model.member_level == 2">Regular</span>
                  <span class="btn purple" v-if="model.member_level == 3">VIP</span>
                  <span class="btn btn-danger" v-if="model.member_level == 4">At Rick</span>
                </td>
                <td>{{model.total_checkin}}</td>
                <td>{{model.checkin_at}}</td>
                <td class="text-center">
                  <span
                    class="label label-sm label-info"
                    v-if="model.checkin_status == 1"
                  >Check-In</span>
                  <span
                    class="label label-sm label-danger"
                    v-if="model.checkin_status == 2"
                  >Check-Out</span>
                </td>
                <td class="text-center">
                  <a
                    v-if="model.checkin_status == 1"
                    class="btn btn-outline btn-circle red btn-sm blue"
                    @click="onClickEditButton(model)"
                    data-toggle="modal"
                    href="#responsive_edit"
                  >
                    <i class="fa fa-share"></i> Check Out
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <div class="row" v-if="pagination &&  pagination.data && pagination.data.length > 0">
      <div class="col-md-12">
        <div class="col-md-4"></div>
        <div class="col-md-4">
          <ul class="pager">
            <li
              data-lp="1"
              class="previous"
              v-bind:class="pagination.current_page == 1?'disabled':''"
            >
              <a href="javascript:void(0);" @click="backPage()">
                <i class="fa fa-angle-left"></i>
              </a>
            </li>
            <span>{{pagination.current_page}}/{{pagination.last_page}}</span>
            <li
              data-lp="7"
              class="next"
              v-bind:class="pagination.current_page == pagination.last_page?'disabled':''"
            >
              <a href="javascript:void(0);" @click="nextPage()">
                <i class="fa fa-angle-right fa-4"></i>
              </a>
            </li>
          </ul>
        </div>
        <div class="col-md-4"></div>
      </div>
    </div>
  </div>
</div>
</template>

<script>
var blockUI = "#list-checkin-block";
import Datepicker from "~/../vuejs-datepicker";
import FormCheckout from "./FormCheckout.vue";
export default {
  data: function() {
    return {
      members_total:0,
      pagination: {},
      currentPage: 1,
      checkinList: {},
      model: {},
      filterFrom: new Date(),
      filterTo: new Date(),
      interval: null,
      showEditModal: 1,
      origin_member: {},
      isEdited: false,
      current_member: {},
    };
  },
  computed: {
    searchQuery: function() {
      var query =
        "?orderBy=member_created_at&sortedBy=desc&page=" +
        this.currentPage + "&from=" +
        this.formatDate(this.filterFrom) +
        " 00:00:01" +
        "&to=" +
        this.formatDate(this.filterTo) +
        " 23:59:59" ;
      return query;
    },
    pages: function() {
      var pages = [];
      if (this.pagination && this.pagination.last_page) {
        for (var i = 1; i <= this.pagination.last_page; i++) {
          pages.push(i);
        }
      }
      return pages;
    }
  },
  components: {
    Datepicker, FormCheckout
  },

  created: function() {
    this.refresh();
    this.interval = setInterval(this.refresh, 30000);
  },
  mounted() {
    var _self = this;
    // setInterval(function() {
    // this.refresh();     
    //           }, 1000);
    eventHub.$on("MEMBER_CHECKOUT", function() {
      _self.refresh();
    });
  },
  beforeDestroy () {
  clearInterval(this.interval)
  },
  methods: {
    onCloseEdit() {
      this.showEditModal -= 1;
    },
    onClickEditButton(member) {
      this.isEdited = false;
      this.current_member = member;
      this.setOriginMember(member);
      this.showEditModal += 1;
    },
    setOriginMember(member) {
      this.origin_member = _.clone(member);
    },
    refresh: function() {
      App.blockUI({
        target: blockUI,
        animate: true
      });
      var _self = this;
      this.$http
        .get("/api/checkin/checkin-current" + this.searchQuery)
        .then(function(response) {
          //_self.checkinList = response.data;
          _self.pagination = response.data.data;
          _self.members_total = response.data.data.total;
          App.unblockUI(blockUI);
        })
        .catch(function(error) {
          App.unblockUI(blockUI);
        });
    },
    checkOut: function(id) {
      App.blockUI({
        target: blockUI,
        animate: true
      });
      var _self = this;
      console.log(id);
      return this.$http
        .post("/api/checkin/check-out/" + id)
        .then(function(response) {
          App.unblockUI("#list-checkin-block");
          showToastFromResponse(response);
          this.refresh();
        })
        .catch(function(error) {
          App.unblockUI("#list-checkin-block");
          showToastFromResponse(error);
        });
    },
    changePage: function(index) {
      this.currentPage = index;
      this.refresh();
    },
    backPage: function() {
      if (this.currentPage > 1) {
        this.currentPage--;
        this.refresh();
      }
    },
    nextPage: function() {
      if (this.currentPage < this.pagination.last_page) {
        this.currentPage++;
        this.refresh();
      }
    },
    FilterRange: function() {
      this.refresh();
    },
    formatDate: function(newdate) {
      var day = newdate.getDate();
      var month = parseInt(newdate.getMonth()) + parseInt(1);
      if (parseInt(month) < 10) month = "0" + month;
      if (parseInt(day) < 10) day = "0" + newdate.getDate();
      var date = newdate.getFullYear() + "-" + month + "-" + day;
      return date;
    }
  }
};
</script>