<template>
  <div id="responsive_edit" class="modal fade" tabindex="-1" data-width="50%">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
      <h4 class="modal-title">Checkout for {{model.member_fullname}}</h4>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="portlet-body form">
          <!-- BEGIN FORM-->
          <form action="#" class="form-horizontal">
            <div class="form-body">
              <form-error :errors="errors" field="full_name" error-class="col-md-offset-3 col-md-8">
                <label class="col-md-3 control-label">Total Amount Price Service ($)</label>
                <div class="col-md-8">
                  <div class="input-group">
                    <span class="input-group-addon">
                      <i class="fa fa-user"></i>
                    </span>
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Price service"
                      v-model="checkout_model.price_service"
                    />
                  </div>
                </div>
              </form-error>
            </div>
          </form>
          <!-- END FORM-->
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" data-dismiss="modal" class="btn btn-outline dark">Close</button>
      <button
        type="button"
        class="btn green"
        @click="checkoutMember(model.checkin_id)"
      >{{ (isSending) ? 'Sending ...' : 'CheckOut'}}</button>
    </div>
  </div>
</template>
<script>
import Datepicker from "~/../vuejs-datepicker";
export default {
  props: {
    memberProp: {
      type: Object,
      default: function() {
        return {
        };
      }
    }
  },
  data: function() {
    return {
      isUpdated: false,
      showError: false,
      errors: [],
      role_id: AppData.role_id,
      isSending: false,
      checkout_model:{

      }
    };
  },
  components: {
    Datepicker
  },
  computed: {
    model() {
      return this.memberProp;
    }
  },
  created: function() {
    var _self = this;
    console.log('checkout-----'+_self.model);
  },
  beforeMount: function() {
    console.log("member_form beforeMount");
  },
  mounted: function() {
    console.log("member_form mounted");
    var _self = this;
    $("#responsive_edit").on("hidden.bs.modal", function(e) {
      _self.$emit("close");
      console.log("run close");
      _self.errors = "";
    });
  },
  updated: function() {
    console.log("member_form updated");
  },
  beforeDestroy: function() {
    console.log("member_form beforeDestroy");
  },
  methods: {
    checkoutMember: function(id) {
      var _self = this;
      this.isSending = true;
      if(!_self.checkout_model.price_service){
        showToast("Error", "Price service require", "error");
        _self.isSending = false;
        return;
      } else {
        return this.$http
          .post("/api/checkin/check-out/" + id, _self.checkout_model)
          .then(function(response) {
            _self.isSending = false;
            App.unblockUI("#list-checkin-block");
            $(".modal.in").modal("hide");
            var user_ = response.data.data;
            eventHub.$emit("MEMBER_CHECKOUT", user_);
            showToastFromResponse(response);
          })
          .catch(function(error) {
            _self.isSending = false;
            App.unblockUI("#list-checkin-block");
            showToastFromResponse(error);
          });
      }
    }
  }
};
</script>