<template>
    <div class="portlet" id="dashboard-block">
        <div class="row widget-row" id="step-1">
            <div class="col-md-3">
                <counter-number-portlet v-bind:number="model.totalMember"
                                        icon="icon-star  bg-green"
                                        subtitle="members"
                                        link="/members"
                                        title="TOTAL MEMBERS"></counter-number-portlet>
            </div>
            <div class="col-md-3">
                <counter-number-portlet v-bind:number="model.totalCheckinDate"
                                        icon="icon-layers bg-red"
                                        subtitle="On Date"
                                        link="#"
                                        title="CHECKIN"></counter-number-portlet>
            </div>
            <div class="col-md-3">
                <counter-number-portlet v-bind:number="model.totalCheckinMonth"
                                        icon="icon-calendar bg-yellow"
                                        subtitle="This Month"
                                        title="CHECKIN"></counter-number-portlet>
            </div>
            <div class="col-md-3">
                <counter-number-portlet v-bind:number="model.totalCheckin"
                                        icon="icon-notebook bg-blue"
                                        subtitle="All"
                                        title="TOTAL CHECKIN"></counter-number-portlet>
            </div>
        </div>
        <div class="row" id="step-2">
            <div class="col-xs-12">
                <checkin-list></checkin-list>
            </div>
        </div>
    </div>
</template>
<script>
    // var tour = new Tour();
    import CounterNumberPortlet from "./CounterNumberPortlet.vue";
    import BootstrapTourMixin from '../../mixins/BootstrapTourMixin';
    import CheckinList from './CheckinList.vue';
    export default {
        data: function () {
            return {
                model: {
                    "totalMember": 0,
                    "totalCheckinDate": 0,
                    "totalCheckinMonth": 0,
                    "totalCheckin": 0
                },
                tourSteps:[
                    {
                        placement: "bottom",
                        element: "#menu-1",
                        title: "Welcome to the dashboard.",
                        content: "Let us show you around. Click 'Next' to continue."
                    },
                    {
                        placement: "bottom",
                        element: "#step-1", // element selector to show the popover next to;
                        title: "Statistics",
                        content: "Show your ratings/reviews statistics"
                    },
                    {
                        element: "#step-2", // element selector to show the popover next to;
                        title: "Review/Rating by site",
                        content: "See how many reviews/ratings you have by site.",
                        placement: "top"
                    },
                    {
                        element: "#step-3", // element selector to show the popover next to;
                        title: "Recent Reviews",
                        content: "See your five most recent reviews. New reviews are usually populated within 24 hours of going live.",
                        placement: "top"
                    },
                    {
                        element: "#menu-5", // element selector to show the popover next to;
                        path: "/settings"
                    }
                ]
            }
        },
        mixins:[BootstrapTourMixin],
        computed: {
            reviewBySiteData: function () {
                return [
                    {'provider': 'Facebook', 'value': this.model.reviewByFacebook},
                    {'provider': 'Google', 'value': this.model.reviewByGoogle},
                    {'provider': 'Yelp', 'value': this.model.reviewByYelp},
                    {'provider': 'Tripadvisor', 'value': this.model.reviewByTripadvisor},
                    {'provider': 'Agoda', 'value': this.model.reviewByAgoda},
                    {'provider': 'Booking', 'value': this.model.reviewByBooking}
                ];
            },
            ratingBySiteData: function () {
                return [
                    {'provider': 'Facebook', 'value': this.model.ratingByFacebook},
                    {'provider': 'Google', 'value': this.model.ratingByGoogle},
                    {'provider': 'Yelp', 'value': this.model.ratingByYelp},
                    {'provider': 'Tripadvisor', 'value': this.model.ratingByTripadvisor},
                    {'provider': 'Agoda', 'value': this.model.ratingByAgoda},
                    {'provider': 'Booking', 'value': this.model.ratingByBooking}
                ];
            }
        },
        components: {
            CounterNumberPortlet, CheckinList
        },
        created: function () {
            this.refresh();
        },
        methods: {
            refresh: function () {
                App.blockUI({
                    target: '#dashboard-block',
                    animate: true
                });
                var _self = this;
                this.$http.get('api/checkin/statistic').then(function (response) {
                    _self.model = response.data.data;
                    App.unblockUI('#dashboard-block');
                    _self.startTourGlobalFirst(_self.tourSteps,'dashboard');
                }).catch(function (error) {
                    App.unblockUI('#dashboard-block');
                })
            }
        }
    }
</script>
