@import "variables";

.center-element {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -50px;
  min-width: 320px;
  min-height: 480px;
  background-color: #FFFFFF;
}

.auth {
  .header {
    height: $header-height;
    background-color: #FFFFFF;
    padding-top: 10px;
    .auth-logo {
      display: block;
      margin: 0 auto;
    }
  }
  .content-wrap{
    margin-top: $content-wrap-margin;
  }
  .center-wrap {
    opacity: 0.9;
    margin-top: 30px;
    background-color: #FFFFFF;
  }
  .panel {
    border-radius: 0px;
  }

  .form-header {
    display: block;
    background-color: #1B94C9;
    height: 56px;
    margin-left: -15px;
    margin-right: -15px;
    .form-title {
      color: #FFFFFF;
      font-size: 18px;
      line-height: 56px;
      padding-left: 10px;
    }
  }
}