<template>
    <div class="col-md-12" id="review_list">
        <div class="col-md-4 pull-right" id="reviews-filters">
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="actions">
                        <a href="javascript:;" class="btn btn-circle btn-default" @click="getAllReview">
                            <i class="fa fa-download"></i> Get Review </a>
                    </div>
                </div>
                <div class="portlet-body form">
                    <form role="form" onsubmit="return false;" id="form_filter">
                        <div class="form-body">
                            <div class="form-group">
                                <label>Website</label>
                                <select v-model="search.provider" class="form-control">
                                    <option v-for="provider in providers"
                                      v-show="counting_review_by_provider(provider.name)"
                                      :value="provider.key">{{ provider.name }}
                                    </option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Min Rating</label>
                                <select v-model="search.min" class="form-control">
                                    <option v-for="number in numbers" :value="number">{{ number }}</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Max Rating</label>
                                <select v-model="search.max" class="form-control">
                                    <option v-for="number in numbers" :value="number">{{ number }}</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Date Range</label>
                                <select v-model="search.time" class="form-control">
                                    <option v-for="time in date_range" :value="time.key">{{ time.name }}</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Search</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Keywords"
                                           v-model="search.text"/>
                                    <span class="input-group-addon">
                      <i class="icon-magnifier"></i>
                    </span>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-8 pull-left" id="reviews-list">
            <div class="row">
                <div class="tabbable-line">
                    <ul class="nav nav-tabs">
                        <li v-for="provider, index in providers"
                            v-show="counting_review_by_provider(provider.name)"
                            :class="search.provider == provider.key ? 'active' : ''">
                            <a :href="'#tab_15_' + (index + 1)" data-toggle="tab" :id="provider.key"
                               @click="tabClick(provider)">
                <span>
                  <provider-image :provider="provider.name.toUpperCase()" :isSmall="true"></provider-image>
                </span>
                <h1 class="badge badge-info">{{counting_review_by_provider(provider.name)}}</h1>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div v-if="reviewLink && reviewLink != ''" class="row col-md-12">
                    <div class="alert alert-block alert-info fade in">
                        <a :href="reviewLink" target="_blank">{{reviewLink}}</a>
                    </div>
                </div>
                <div class="row col-md-12" v-show="reviews.length">
                    <div class="" v-for="review in reviews">
                        <review-item :review="review"></review-item>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="center" v-show="reviews.length == 0 && !loading">
                    <div>No reviews match your current filters</div>
                </div>
                <div class="center" v-show="loading">
                    <pulse-loader :loading="loading"></pulse-loader>
                    <div>Getting reviews</div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import moment from 'moment';
    import PulseLoader from 'vue-spinner/src/PulseLoader.vue';
    import ReviewItem from './ReviewItem.vue';
    import ProviderImage from '../common/ProviderImage.vue';
    import BootstrapTourMixin from '../../mixins/BootstrapTourMixin';
    export default{
        mixins: [BootstrapTourMixin],
        data: function () {
            return {
                reviews: [],
                loading: false,
                request_update: false,
                reviewLink: '',
                search: {
                    text: '',
                    min: 1,
                    max: 5,
                    time: 'all',
                    provider: 'all',
                    limit: 5
                },
                date_range: [
                    {key: 'all', name: 'All Time'},
                    {key: 'this_week', name: 'This week'},
                    {key: 'last_week', name: 'Last week'},
                    {key: 'last_month', name: 'Last 30 days'}
                ],
                providers: [
                    {key: 'all', name: 'All'},
                    {key: 'google', name: 'Google'},
                    {key: 'facebook', name: 'Facebook'},
                    {key: 'yelp', name: 'Yelp'},
                    {key: 'tripadvisor', name: 'Tripadvisor'},
                    {key: 'agoda', name: 'Agoda'},
                    {key: 'booking', name: 'Booking'}
                ],
                numbers: [1, 2, 3, 4, 5, 6],
                reviews_full: false,
                isRequesting: false,
                tourSteps: [
                    {
                        element: "#menu-2", // element selector to show the popover next to;
                        title: "Reviews",
                        content: "You can see all your reviews at here."
                    },
                    {
                        placement: "right",
                        element: "#reviews-list",
                        title: "All your reviews",
                        content: "See reviews by site."
                    },
                    {
                        placement: "left",
                        element: "#reviews-filters",
                        title: "Filters",
                        content: "You can see reviews with filters."
                    },
                    {
                        placement: "bottom",
                        element: "#edit-profile", // element selector to show the popover next to;
                        title: "Finally",
                        content: "You can edit your profile at here."
                    }
                ],
                stats: {}
            }
        },
        mounted: function () {
            this.loadData();
            this.counting_review();
        },
        updated() {
            var _self = this;
            $('#form_filter').on('change', function (e) {
                if (!_self.isRequesting) {
                    _self.reviews = [];
                    _self.reviews_full = false;
                    _self.loadData();
                }
            });
            $(window).scroll(function () {
                if ($(window).scrollTop() == $(document).height() - $(window).height()) {
                    if (!_self.isRequesting && !_self.reviews_full) {
                        _self.loadData(true);
                    }
                }
            });
        },
        components: {
            PulseLoader, ReviewItem, ProviderImage
        },
        methods: {
            loadData(isAppend = false)
            {
                this.isRequesting = true;
                this.loading = true;
                var _self = this;
                var searchQuery = this.buildSearchQuery();
                this.$http.get('api/reviews' + searchQuery).then(function (response) {
                    // console.log(response);
                    var reviews = response.data.data;
                    _self.updateProviderLink();
                    if (isAppend) {
                        if (reviews.length) {
                            _self.reviews.push(
                                ...
                                    reviews
                            )
                            ;
                        } else {
                            _self.reviews_full = true;
                        }
                    } else {
                        _self.reviews = reviews;
                    }

                    _self.loading = false;
                    _self.isRequesting = false;
                    _self.startTourGlobalFirst(_self.tourSteps, 'reviews');
                })
            }
            ,
            counting_review() {
                var _self = this;
                this.$http.get('api/statistic').then(function (response) {
                    _self.stats = response.data.data;
                }).catch(function (error) {
                });
            }
            ,
            updateProviderLink(){
                var _self = this;
                this.$http.get('/api/review_providers/by-user/' + this.search.provider).then(function (response) {
                    if (response.data.data) {
                        _self.reviewLink = response.data.data.reviewed_url;
                    } else {
                        _self.reviewLink = null;
                    }
                });
            },

            counting_review_by_provider(provider) {
                if (!this.stats || !this.reviews) {
                    return;
                }
                switch (provider) {
                    case 'all':
                        return this.stats.totalReview;
                        break;
                    case 'Agoda':
                        return this.stats.reviewByAgoda;
                        break;
                    case 'Booking':
                        return this.stats.reviewByBooking;
                        break;
                    case 'Facebook':
                        return this.stats.reviewByFacebook;
                        break;
                    case 'Google':
                        return this.stats.reviewByGoogle;
                        break;
                    case 'Tripadvisor':
                        return this.stats.reviewByTripadvisor;
                        break;
                    case 'Yelp':
                        return this.stats.reviewByYelp;
                        break;
                    default:
                        return this.stats.totalReview;
                }
            }
            ,
            fromNow: function (date) {
                return moment.unix(date).fromNow()
            }
            ,
            buildSearchQuery: function () {
                var searchQuery = '';
                if (this.search) {
                    searchQuery = "?search=" + this.search.text + '&searchFields=author:like;content:like' + '&min_rating=' + this.search.min + '&max_rating=' + this.search.max + '&provider=' + this.search.provider + '&time=' + this.search.time + '&offset=' + this.reviews.length + '&limit=' + this.search.limit + '&orderBy=published_at&sortedBy=desc';
                }
                return searchQuery;
            }
            ,
            tabClick(provider)
            {
                this.search.provider = provider.key;
                if (!this.isRequesting) {
                    this.reviews = [];
                    this.reviews_full = false;
                    this.loadData();
                }
            },
            getAllReview(){
                this.loading = true;
                this.reviews = [];
                App.blockUI({
                    target: '#review-side-block',
                    message: 'Wait for a few minutes because you have a lot of reviews',
                    boxed: true
                });
                this.$http.get('api/reviews/get').then(function (response) {
                    showToastFromResponse(response);
                    this.loadData();
                    App.unblockUI('#review-side-block')
                }).catch(function (error) {
                    showToastFromResponse(error);
                    this.loadData();
                    App.unblockUI('#review-side-block')
                })
            }
        }
    }
</script>
<style scoped>
    .center {
        text-align: center;
    }
</style>
