<template>
  <span>
    <google-stars v-if="provider == GOOGLE" :rating="rating"></google-stars>
    <yelp-stars v-if="provider == YELP" :rating="rating"></yelp-stars>
    <tripadvisor-stars v-if="provider == TRIPADVISOR" :rating="rating"></tripadvisor-stars>
    <facebook-stars v-if="provider == FACEBOOK" :rating="rating"></facebook-stars>
    <span v-if="provider == AGODA || provider == BOOKING">
      <span class="label label-info">{{rating}}</span>
      <span class="label label-danger">Real: {{rating * 2}}</span>
    </span>
  </span>
</template>
<script>
  import YelpStars from './YelpStars.vue';
  import GoogleStars from './GoogleStars.vue';
  import TripadvisorStars from './TripadvisorStars.vue';
  import FacebookStars from './FacebookStars.vue';
  export default {
    props: {
      rating: {
        default: 5
      },
      provider: {
        default: 'GOOGLE'
      }
    },
    components: {
      YelpStars, GoogleStars, TripadvisorStars, FacebookStars
    },
    data() {
      return {
        GOOGLE: 'GOOGLE',
        YELP: 'YELP',
        FACEBOOK: 'FACEBOOK',
        TRIPADVISOR: 'TRIPADVISOR',
        AGODA: 'AGODA',
        BOOKING: 'BOOKING'
      }
    }
  }
</script>
