<template>
  <span class="rating" :class="getRatingCSS()">
    <i class="star-1">★</i>
    <i class="star-2">★</i>
    <i class="star-3">★</i>
    <i class="star-4">★</i>
    <i class="star-5">★</i>
  </span>
</template>
<script>
  export default {
    props: {
      rating: {
        default: 5
      }
    },
    data() {
      return {
      }
    },
    methods: {
      getRatingCSS() {
        switch (this.rating) {
          case 1:
            return 'rating-1';
          case 1.5:
            return 'rating-1-half';
          case 2:
            return 'rating-2';
          case 2.5:
            return 'rating-2-half';
          case 3:
            return 'rating-3';
          case 3.5:
            return 'rating-3-half';
          case 4:
            return 'rating-4';
          case 4.5:
            return 'rating-4-half';
          case 5:
            return 'rating-5';
        }
      }
    }
  }
</script>
<style scoped>
  .rating {
    margin: 10px 0;
  }

  .rating i {
    display: inline-block;
    width: 0;
    height: 1.5em;
    border-width: 0 0.75em;
    border-style: solid;
    border-color: #eee;
    border-radius: .22em;
    color: white;
    background: #eee;
    font-style: normal;
    line-height: 1.6em;
    text-indent: -0.5em;
    text-shadow: 1px 0 1px #b3b3b3;
  }

  /** Colors */
  .rating-1 .star-1,
  .rating-1-half .star-1 {
    border-color: #cc8b1f;
    background: #cc8b1f;
  }

  .rating-1-half .star-2 {
    border-left-color: #cc8b1f;
  }

  .rating-2 .star-1,
  .rating-2-half .star-1 {
    border-color: #dcb228;
    background: #dcb228;
  }

  .rating-2 .star-2,
  .rating-2-half .star-2 {
    border-color: #dcb228;
    background: #dcb228;
  }

  .rating-2-half .star-3 {
    border-left-color: #dcb228;
  }

  .rating-3 .star-1,
  .rating-3-half .star-1 {
    border-color: #f0991e;
    background: #f0991e;
  }

  .rating-3 .star-2,
  .rating-3-half .star-2 {
    border-color: #f0991e;
    background: #f0991e;
  }

  .rating-3 .star-3,
  .rating-3-half .star-3 {
    border-color: #f0991e;
    background: #f0991e;
  }

  .rating-3-half .star-4 {
    border-left-color: #f0991e;
  }

  .rating-4 .star-1,
  .rating-4-half .star-1 {
    border-color: #f26a2c;
    background: #f26a2c;
  }

  .rating-4 .star-2,
  .rating-4-half .star-2 {
    border-color: #f26a2c;
    background: #f26a2c;
  }

  .rating-4 .star-3,
  .rating-4-half .star-3 {
    border-color: #f26a2c;
    background: #f26a2c;
  }

  .rating-4 .star-4,
  .rating-4-half .star-4 {
    border-color: #f26a2c;
    background: #f26a2c;
  }

  .rating-4-half .star-5 {
    border-left-color: #f26a2c;
  }

  .rating-5 .star-1,
  .rating-5-half .star-1 {
    border-color: #dd050b;
    background: #dd050b;
  }

  .rating-5 .star-2,
  .rating-5-half .star-2 {
    border-color: #dd050b;
    background: #dd050b;
  }

  .rating-5 .star-3,
  .rating-5-half .star-3 {
    border-color: #dd050b;
    background: #dd050b;
  }

  .rating-5 .star-4,
  .rating-5-half .star-4 {
    border-color: #dd050b;
    background: #dd050b;
  }

  .rating-5 .star-5,
  .rating-5-half .star-5 {
    border-color: #dd050b;
    background: #dd050b;
  }

  .rating-5-half .star-6 {
    border-left-color: #dd050b;
  }
</style>
