<template>
    <div class="Image-input">
        <div class="Image-input__image-wrapper">
            <img class="img-responsive" v-show="! imageSrc" :src="'/assets/global/img/logo-pushmeup.jpg'">
            <img v-show="imageSrc" class="Image-input__image" :src="imageSrc"/>
        </div>

        <div class="Image-input__input-wrapper btn green">
            {{text?text:'Upload'}}
            <input @change="previewThumbnail" class="Image-input__input" name="thumbnail" type="file">
        </div>
    </div>
</template>
<style>
    .Image-input {
        display: flex;
        flex-direction: column;
    }

    .Image-input__image-wrapper {
        border-radius: 1px;
        margin-bottom: 10px;
        overflow-y: hidden;
        border-radius: 1px;
        background: #ffffff;
        justify-content: center;
        align-items: center;
        display: flex;
    }

    .Image-input__image-wrapper > .icon {
        color: #ccc;
        font-size: 50px;
        cursor: default;
    }

    .Image-input__image {
        max-width: 100%;
        border-radius: 1px;
    }

    .Image-input__input-wrapper {
        overflow: hidden;
        position: relative;
        background: #eee;
        border-radius: 1px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: rgba(0, 0, 0, 0.2);
        transition: 0.4s background;
    }

    .Image-input__input-wrapper:hover {
        background: #e0e0e0;
    }

    .Image-input__input {
        cursor: inherit;
        display: block;
        font-size: 999px;
        min-height: 100%;
        opacity: 0;
        position: absolute;
        right: 0;
        text-align: right;
        top: 0;
        cursor: pointer;
    }
</style>
<script>
    export default{
        props: ['src'],
        data: function () {
            return {
                imageSrcData: '',
                text: ''
            }
        },
        computed: {
            'imageSrc': function () {
                return this.imageSrcData ? this.imageSrcData : this.src;
            }
        },
        methods: {
            previewThumbnail: function (event) {
                var input = event.target;

                if (input.files && input.files[0]) {
                    var reader = new FileReader();
                    var vm = this;

                    reader.onload = function (e) {
                        vm.imageSrcData = e.target.result;
                    };

                    reader.readAsDataURL(input.files[0]);
                    this.$emit('change', event);
                }
            }
        }
    }
</script>
