<template>
  <form role="form" lpformnum="1" id='form-import-customer'>
      <div class="form-body">
        <div class="form-group col-md-offset-3 col-md-4">
          <form-error :errors="errors" field="name">
              <input class="form-control text-field-large" type="text" placeholder="FULLNAME" v-model="model.name">
          </form-error>
        </div>
        <div class="form-group col-md-offset-3 col-md-4">
          <form-error :errors="errors" field="phone">
              <input class="form-control text-field-large" type="tel" placeholder="PHONE NUMBER" v-model="model.phone">
          </form-error>
        </div>
      </div>
      <div class="form-actions">
        <div class="form-group col-md-offset-3 col-md-4 text-center">
          <button id="btnAdd" type="button" class="btn btn-lg green-haze mt-ladda-btn ladda-button"
                  data-style="expand-right" @click="add">
              <span class="ladda-label">SUBMIT</span>
          </button>
        </div>
      </div>
  </form>
</template>
<script>
    export default {
        data: function () {
            return {
                model: {
                    store_id: AppData.store_id
                },
                errors: {},
            }
        },
        methods: {
          add: function () {
              this.$http.post('api/invites', this.model).then(function (response) {
                  this.model = {store_id: AppData.store_id};
                  // this.$emit('importCustomerSuccess');
                  // eventHub.$emit('SEND_INVITATION_SUCCESS',response.data);
                  showToastFromResponse(response);
              }).catch(function (error) {
                  if (error.data && error.data.data) {
                      this.errors = error.data.data;
                  } else {
                      // this.$emit('importCustomerFail');
                      this.model = {store_id: AppData.store_id};
                      showToastFromResponse(error);
                  }
              });
          }
        }
    }
</script>
<style scoped>
.text-field-large {
  height: 50px;
}
</style>
