<template>
    <div :id="id" class="modal fade" tabindex="-1" data-width="50%">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true" @click="close()"></button>
            <h4 class="modal-title bold font-green-sharp uppercase">{{title}}</h4>
        </div>
        <div class="modal-body" id="email-content-form">
            <slot></slot>
        </div>
        <div class="modal-footer" v-if="showFooter">
            <button type="button" data-dismiss="modal" class="btn btn-outline btn-circle btn-sm dark" @click="close()">
                Close
            </button>
            <button type="button" class="btn green-haze btn-outline btn-circle btn-sm" @click="submit()">Submit</button>
        </div>
    </div><!-- /.modal -->
</template>
<style>
</style>
<script>
    export default{
        computed: {
            id: function () {
                return 'modal_' + this._uid;
            },
            jquerySelector: function () {
                return '#' + this.id;
            }
        },
        props: {
            title: {
                type: String
            },
            show: {
                type: Boolean,
                default: function () {
                    return false;
                }
            },
            showFooter:{
                type: Boolean,
                default: function () {
                    return true;
                }
            }
        },
        mounted: function () {
            if (this.show) {
                this.open();
            }
            var _self = this;
            $(this.jquerySelector).on('hidden.bs.modal', function () {
                _self.$emit('modalClose');
            })
        },
        watch: {
            show: function (value) {
                if (value) {
                    $(this.jquerySelector).modal('show');
                } else {
                    $(this.jquerySelector).modal('hide');
                }
            }
        },
        methods: {
            open: function () {
                $(this.jquerySelector).modal('show');
            },
            close: function () {
                $(this.jquerySelector).modal('hide');
                this.$emit('modalClose');
            },
            submit: function () {
                this.$emit('modalSubmit');
            }
        }
    }
</script>
