<template>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <input :id='id' type="text" class="form-control" :readonly="readonly" :value="displayDateText">
            </div>
        </div>
    </div>
</template>
<script>
    import moment from 'moment';
    export default {
        data() {
            return {
                dateText: moment().format(this.outputFormat),
                displayDateText: moment().format(this.format),
            }
        },
        computed: {
            id: function () {
                return 'month_picker_' + this._uid;
            },
            jquerySelector: function () {
                return '#' + this.id;
            }
        },
        props: {
            readonly: {
                type: Boolean,
                default: false
            },
            format: {
                type: String,
                default: 'YYYY MMM'
            },
            outputFormat: {
                type: String,
                default: 'YYYY-MM'
            }
        },
        mounted() {
            let _self = this;
            $(this.jquerySelector).datepicker({
                format: this.format,
                viewMode: "months",
                minViewMode: "months",
                autoclose: true,
            }).on('changeDate', function (e) {
                _self.dateText = moment(e.date).format(_self.outputFormat);
                _self.displayDateText = moment(e.date).format(_self.format);
                _self.$emit('change', {
                    dateText: _self.dateText
                });
            });
            this.$emit('change', {
                dateText: this.dateText
            });
        }
    }
</script>
