<template>
  <div class="row">
    <div class="col-md-12">
      <div class="note note-info fade in" v-for="notice in notices">
        <button type="button" class="close" @click="close(notice)"></button>
        <p> {{notice.content}} </p>
      </div>
    </div>
  </div>
</template>
<script>
  export default {
    data: function () {
      return {
        notices: []
      }
    },
    mounted: function() {
      this.loadData();
    },
    methods: {
      loadData: function () {
        var _self = this;
        this.$http.get('/api/notices?search=enabled:1?filter=content').then(function (response) {
          _self.notices = response.data.data;
        }).catch(function (error) {
          console.log(error);
        })
      },
      close(notice) {
        var index = this.notices.indexOf(notice);
        if(index != -1)
          this.notices.splice(index, 1);
      }
    }
  }
</script>
