<template>
  <img :class="imageClass" v-if="provider" :src="imageUrl">
</template>
<script>
  export default {
    props: {
      provider: {
        default: 'DEFAULT'
      },
      isSmall: {
        default: false
      }
    },
    data() {
      return {
        providers: ['DEFAULT', 'GOOGLE', 'FACEBOOK', 'TRIPADVISOR', 'YELP', 'AGODA', 'BOOKING', 'DISLIKE', 'BAD-REVIEW']
      }
    },
    computed: {
      imageUrl() {
        var providerImage = 'DEFAULT';
        if (this.providers.indexOf(this.provider) > 0) {
          providerImage = this.provider;
        }
        return '/assets/global/img/providers/' + providerImage + '.png';
      },
      imageClass() {
        return this.isSmall ? 'media-object' : 'timeline-badge-userpic';
      }
    }
  }
</script>
<style scoped>
  .media-object {
    display: inline;
    height: 32px;
    width: 32px;
    border-radius: 32px!important;
  }
</style>
