<template>
  <div>
    <div v-if="changeResponse" class="note" :class="type">
      {{changeResponse.data.message}}
    </div>
  </div>
</template>
<script>
  export default{
    data: function () {
      return {
        isShow: false,
        message: '',
        type: 'note-danger',
        auto:false
      }
    },
    props: {
      'response': {
        type: Object
      }
    },
    computed: {
      changeResponse: function () {
        return this.response;
      }
    },
    updated: function () {
      console.log(["Check Response", this.response, this.changeResponse]);
      if (this.response) {
        this.isShow = true;
        if (this.response.status < 200 || this.response.status > 299) {
          if (response.data && response.data.message) {
            this.message = response.data.message
          }
          if (this.response.data && this.response.data.error) {
            this.message = response.data.error
          }
          this.type = 'note-danger';
        } else {
          if (this.response.data && this.response.data.message) {
            this.message = this.response.data.message;
            this.type = 'note-success'
          }
        }
      }
    }
  }
</script>
