<template>
    <div id="responsive_" class="modal fade" tabindex="-1" data-width="40%">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
            <h4 class="modal-title bold font-green-sharp uppercase">SEND REVIEW INVITATION</h4>
        </div>
        <div class="modal-body">
            <div v-if="messageError" class="alert alert-danger alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
                <p>{{messageError}}</p>
            </div>
            <div class="row">

                <div class="portlet-body form">
                    <!-- BEGIN FORM-->
                    <form action="#" class="form-horizontal">
                        <div class="form-body">

                            <form-error :errors="errors" field="name">
                                <div class="col-md-12">
                                    <input type="text" class="form-control input-lg" placeholder="Fullname"
                                           v-model="request.name">
                                </div>
                            </form-error>

                            <form-error :errors="errors" field="phone">
                                <div class="col-md-12">
                                    <input type="tel" class="form-control input-lg"
                                           placeholder="Phone" v-model="request.phone">
                                </div>
                            </form-error>
                            <div class="col-md-12">
                                <div class="col-md-3">
                                    <label class="control-label">Send via:</label>
                                </div>
                                <div class="col-md-9">
                                    <div class="checkbox" v-for="checkbox in checkboxes">
                                        <label>
                                            <input :id="checkbox.key" type="checkbox" :value="checkbox.key" v-model="types">
                                            {{checkbox.name}}
                                        </label>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </form>
                    <!-- END FORM-->
                </div>

            </div>
        </div>
        <div class="modal-footer">
            <button type="button" data-dismiss="modal" class="btn btn-outline btn-circle btn-dark">Close</button>
            <button type="button" id="sendInviteButton" class="btn btn-circle green mt-ladda-btn ladda-button"
                    @click="sendRequest()" data-style="expand-left"><span class="ladda-label">{{isSending?'Sending...':'Send'}}</span>
            </button>
        </div>
    </div>
</template>

<script>
    export default {
        data: function () {
            return {
                request: {
                    store_id: AppData.store_id,
                    phone: '',
                    name: ''
                },
                errors: {},
                isSending: false,
                messageError: null,
                checkboxes: [
                    {name: 'MMS', key: 'mms'},
                    {name: 'SMS', key: 'sms'},
                ],
                types: [],
            }
        },
        mounted: function () {
            var _self = this;
            $('#responsive').on('hidden.bs.modal', function (e) {
                _self.$emit('close');
                _self.errors = '';
            });
            this.types.push('mms');
        },
        methods: {
            sendRequest: function () {
                var _self = this;
                this.errors = {};
                if(!this.isSending ) {
                    this.isSending = true;
                    this.$http.post('api/invites', this.request).then(function (response) {
                        _self.request = response.data.data;
                        showToastFromResponse(response);
                        var _send = response.data.data.phone_sent;
                        if(_send)
                        {
                            var answer = confirm("This phone number sent. Do you want to send again?");
                            if (answer) {
                                _self.sendInvitation(_self.request);
                            } else {
                                this.isSending = false;
                            }
                        } else {
                            _self.sendInvitation(_self.request);
                        }
                        eventHub.$emit('SEND_INVITATION_SUCCESS', _self.request);
                    }).catch(function (error) {
                        _self.isSending = false;
                        if (error.data && error.data.data) {
                            _self.errors = error.data.data;
                        } else {
                            showToastFromResponse(error);
                        }
                    });
                }
            },
            sendInvitation(request) {
                if (!request.id || this.types.length == 0) {
                    this.isSending = false;
                    $('.modal.in').modal('hide') ;
                    swal('Invitation has not been sent!', 'Please send it later in Customers section', 'warning');
                    return;
                }
                var _self = this;
                return this.$http.post('/api/invites/send', {
                    list: [request.id],
                    via: _self.types
                }).then(function (response) {
                    _self.isSending = false;
                    showToastFromResponse(response);
                    $('.modal.in').modal('hide') ;
                    eventHub.$emit('SEND_INVITATION_SUCCESS', _self.request);
                    _self.request.phone = '';
                    _self.request.name = '';
                }).catch(function (error) {
                   $('.modal.in').modal('hide') ;
                   // console.log(error);
                    _self.isSending = false;
                    showToastFromResponse(error);
                    swal('Invitation has not been sent!', 'You can send it later in Customers section', 'error');
                    eventHub.$emit('SEND_INVITATION_SUCCESS', _self.request);
                     _self.request.phone = '';
                    _self.request.name = '';
                });
            }
        }
    }
</script>
