<template>
  <div class="page-actions">
    <div v-for="n in formRange">
      <send-request-form @close="onCloseForm"></send-request-form>
    </div>
    <div class="btn-group">
      <button type="button" data-toggle="modal" href="#responsive_" class="btn green-haze btn-circle btn-sm" @click="openForm()">
        <span class="nav-button">
          <i class="fa fa-send-o"></i>
          <span class="hidden-xs">Send Invite Request</span>
        </span>
      </button>
      <button type="button" class="btn green-haze btn-circle btn-sm link-review">
          <a :href="reviewLink" target="_blank">
            <span class="nav-button">
              <i class="fa fa-send-o"></i>
              <span>Link Review</span>
            </span>
          </a>
      </button>
      <button type="button" class="btn green-haze btn-circle btn-sm link-check-in">
        <a :href="checkinLink" target="_blank">
          <span class="nav-button">
            <i class="fa fa-send-o"></i>
            <span>Link Check-In</span>
          </span>
        </a>
      </button>
    </div>
  </div>
</template>
<script>
  import SendRequestForm from './SendRequestForm.vue'
  export default {
    data: function () {
      return {
        formRange: 1
      }
    },
    computed: {
        reviewLink: function () {
            return AppData.baseUrl + '/' + AppData.store_slug;
        },
        checkinLink: function () {
            return AppData.baseUrl + '/check-in/' + AppData.store_slug;
        }
    },
    mounted: function() {
    },
    components: {
      SendRequestForm
    },
    methods: {
      openForm() {
        this.formRange += 1;
      },
      onCloseForm() {
        this.formRange -= 1;
      }
    }
  }
</script>
