<template>
    <li>
        <a href="#" class="nav-link nav-toggle" @click="isShowModal = true">
            <i class="icon-support"></i>
            <span class="title">Request & Support</span>
        </a>
        <modal :show="isShowModal"
               :show-footer="false"
               title="Request & Support"
               v-on:modalClose="isShowModal=false">
              <div class="col-md-12">
                <div class="row portlet light bordered">
                    <div class="margin-top-20 profile-desc-link">
                        <i class="fa fa-phone-square"></i>
                        <span>(469) 535-6789</span>
                    </div>
                    <div class="margin-top-20 profile-desc-link">
                        <i class="fa fa-fax"></i>
                        <span>(949) 328-7537</span>
                    </div>
                    <div class="margin-top-20 profile-desc-link">
                        <i class="fa fa-envelope"></i>
                        <span>info@PushMeUp.net</span>
                    </div>
                    <div class="margin-top-20 profile-desc-link">
                        <i class="fa fa-globe"></i>
                        <span>PushMeUp.net</span>
                    </div>
                    <div class="margin-top-20 profile-desc-link">
                        <i class="fa fa-skype"></i>
                        <span>...</span>
                    </div>
                    <div class="margin-top-20 profile-desc-link">
                        <i class="fa fa-download"></i>
                        <a href="https://www.teamviewer.com/en/download/" target="_blank">TeamViewer latest</a>
                    </div>
                </div>
              </div>
            <form role="form" lpformnum="1" id='form-import-customer'>
                <div class="form-body">
                    <div class="row">
                        <div class="col-md-6">
                            <form-error :errors="errors" field="username">
                                <input class="form-control" type="text" :value="username" placeholder="Username" readonly>
                            </form-error>
                        </div>
                        <div class="col-md-6">
                            <form-error :errors="errors" field="email">
                                <input class="form-control" type="email" placeholder="Email" v-model="model.email">
                            </form-error>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <form-error :errors="errors" field="content">
                                <textarea class="form-control" placeholder="Content" v-model="model.content" rows="5"></textarea>
                            </form-error>
                        </div>
                    </div>

                </div>
                <div class="form-actions">
                    <button id="btnAdd" type="button" class="btn blue" @click="send">
                        <span class="ladda-label">{{ (isSending) ? 'Sending ...' : 'Send'}}</span>
                    </button>
                </div>
            </form>
        </modal>
    </li>
</template>
<script>
    export default {
        data(){
            return {
                isShowModal:false,
                model:{
                    content:'',
                    email:''
                },
                isSending: false,
                errors:{}
            }
        },
        props:{
            email:String,
            username:String
        },
        mounted(){
            this.model.email = this.email;
        },
        methods:{
            send(){
                if(!this.isSending) {
                    this.isSending = true;
                    var _self = this;
                    this.$http.post('/api/common/support',this.model).then((response) => {
                        _self.isSending = false;
                        showToastFromResponse(response);
                        _self.isShowModal = false;
                    }).catch((error)=>{
                        _self.isSending = false;
                        _self.errors = error.data.data;
                        showToastFromResponse(error);
                    })
                }
            }
        }
    }
</script>
