<template>
  <span>
    {{isExpanded ? content : truncatedContent}}
    <span class="more" v-if="expandable" @click="expand()">{{moreText}}</span>
  </span>
</template>
<script>
  var ellipsize = require('ellipsize');
  export default {
    props: {
      content: {
        default: ''
      },
      length: {
        type: Number,
        default: 255
      },
      clamp: {
        default: ''
      },
      moreText: {
        default: '...'
      }
    },
    data() {
      return {
        isExpanded: false
      }
    },
    methods: {
      expand() {
        this.isExpanded = !this.isExpanded;
      }
    },
    computed: {
      expandable() {
        return this.content.length > this.length;
      },
      truncatedContent() {
        var clamp = this.clamp;
        return ellipsize(this.content, this.length, {chars: ['', '.'], ellipse: clamp});
      }
    }
  }
</script>
<style scoped>
  .more {
    font-size: 20px;
    color: #999;
    cursor: pointer;
    font-weight: 600;
    letter-spacing: 5px;
  }
</style>
