<template>
  <div>
    <div id="alert_container"></div>
  </div>
</template>
<script>
  export default{
    data: function () {
      return {
        id:Math.floor((Math.random() * 100) + 1)+'',
        alert: {
          container: "#alert_container",
          place: 'append',
          type: "success",
          message: "error message",
          close: true,
          reset: true,
          focus: true,
          closeInSeconds: 0,
          icon: ''
        }
      }
    },
    props: {
      'message': String,
      'type': String,
      'auto': {
        type: Boolean,
        default: function () {
          return true;
        }
      }
    },
    created: function () {
      var _self = this;
      if (this.auto) {
        window.eventHub.$on('EVENT_SHOW_ALERT', function (data) {
          _self.alert = _.assign(_self.alert, data);
          _self.showAlert();
        })
      } else {
        this.showAlert();
      }
    },
    methods: {
      showAlert: function () {
        App.alert(this.alertModel);
      }
    },
    computed: {
      alertModel: function () {
        if (this.message && this.message != ''
                && this.type && this.type != ''
                && !this.auto) {
          return _.assign(this.alert, {container:'#alert_container',type: this.type, message: this.message});
        }
        return _.assign(this.alert,{container:'#alert_container'+this.id});
      }
    }
  }
</script>
