<template>
    <a href="#" @click="resetAndMove">
        <i class="icon-bell"></i> View Tour </a>
</template>
<script>
    import BootstrapTourMixin from '../../mixins/BootstrapTourMixin';
    export default{
        mixins:[BootstrapTourMixin],
        methods:{
            resetAndMove: function () {
                this.resetTour();
                window.location.replace("/");
            }
        }
    }
</script>
