<template>
  <div id="responsive_edit" class="modal fade" tabindex="-1" data-width="90%">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
      <h4 class="modal-title">{{user.id ? 'Edit' : 'Create'}}</h4>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="portlet-body form">
          <!-- BEGIN FORM-->
          <form action="#" class="form-horizontal">
            <div class="form-body">
              <div class="row">
                <div class="col-md-6">
                  <form-error
                    :errors="errors"
                    field="promotion_offer"
                    error-class="col-md-offset-3 col-md-8"
                  >
                    <label class="col-md-3 control-label">Offer</label>
                    <div class="col-md-8">
                      <div class="input-group">
                        <span class="input-group-addon">
                          <i class="fa fa-indent"></i>
                        </span>
                        <input
                          type="text"
                          class="form-control"
                          placeholder="Enter offer"
                          v-model="user.promotion_offer"
                          :disabled="disable"
                        />
                      </div>
                    </div>
                  </form-error>
                  <form-error
                    :errors="errors"
                    field="promotion value"
                    error-class="col-md-offset-3 col-md-8"
                  >
                    <label class="col-md-3 control-label">Value</label>
                    <div class="col-md-4">
                      <div class="input-group">
                        <span class="input-group-addon">
                          <i class="fa fa-usd"></i>
                        </span>
                        <input
                          type="text"
                          class="form-control"
                          placeholder="Promotion value"
                          v-model="user.promotion_value"
                          :disabled="disable"
                        />
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="input-group">
                        <span class="input-group-addon">
                          <i class="fa fa-usd"></i>
                        </span>
                        <select class="form-control" v-model="user.promotion_type" :disabled="disable">
                          <option v-for="type_ in value_type" :value="type_">{{type_}}</option>
                        </select>
                      </div>
                    </div>
                  </form-error>
                </div>
                <div class="col-md-6">
                  <form-error
                    :errors="errors"
                    field="member end"
                    error-class="col-md-offset-3 col-md-8"
                  >
                    <label class="col-md-3 control-label">Send Members</label>
                    <div class="col-md-8">
                      <div class="input-group">
                        <input
                          type="checkbox"
                          v-model="select_"
                          v-on:change="changeMemList"
                          value="0"
                          :disabled="disable"
                        />
                        All Members({{members.length}})
                        <br />
                        <input
                          type="checkbox"
                          v-model="select_"
                          v-on:change="changeMemList"
                          value="3"
                          :disabled="disable"
                        />
                        VIP({{Member_vip}})
                        <br />
                        <input
                          type="checkbox"
                          v-model="select_"
                          v-on:change="changeMemList"
                          value="1"
                          :disabled="disable"
                        />
                        New({{Member_new}})
                        <br />
                        <input
                          type="checkbox"
                          v-model="select_"
                          v-on:change="changeMemList"
                          value="2"
                          :disabled="disable"
                        />
                        Regular({{Member_regular}})
                        <br />
                        <input
                          type="checkbox"
                          v-model="select_"
                          v-on:change="changeMemList"
                          value="4"
                          :disabled="disable"
                        />
                        At Risk({{Member_atrisk}})
                      </div>
                    </div>
                  </form-error>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <form-error
                    :errors="errors"
                    field="promotion start"
                    error-class="col-md-offset-3 col-md-8"
                  >
                    <label class="col-md-3 control-label">Send Date</label>
                    <div class="col-md-8">
                      <div class="input-group">
                        <span class="input-group-addon">
                          <i class="fa fa-calendar"></i>
                        </span>
                        <input
                          type="date"
                          class="form-control"
                          :min="validate_today"
                          v-model="user.promotion_send_date"
                          :disabled="disable"
                        />
                      </div>
                    </div>
                  </form-error>
                </div>
                <div class="col-md-6">
                  <form-error
                    :errors="errors"
                    field="member_emai"
                    error-class="col-md-offset-3 col-md-8"
                  >
                    <label class="col-md-3 control-label">Image <br/> Size Suggestion: 320x480, 480x480</label>
                    <div class="col-md-8">
                      <div class="input-group">
                        <img v-if="user.promotion_image" :src="url_img+user.promotion_image" width="40%" />
                        <input
                          type="file"
                          class="form-control"
                          placeholder="Enter context for message"
                          ref="myFilesUpadte"
                          :disabled="disable"
                        />
                      </div>
                    </div>
                  </form-error>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <form-error
                    :errors="errors"
                    field="promotion start"
                    error-class="col-md-offset-3 col-md-8"
                  >
                    <label class="col-md-3 control-label">Promotion Start</label>
                    <div class="col-md-8">
                      <div class="input-group">
                        <span class="input-group-addon">
                          <i class="fa fa-calendar"></i>
                        </span>
                        <input
                          type="date"
                          class="form-control"
                          v-on:change="valid_day"
                          :min="validate_today"
                          v-model="user.promotion_start"
                          :disabled="disable"
                        />
                      </div>
                    </div>
                  </form-error>
                </div>
                <div class="col-md-6">
                  <form-error
                    :errors="errors"
                    field="member end"
                    error-class="col-md-offset-3 col-md-8"
                  >
                    <label class="col-md-3 control-label">Promotion End</label>
                    <div class="col-md-8">
                      <div class="input-group">
                        <span class="input-group-addon">
                          <i class="fa fa-calendar"></i>
                        </span>
                        <input
                          type="date"
                          class="form-control"
                          :min="validate_start"
                          v-model="user.promotion_end"
                          :disabled="disable"
                        />
                      </div>
                    </div>
                  </form-error>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <form-error
                    :errors="errors"
                    field="member_emai"
                    error-class="col-md-offset-3 col-md-8"
                  >
                    <label class="col-md-3 control-label">
                      <div class="label-text">Message (160 characters)</div>
                    </label>
                    <div class="col-md-8">
                      <div class="input-group">
                        <span class="input-group-addon">
                          <i class="fa fa-envelope"></i>
                        </span>
                        <textarea
                          type="select"
                          class="form-control"
                          placeholder="Enter context for message"
                          v-model="user.promotion_message"
                          :disabled="disable"
                        ></textarea>
                      </div>
                    </div>
                  </form-error>
                </div>
                <div class="col-md-6">
                  <form-error
                    :errors="errors"
                    field="promotion email"
                    error-class="col-md-offset-3 col-md-8"
                  >
                    <label class="col-md-3 control-label">
                      <div class="label-text">Text Email (160 characters)</div>
                    </label>
                    <div class="col-md-8">
                      <div class="input-group">
                        <span class="input-group-addon">
                          <i class="fa fa-envelope"></i>
                        </span>
                        <textarea
                          type="select"
                          class="form-control"
                          placeholder="Enter context for email"
                          v-model="user.promotion_email"
                          :disabled="disable"
                        ></textarea>
                      </div>
                    </div>
                  </form-error>
                </div>
              </div>
            </div>
          </form>
          <!-- END FORM-->

        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" data-dismiss="modal" class="btn btn-outline dark">Close</button>
      <button
        :disabled="disable"
        type="button"
        class="btn green"
        @click="updateUser()"
      >{{ (isSending) ? 'Sending ...' : 'Save'}}</button>
      
    </div>
  </div>
</template>
<script>
export default {
  props: {
    userProp: {
      type: Object,
      default: function() {
        return {
          promotion_store_id: 1,
          promotion_offer: "",
          promotion_value: "",
          promotion_send_date: "",
          promotion_start: "",
          promotion_end: "",
          promotion_email: "",
          promotion_message: "",
          promotion_status: "",
          promotion_send_members: "",
          promotion_image: "",
          memberList:{},
          promotion_created_by: 1,
          promotion_updated_by: 1,
          cronjob_status:0
        };
      }
    },
    memberList:{},
  },
  data: function() {
    return {
      member_type: [
        { index: 1, name: "New",   css: "btn btn-primary" },
        { index: 2, name: "Regular",  css: "btn btn-success" },
        { index: 3, name: "VIP",      css: "btn purple" },
        { index: 4, name: "At Rick",  css: "btn btn-danger" }
      ],
      statuses: [
        { index: 0, name: "Deactive", css: "label-warning" },
        { index: 1, name: "Actived", css: "label-success" }
      ],
      select: [],
      select_:[],
      validate_start: "",
      value_type: ["%", "$"],
      url_img: "/storage/promotion/",
      isUpdated: false,
      showError: false,
      errors: [],
      error : [],
      role_id: AppData.role_id,
      isSending: false,
      listmember:[],
      members:[],
      disable:false
    };
  },
  computed: {
    user() {
      return this.userProp;
    },
    Member_vip() {
      var count = 0;
      for (var index in this.members) {
        if (this.members[index].member_level == 3) count += 1;
      }
      return count;
    },
    Member_new() {
      var count = 0;
      for (var index in this.members) {
        if (this.members[index].member_level == 1) count += 1;
      }
      return count;
    },
    Member_regular() {
      var count = 0;
      for (var index in this.members) {
        if (this.members[index].member_level == 2) count += 1;
      }
      return count;
    },
    Member_atrisk() {
      var count = 0;
      for (var index in this.members) {
        if (this.members[index].member_level == 4) count += 1;
      }
      return count;
    },
    validate_today() {
      var today = new Date();
      var dd = String(today.getDate()).padStart(2, "0");
      var mm = String(today.getMonth() + 1).padStart(2, "0"); //January is 0!
      var yyyy = today.getFullYear();
      today = yyyy + "-" + mm + "-" + dd;
      return today;
    },
    Changetype(){
      if(this.user.promotion_send_members!=null||this.user.promotion_send_members!=''){
        this.select=this.user.promotion_send_members.split(';');
      }
    }
  },
  created: function() {
    console.log("promotion_form updated");
    this.loadMember();
    var _self=this;
    if(_self.user.cronjob_status==2 || _self.user.cronjob_status==1){
      _self.disable=true;
    }
  },
  beforeMount: function() {
    console.log("promotion_form beforeMount");
  },
  mounted: function() {
    console.log("promotion_form mounted");
    this.loadChecked();
    var _self = this;
    $("#responsive_edit").on("hidden.bs.modal", function(e) {
      _self.$emit("close");
      eventHub.$emit("CLOSE-POPUP", true);
      console.log("run close");
      _self.errors = "";
    });
  },
  updated: function() {
    console.log("promotion_form updated");
  },
  beforeDestroy: function() {
    console.log("promotion_form beforeDestroy");
  },
  methods: {
    updateUser: function() {
      var _self = this;
      if (!this.isSending) {
        this.isSending = true;
        if (this.validation()) {
          if (this.error.length != 0 || this.error != null) {
            this.error.forEach(element => {
              showToast("Error", element, "error");
            });
            this.error = [];
          }
          this.isSending = false;
        } else {
          if (this.user.id) {
            var formData = new FormData();
            formData.append("promotion_send_members", this.user.promotion_send_members );
            formData.append("promotion_store_id", this.user.promotion_store_id);
            if (!this.$refs.myFilesUpadte.files[0] == "") {
              formData.append("image", this.$refs.myFilesUpadte.files[0]);
              formData.append("promotion_image", this.user.promotion_image);
            }
            formData.append("promotion_offer", this.user.promotion_offer);
            formData.append("promotion_value", this.user.promotion_value);
            formData.append("promotion_type", this.user.promotion_type);
            formData.append(
              "promotion_send_date",
              this.user.promotion_send_date
            );
            formData.append("promotion_start", this.user.promotion_start);
            formData.append("promotion_end", this.user.promotion_end);
            formData.append("promotion_email", this.user.promotion_email);
            formData.append("promotion_status", this.user.promotion_status);
            formData.append("promotion_message", this.user.promotion_message);
            formData.append(
              "promotion_created_by",
              this.user.promotion_created_by
            );
            formData.append(
              "promotion_updated_by",
              this.user.promotion_updated_by
            );
            
            this.$http.post("/api/promotions/update/" + _self.user.cronjob_type_id, formData).then(
              response => {
                _self.isSending = false;
                var user_ = response.data.data;
                eventHub.$emit("PROMOTION_UPDATED", user_);
                //$('#responsive').modal('hide');
                $(".modal.in").modal("hide");
                _self.errors = "";
                _self.user = user_;
                showToast(
                    "Updated promotion successfully",
                    "Promotion's information has been updated",
                    "success"
                  );
              },
              error => {
                _self.isSending = false;
                if (error.data && error.data.data) {
                  _self.errors = error.data.data;
                }
                showToast(
                  "Updated promotion failed",
                  "Promotion's information has not been updated",
                  "error"
                );
              }
            );
          }
        }
      }
    },
    loadMember: function() {
      var _self = this;
      this.$http
        .get("/api/members")
        .then(function(response) {
          _self.members = response.data.data;
        })
        .catch(function(error) {
          console.log(error);
        });
    },
    validation() {
      var today = new Date();
      today = new Date(today.getYear(), today.getMonth(), today.getDate());
      var dd = String(today.getDate()).padStart(2, "0");
      var mm = String(today.getMonth() + 1).padStart(2, "0");
      var send_date = new Date(this.user.promotion_send_date.split('-')[0],this.user.promotion_send_date.split('-')[1],this.user.promotion_send_date.split('-')[2]);
      var start_date = new Date(this.user.promotion_start.split('-')[0],this.user.promotion_start.split('-')[1],this.user.promotion_start.split('-')[2]);
      var end_date = new Date(this.user.promotion_end.split('-')[0],this.user.promotion_end.split('-')[1],this.user.promotion_end.split('-')[2]);
      if (send_date < today) {
        this.error.push("Send date must be more or same than today");
      }
      if(send_date > start_date){
        this.error.push("Send date must be more or same than Start date");
      }
      if (start_date > end_date) {
        this.error.push("Start date must be more or same than End date");
      }
      if (this.user.promotion_offer.trim() === "") {
        this.error.push("Promotion offer require");
      }
      if (this.user.promotion_value.trim() === "") {
        this.error.push("Promotion value require");
      }
      if (this.user.promotion_start.trim() === "") {
        this.error.push("Start date require");
      }
      if (this.user.promotion_end.trim() === "") {
        this.error.push("End date require");
      }
      if (this.user.promotion_send_date.trim() === "") {
        this.error.push("Send date require");
      }
      if (this.user.promotion_send_members.trim() == "") {
        this.error.push("Send members require");
      }
      if (this.user.promotion_email.trim() === "") {
        this.error.push("Context email require");
      } else if (
        !this.user.promotion_email.trim() == "" &&
        this.user.promotion_email.length > 160
      ) {
        this.error.push("Context email must be less than 160 characters");
      }
      if (
        !this.user.promotion_message.trim() == "" &&
        this.user.promotion_message.length > 160
      ) {
        this.error.push("Context message must be less than 160 characters");
      }
      return this.error != "" ? true : false;
    },
    valid_day: function() {
      this.validate_start = this.user.promotion_start;
    },
    changeMemList: function() {
      this.user.promotion_send_members = "";
      for (var i = 0; i < this.select_.length; i++) {
        this.user.promotion_send_members += this.select_[i] + ",";
      }
    },
    loadChecked: function() {
      var _self = this;
      if(typeof(_self.memberList.length) != 'undefined'){
        for (var i = 0; i < _self.memberList.length; i++) {
          if(_self.memberList[i] != ""){
            _self.select_.push(_self.memberList[i]);
          }
        }
      }
    }
  }
};
</script>
