<template>
  <div class="portlet">
    <div v-for="n in showNewModal">
      <user-form @close="onCloseNew()"></user-form>
    </div>
    <div v-for="n in showEditModal">
      <user-edit-form @close="onCloseEdit()" :userProp="current_user" :memberList="memberList"></user-edit-form>
    </div>
    <div class="col-md-12"></div>
    <div class="col-md-12">
      <!-- BEGIN EXAMPLE TABLE PORTLET-->
      <div class="portlet light bordered">
        <div class="portlet-title">
          <div class="caption font-dark">
            <i class="icon-settings font-dark"></i>
            <span class="caption-subject bold uppercase">All promotions</span>
          </div>
          <div class="actions">
            <div class="label label-default">Total: {{users.length}}</div>
            <div class="label label-info">Active: {{userActive}}</div>
            <div class="label label-warning">Deactive: {{userPending}}</div>
          </div>
        </div>
        <div class="portlet-body">
          <div class="table-toolbar">
            <div class="row">
              <div class="col-md-6">
                <div class="btn-group">
                  <button
                    class="btn sbold green"
                    @click="onClickNewButton()"
                    data-toggle="modal"
                    href="#responsive"
                  >
                    Add New
                    <i class="fa fa-plus"></i>
                  </button>
                </div>
              </div>
              <div class="col-md-6">
                <div class="btn-group pull-right" v-if="false">
                  <button class="btn green btn-outline dropdown-toggle" data-toggle="dropdown">
                    Tools
                    <i class="fa fa-angle-down"></i>
                  </button>
                  <ul class="dropdown-menu pull-right">
                    <li>
                      <a href="javascript:;">
                        <i class="fa fa-print"></i> Print
                      </a>
                    </li>
                    <li>
                      <a href="javascript:;">
                        <i class="fa fa-file-pdf-o"></i> Save as PDF
                      </a>
                    </li>
                    <li>
                      <a href="javascript:;">
                        <i class="fa fa-file-excel-o"></i> Export to Excel
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <table
            class="table table-striped table-bordered table-hover dt-responsive dataTable no-footer dtr-inline collapsed"
            id="sample_1"
          >
            <thead>
              <tr>
                <th>Offer</th>
                <th>Value</th>
                <th>Send date</th>
                <th>Start date</th>
                <th>End date</th>
                <th>Status</th>
                <th></th>
                <th>Edit</th>
                <th>Delete</th>
              </tr>
              <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th>
                  <select class="form-control" v-model="filterStatus" @change="filterChange">
                      <option value="-1">All</option>
                      <option v-for="status in statuses_" :value="status.index">{{status.name}}</option>
                    </select>
                </th>
                <th></th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr v-if="pagination &&  pagination.data && pagination.data.length > 0"
                v-for="model in pagination.data"
                role="row" class="odd gradeX">
                <td>{{model.promotion_offer}}</td>
                <td>{{model.promotion_value}}{{model.promotion_type}}</td>
                <td>{{model.promotion_send_date}}</td>
                <td>{{model.promotion_start}}</td>
                <td>{{model.promotion_end}}</td>
                <td>
                  {{statuses_[model.promotion_status].name}}
                </td>
                <td>
                  <button type="button" data-style="expand-right" class="btn mt-ladda-btn ladda-button btn-circle" v-bind:class="statuses[model.promotion_status].css" @click="onClickChangeStatus(model)">
                        <span class="ladda-label">
                            <i v-bind:class="statuses[model.promotion_status].icon"></i> {{statuses[model.promotion_status].name}} </span>
                    <span class="ladda-spinner"></span><div class="ladda-progress" style="width: 0px;"></div>
                  </button>
                </td>
                <td>
                  <button
                    class="btn btn-info"
                    @click="onClickEditButton(model)"
                    data-toggle="modal"
                    href="#responsive_edit"
                  >
                    <i class="fa fa-edit"></i>
                  </button>
                </td>
                <td>
                  <button v-if="model.promotion_status == 0 && model.cronjob_status != 2" class="btn btn-danger" @click="deleteUser(model)">
                    <i class="fa fa-trash"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <!-- END EXAMPLE TABLE PORTLET-->
    </div>
    <div class="col-md-12">
      <div class="row">
        <div class="row" v-if="pagination &&  pagination.data && pagination.data.length > 0">
          <div class="col-md-12">
            <div class="col-md-4"></div>
            <div class="col-md-4">
              <ul class="pager">
                <li
                  data-lp="1"
                  class="previous"
                  v-bind:class="pagination.current_page == 1?'disabled':''"
                >
                  <a href="javascript:void(0);" @click="backPage()">
                    <i class="fa fa-angle-left"></i>
                  </a>
                </li>
                <span>{{pagination.current_page}}/{{pagination.last_page}}</span>
                <li
                  data-lp="7"
                  class="next"
                  v-bind:class="pagination.current_page == pagination.last_page?'disabled':''"
                >
                  <a href="javascript:void(0);" @click="nextPage()">
                    <i class="fa fa-angle-right fa-4"></i>
                  </a>
                </li>
              </ul>
            </div>
            <div class="col-md-4"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import UserForm from "./Form.vue";
import UserEditForm from "./FormEdit.vue";
export default {
  data: function() {
    return {
      search: "",
      users: [],
      statuses: [
        { index: 0, name: "Actived", css: "btn-warning", icon:"icon-arrow-left" },
        { index: 1, name: "Deactive", css: "btn-info", icon:"icon-arrow-right" }
      ],
      statuses_: [
        { index: 0, name: "Deactive", css: "btn-warning", icon:"icon-arrow-left" },
        { index: 1, name: "Actived", css: "btn-info", icon:"icon-arrow-right" }
      ],
      pagination: {},
      currentPage: 1,
      filterStatus: -1,
      current_user: {},
      origin_user: {},
      isUpdated: false,
      showNewModal: 1,
      showEditModal: 0,
      memberList:{},
      isEdited: false
    };
  },
  components: {
    UserForm,
    UserEditForm
  },
  computed: {
    userActive() {
      var count = 0;
      for (var index in this.users) {
        if (this.users[index].promotion_status == 1) count += 1;
      }
      return count;
    },
    userPending() {
      var count = 0;
      for (var index in this.users) {
        if (this.users[index].promotion_status == 0) count += 1;
      }
      return count;
    },
    searchQuery: function() {
      var query = "?orderBy=promotion_created_at&sortedBy=desc&page=" + this.currentPage + "&";
      var search = "search=";
      if ((this.filterStatus && this.filterStatus > -1) || this.filterStatus==0) {
        search += "promotion_status:" + this.filterStatus + ";";
      }
      query += search.slice(0, -1);
      return query;
    },
    pages: function() {
      var pages = [];
      if (this.pagination && this.pagination.last_page) {
        for (var i = 1; i <= this.pagination.last_page; i++) {
          pages.push(i);
        }
      }
      return pages;
    }
  },
  mounted: function() {
    this.refresh();
    var _self = this;
    eventHub.$on("PROMOTION_CREATED", function() {
      _self.refresh();
    });
    eventHub.$on("PROMOTION_UPDATED", function() {
      _self.refresh();
    });
    eventHub.$on("CLOSE-POPUP", function() {
      console.log("close popup");
      _self.refresh();

    });
  },
  created: function() {
    eventHub.$on("PROMOTION_CREATED", this.onUserCreated);
    eventHub.$on("PROMOTION_UPDATED", this.onUserUpdated);
  },
  updated: function() {
    if (!this.isUpdated) {
      this.isUpdated = true;
    }
  },
  methods: {
    onCloseNew() {
      this.showNewModal -= 1;
    },
    onCloseEdit() {
      this.showEditModal -= 1;
    },
    onClickEditButton(user) {
      this.isEdited = false;
      this.current_user = user;
      this.memberList = user.memberList;
      this.setOriginUser(user);
      this.showEditModal += 1;
    },
    onClickChangeStatus: function(user) {
      if(user.cronjob_status ==2 || user.cronjob_status ==1){
        toastr.warning("Promotion sended");
      }
      else{
        if (user.promotion_status == 0) {
          message = "Do you want active this promotion ?";
        } else {
          message = "Do you want deactive this promotion ?";
        }
      if (confirm(message)) {
        var message = "";
        var _self = this;
        var today = new Date();
        var dd = String(today.getDate()).padStart(2, "0");
        var mm = String(today.getMonth() + 1).padStart(2, "0");
        if (user.promotion_status == 0) {
          if (
            parseInt(user.promotion_send_date.substr(5).replace("-", "")) <
            parseInt(mm + dd)
          ) {
            toastr.warning("Please change send date", "", "Warning");
            this.onClickEditButton(user);
          } else {
            user.promotion_status = 1;
            this.$http.put("/api/promotions/" + user.cronjob_type_id, user).then(
              response => {
                showToast("Change status successfully", "", "success");
              },
              response => {
                console.log("Change status failed:" + response);
                showToast(
                  "Change status failed",
                  "Promotion has not change status",
                  "error"
                );
              }
            );
          }
        } else if (user.promotion_status == 1) {
          user.promotion_status = 0;
          this.$http.put("/api/promotions/" + user.cronjob_type_id, user).then(
            response => {
              showToast("Change status successfully", "", "success");
            },
            response => {
              console.log("Change status failed:" + response);
              showToast(
                "Change status failed",
                "Promotion has not change status",
                "error"
              );
            }
          );
        }
      } 
      }
      
    },
    onClickNewButton() {
      this.showNewModal += 1;
    },
    setOriginUser(user) {
      this.origin_user = _.clone(user);
    },
    searchChange: _.debounce(function() {
      this.refresh();
    }, 500),
    refresh: function() {
      var _self = this;
      // var searchQuery = this.buildSearchQuery();
      this.$http
        .get("/api/promotions/pagination" + this.searchQuery)
        .then(function(response) {
          _self.users = response.data.data.data;
          _self.pagination = response.data.data;
        })
        .catch(function(error) {
          console.log(error);
        });
    },
    changePage: function(index) {
      this.currentPage = index;
      this.refresh();
    },
    backPage: function() {
      if (this.currentPage > 1) {
        this.currentPage--;
        this.refresh();
      }
    },
    nextPage: function() {
      if (this.currentPage < this.pagination.last_page) {
        this.currentPage++;
        this.refresh();
      }
    },
    filterChange: function() {
      this.refresh();
    },
    updateStatus: function(user) {
      var oldStatus = user.status;
      var _self = this;
      this.$http
        .put("/api/promotions/" + user.id, {
          user_id: user.id
        })
        .then(
          response => {
            showToast(
              "Updated status successfully",
              "User's status has been changed",
              "success"
            );
          },
          response => {
            user.status = oldStatus;
            showToast(
              "Updated status failed",
              "User's status has not been changed",
              "error"
            );
          }
        );
    },
    onUserCreated: function(user) {
      //this.users.push(user);
      //showToast('User', 'User has been added to list', 'info');
    },
    onUserUpdated: function(user) {
      //console.log("Edited",user);
      this.isEdited = true;
    },
    deleteUser: function(user) {
      if (confirm("Do you want to delete?")) {
        var _self = this;
        console.log(user.id);
        user.promotion_status = 0;
        this.$http.post("/api/promotions/delete/" + user.id, user).then(
          response => {
            var index = _self.users.indexOf(user);
            if (index != -1) _self.users.splice(index, 1);
            showToast(
              "Deleted successfully",
              "Promotion has been removed",
              "success"
            );
          },
          response => {
            console.log("Delete failed:" + response);
            showToast("Delete failed", " Promotion has not been deleted", "error");
          }
        );
      }
    }
  }
};
</script>
<style>
.dataTables_filter {
  float: right !important;
}
</style>
