// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
//@import "variables";

// Bootstrap
//@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

@import "auth/layout";

.page-header.navbar .page-logo .logo-default {
  margin: 10px 10px 0;
}

/* Removes the clear button from date inputs */
input[type="date"]::-webkit-clear-button {
  display: none;
}

/* Removes the spin button */
input[type="date"]::-webkit-inner-spin-button { 
  display: none;
}

/* Always display the drop down caret */
input[type="date"]::-webkit-calendar-picker-indicator {
  color: #2c3e50;
}

/* A few custom styles for date inputs */
input[type="date"] {
  appearance: none;
  -webkit-appearance: none;
  /*color: #95a5a6;
  font-family: "Helvetica", arial, sans-serif;
  font-size: 18px;*/
  /*border:1px solid #ecf0f1;
  background:#ecf0f1;*/
  padding:0;
  display: inline-block !important;
  visibility: visible !important;
}

input[type="date"], focus {
  color: #333;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}
.icon-dexuat {
  width: 16px;
  height: 16px;
  background-position: 0 -96px;
  background-image: url(/assets/global/img/providers/facebook-star.png);
  background-size: auto;
  background-repeat: no-repeat;
  display: inline-block;
}
.page-header.navbar .page-actions .btn-group .btn-sm {
  margin-left: 10px;
}
.link-review a, .link-check-in a {
  color:#fff;
}