<template>
  <div id="responsive" class="modal fade" tabindex="-1" data-width="50%">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
      <h4 class="modal-title">{{notice.id ? 'Edit' : 'Create'}}</h4>
    </div>
    <div class="modal-body">
      <div v-if="errors" class="alert alert-danger alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
        <p>{{errors}}</p>
      </div>
      <div class="row">

        <div class="portlet-body form">
          <!-- BEGIN FORM-->
          <form action="#" class="form-horizontal">
            <div class="form-body">
              <div class="form-group">
                <label class="col-md-3 control-label">Notice</label>
                <div class="col-md-8">
                  <textarea type="text" class="form-control" row="3" placeholder="Content" v-model="notice.content"></textarea>
                </div>
              </div>
              <div class="form-group" v-show="notice.id">
                <label class="col-md-3 control-label">Created at</label>
                <div class="col-md-8">
                  <div class="input-group">
                    <span class="input-group-addon">
                      <i class="fa fa-envelope"></i>
                    </span>
                    <input type="text" class="form-control" :value="notice.created_at" :disabled="notice.id">
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-3 control-label">Status</label>
                <div class="col-md-8">
                  <select v-model="notice.enabled" class="form-control">
                    <option v-for="status in statuses" :value="status.index">{{ status.name }}</option>
                  </select>
                </div>
              </div>
            </div>
          </form>
          <!-- END FORM-->
        </div>

      </div>
    </div>
    <div class="modal-footer">
      <button type="button" data-dismiss="modal" class="btn btn-outline dark">Close</button>
      <button type="button" class="btn green" @click="updateNotice()">{{notice.id ? 'Save changes' : 'Create'}}</button>
    </div>
  </div>
</template>
<script>
  export default{
    props:
      {
        notice:
          {
            type: Object,
            default: function(){
              return {
                title: '',
                content: '',
                enabled: 0,
                type: 0
              }
            }
          }
      }
      ,
    data: function () {
      return {
        statuses:
          [
            {index: 0, name: 'Disabled', css: 'label-warning'},
            {index: 1, name: 'Enabled', css: 'label-success'}
          ],
        isUpdated: false,
        showError: false,
        errors: '',
        notice_default:
          {
            title: '',
            content: '',
            enabled: 0,
            type: 0
          }
      }
    },
    created: function () {
      console.log('notice_form created');
    },
    beforeMount: function () {
      console.log('notice_form beforeMount');
    },
    mounted: function () {
      console.log('notice_form mounted');
      var _self = this;
      $('#responsive').on('hidden.bs.modal', function (e) {
        _self.errors = '';
        _self.$emit('close');
      });
    },
    updated: function () {
      console.log('notice_form updated');
    },
    beforeDestroy: function () {
      console.log('notice_form beforeDestroy');
    },
    methods: {
      updateNotice: function() {
        var _self = this;
        if (this.notice.id) {
          this.$http.put('/api/notices/' + this.notice.id, this.notice).then((response) => {
            var notice = response.data.data;
            eventHub.$emit("NOTICE_UPDATED", notice);
            $('#responsive').modal('toggle');
            _self.errors = '';
            showToast('Updated notice successfully', 'Notice has been updated', 'success');
          }, (response) => {
            _self.errors = response.data.message;
            showToast('Updated notice failed', 'Notice has not been updated', 'error');
          });
        } else {
          this.$http.post('/api/notices', this.notice, {method: 'POST'}).then((response) => {
            var notice = response.data.data;
            eventHub.$emit("NOTICE_CREATED", notice);
            $('#responsive').modal('toggle');
            _self.errors = '';
            _self.notice = _.assignIn(_self.notice, _self.notice_default);
            showToast('Created notice successfully', 'Notice has been created', 'success');
          }, (response) => {
            _self.errors = response.data.message;
            showToast('Created notice failed', 'Notice has not been created', 'error');
          });
        }
      }
    }
  }
</script>
