<template>
  <div class="row">
    <div v-for="n in showNewModal">
      <notice-form @close="onCloseNew()"></notice-form>
    </div>
    <div v-for="n in showEditModal">
      <notice-form @close="onCloseEdit()" :notice="current_notice"></notice-form>
    </div>
    <div class="col-md-12">
      <!-- BEGIN EXAMPLE TABLE PORTLET-->
      <div class="portlet light bordered">
        <div class="portlet-title">
          <div class="caption font-dark">
            <i class="icon-settings font-dark"></i>
            <span class="caption-subject bold uppercase"> All notices </span>
          </div>
          <div class="actions">
            <div class="label label-info">
              Total: {{notices.length}}
            </div>
            <div class="label label-success">
              Active: {{noticeActive}}
            </div>
            <div class="label label-danger">
              Deactive: {{notices.length - noticeActive}}
            </div>
          </div>
        </div>
        <div class="portlet-body">
          <div class="table-toolbar">
            <div class="row">
              <div class="col-md-6">
                <div class="btn-group">
                  <button class="btn sbold green" @click="onClickNewButton()" data-toggle="modal" href="#responsive"> Add New
                  <i class="fa fa-plus"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <table class="table table-striped table-bordered table-hover table-checkable order-column" id="sample_3">
            <thead>
              <tr>
                <th><input type="checkbox" class="group-checkable" data-set="#sample_1 .checkboxes" /></th>
                <th> Index </th>
                <th> Notices </th>
                <th> Created at </th>
                <th> Published </th>
                <th> Edit </th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(notice, index) in notices" class="odd gradeX">
                <td><input type="checkbox" class="checkboxes" value="1" /></td>
                <td> {{index + 1}} </td>
                <td> {{notice.content}} </td>
                <td> {{notice.created_at}} </td>
                <td>
                  <span class="hide"> {{notice.enabled}} </span>
                  <input type="checkbox" id="checkbox" v-model="notice.enabled" :value="notice.enabled" @change="updateStatus(notice)">
                </td>
                <td>
                  <button class="btn btn-info" @click="onClickEditButton(notice)" data-toggle="modal" href="#responsive">
                    <i class="fa fa-edit"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <!-- END EXAMPLE TABLE PORTLET-->
    </div>
  </div>
</template>
<script>
  var TableDatatablesManaged = require('../../../utils/table-datatables-responsive');
  import NoticeForm from './Form.vue'
  export default {
    data: function () {
      return {
        search: '',
        notices: [],
        current_notice: {},
        origin_notice: {},
        isUpdated: false,
        showNewModal: 0,
        showEditModal: 0,
        isEdited: false
      }
    },
    components: {
      NoticeForm
    },
    computed: {
      noticeActive() {
        var count = 0;
        for (var notice in this.notices){
          if (this.notices[notice].enabled == true) count += 1;
        }
        return count;
      }
    },
    created: function () {
      this.loadData();
      eventHub.$on("NOTICE_CREATED", this.onNoticeCreated);
      eventHub.$on("NOTICE_UPDATED", this.onNoticeUpdated);
    },
    updated: function () {
      if (!this.isUpdated) {
        TableDatatablesManaged.default.init();
        this.isUpdated = true;
      }
    },
    methods: {
      onCloseEdit() {
        this.showEditModal -= 1;
        if (!this.isEdited) {
          this.current_notice = _.assignIn(this.current_notice, this.origin_notice);
        }
      },
      onCloseNew() {
        this.showNewModal -= 1;
      },
      onClickEditButton(notice) {
        this.isEdited = false;
        this.showEditModal += 1;
        this.current_notice = notice;
        this.setOriginNotice(notice)
      },
      onClickNewButton() {
        this.showNewModal += 1;
      },
      setOriginNotice(notice){
        this.origin_notice = _.clone(notice);
      },
      loadData: function () {
        var _self = this;
        this.$http.get('/api/notices').then(function (response) {
          console.log(response);
          _self.notices = response.data.data;
        }).catch(function (error) {
          console.log(error);
        })
      },
      updateStatus: function(notice) {
        var oldStatus = notice.enabled;
        var _self = this;
        this.$http.put('/api/notices/' + notice.id, {enabled: notice.enabled, content: notice.content}).then((response) => {
          showToast('Updated status successfully', 'Notice\'s status has been changed', 'success');
        }, (response) => {
          notice.enabled = oldStatus;
          showToast('Updated status failed', 'Notice\'s status has not been changed', 'error');
        });
      },
      onNoticeCreated: function(notice) {
        this.notices.push(notice);
        showToast('Notice', 'Notice has been added to list', 'info');
      },
      onNoticeUpdated: function(notice) {
        console.log("Edited", notice);
        this.isEdited = true;
      },
      deleteNotice: function(notice) {
        if (confirm("Do you want to delete?")) {
          var _self = this;
          this.$http.delete('/api/notices/' + notice.id).then((response) => {
            var index = _self.notices.indexOf(notice);
            if(index != -1)
                _self.notices.splice(index, 1);
            showToast('Deleted notice successfully', 'Notice has been deleted', 'success');
          }, (response) => {
            showToast('Deleted notice failed', 'Notice has not been deleted', 'error');
          });
        }
      }
    }
  }
</script>
<style>
  .dataTables_filter {
    float: right !important;
  }
</style>
