<template>
  <div class="row">
    <div v-for="n in showNewModal">
      <user-form @close="onCloseNew()"></user-form>
    </div>
    <div v-for="n in showEditModal">
      <user-edit-form @close="onCloseEdit()" :userProp="current_user"></user-edit-form>
    </div>
    <div class="col-md-12"></div>
    <div class="col-md-12">
      <!-- BEGIN EXAMPLE TABLE PORTLET-->
      <div class="portlet light bordered">
        <div class="portlet-title">
          <div class="caption font-dark">
            <i class="icon-settings font-dark"></i>
            <span class="caption-subject bold uppercase">All birthday</span>
          </div>
        </div>
        <div class="portlet-body">
          <div class="row">
            <div class="portlet-body form">
              <div class="form-body">
                <form-error field="birthday_value" error-class="col-md-offset-3 col-md-8">
                  <label class="col-md-12 control-label">What is the value of promotion</label>
                  <div class="col-md-4">
                    <div class="input-group">
                      <span class="input-group-addon">
                        <i class="fa fa-usd"></i>
                      </span>
                      <input
                        type="text"
                        class="form-control"
                        placeholder="Promotion value"
                        v-model="user.birthday_value"
                        :disabled="disabled"
                      />
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="input-group">
                      <span class="input-group-addon">
                        <i class="fa fa-usd"></i>
                      </span>
                      <select
                        class="form-control"
                        v-model="user.birthday_type"
                        :disabled="disabled"
                      >
                        <option v-for="type_ in value_type" :value="type_">{{type_}}</option>
                      </select>
                    </div>
                  </div>
                </form-error>
                <form-error field="birthday_send_date" error-class="col-md-offset-3 col-md-8">
                  <label
                    class="col-md-12 control-label"
                  >How many days before customer's birthday do you want to send this promotion ?</label>
                  <div class="col-md-8">
                    <div class="input-group">
                      <span class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                      </span>
                      <select
                        class="form-control"
                        placeholder="Email"
                        v-model="user.birthday_send_date"
                        :disabled="disabled"
                      >
                        <option value="7" selected="true">7 days</option>
                        <option value="3">3 days</option>
                        <option value="15">15 days</option>
                        <option value="30">30 days</option>
                      </select>
                    </div>
                  </div>
                </form-error>
                <form-error field="birthday_allow" error-class="col-md-offset-3 col-md-8">
                  <label
                    class="col-md-12 control-label"
                  >How many days after customer's birthday do you want to available this promotion ?</label>
                  <div class="col-md-8">
                    <div class="input-group">
                      <span class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                      </span>
                      <select
                        class="form-control"
                        placeholder="Email"
                        v-model="user.birthday_allow"
                        :disabled="disabled"
                      >
                        <option value="0">On their birthday</option>
                        <option value="3" selected="true">3 days</option>
                        <option value="7">7 days</option>
                        <option value="15">15 days</option>
                        <option value="14">14 days</option>
                        <option value="30">30 days</option>
                      </select>
                    </div>
                  </div>
                </form-error>
                <form-error field="birthday_message" error-class="col-md-offset-3 col-md-8">
                  <label class="col-md-12 control-label">Message to show to customer</label>
                  <div class="col-md-8">
                    <div class="input-group">
                      <span class="input-group-addon">
                        <i class="fa fa-indent"></i>
                      </span>
                      <textarea
                        class="form-control"
                        placeholder="Enter message"
                        v-model="user.birthday_message"
                        :disabled="disabled"
                      ></textarea>
                    </div>
                  </div>
                </form-error>
                <form-error field="birthday_status" error-class="col-md-offset-3 col-md-8">
                  <label class="col-md-12 control-label">Change Status</label>
                  <div class="col-md-8">
                    <div class="input-group">
                      <span class="input-group-addon">
                        <i class="fa fa-envelope"></i>
                      </span>
                      <select
                        type="select"
                        class="form-control"
                        placeholder="Email"
                        v-model="user.birthday_status"
                        :disabled="disabled"
                      >
                        <option value="1">Actived</option>
                        <option value="0">Pending</option>
                      </select>
                    </div>
                  </div>
                </form-error>
              </div>
            </div>
          </div>
          <br/>
          <div class="row">
            <div class="col-md-6">
              <div class="btn-group">
                <button
                  class="btn sbold green"
                  @click="changeInfo"
                  href="#responsive"
                  v-if="disabled==true"
                >
                  Edit
                </button>
              </div>
              <div class="btn-group">
                <button
                  class="btn sbold green"
                  @click="onClickEdit"
                  href="#responsive"
                  v-if="disabled==false"
                >Save</button>
              </div>
              <div class="btn-group">
                <button
                  class="btn btn-outline dark"
                  @click="disabled=true"
                  href="#responsive"
                  v-if="disabled==false"
                >Close</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- END EXAMPLE TABLE PORTLET-->
    </div>
  </div>
</template>
<script>
import UserForm from "./Form.vue";
import UserEditForm from "./FormEdit.vue";
export default {
  data: function() {
    return {
      search: "",
      user: {},
      statuses: [
        { index: 0, name: "Deactive", css: "label-warning" },
        { index: 1, name: "Actived", css: "label-success" }
      ],
      value_type: ["%", "$"],
      pagination: {},
      currentPage: 1,
      filterStatus: -1,
      current_user: {},
      origin_user: {},
      isUpdated: false,
      showNewModal: 1,
      showEditModal: 1,
      isEdited: false,
      disabled: true,
      isSending: false
    };
  },
  components: {
    UserForm,
    UserEditForm
  },
  computed: {
    searchQuery: function() {
      var query =
        "?orderBy=birthday_created_at&sortedBy=desc&page=" +
        this.currentPage +
        "&";
      var search = "search=";
      if (this.filterStatus && this.filterStatus >= 0) {
        search += "birthday_status:" + this.filterStatus + ";";
      }
      query += search.slice(0, -1);
      return query;
    },
    pages: function() {
      var pages = [];
      if (this.pagination && this.pagination.last_page) {
        for (var i = 1; i <= this.pagination.last_page; i++) {
          pages.push(i);
        }
      }
      return pages;
    }
  },
  mounted: function() {
    this.refresh();
    var _self = this;
    eventHub.$on("BIRTHDAY_CREATED", function() {
      _self.refresh();
    });
    eventHub.$on("BIRTHDAY_UPDATED", function() {
      _self.refresh();
    });
  },
  created: function() {
    eventHub.$on("BIRTHDAY_CREATED", this.onUserCreated);
    eventHub.$on("BIRTHDAY_UPDATED", this.onUserUpdated);
  },
  updated: function() {
    if (!this.isUpdated) {
      this.isUpdated = true;
    }
  },
  methods: {
    changeInfo: function() {
      this.disabled = false;
    },
    onCloseNew() {
      this.showNewModal -= 1;
    },
    onCloseEdit() {
      this.showEditModal -= 1;
    },
    onClickEditButton() {
      this.isEdited = false;
      this.showEditModal += 1;
    },
    onClickEdit: function(user) {
      this.isSending = true;
      var message = "";
      var _self = this;
      console.log("loading" + _self.user.birthday_value);
      if (_self.user.birthday_message.length > 160) {
        showToast("Error", "message must be less than 160 characters", "error");
        return;
      } else if (_self.user.birthday_message == "") {
        showToast("Error", "message require", "error");
        return;
      } else if (_self.user.birthday_value == "") {
        console.log("loading");
        showToast("Error", "Value of promotion require", "error");
        return;
      } else {
        this.$http.put("/api/birthdays/" + _self.user.id, _self.user).then(
          response => {
            this.disabled = true;
            this.isSending = false;
            showToast("Change birthday successfully", "", "success");
          },
          response => {
            console.log("Change birthday failed:" + response);
            showToast(
              "Change birthday failed",
              "birthday has not change",
              "error"
            );
          }
        );
      }
    },
    onClickNewButton() {
      this.showNewModal += 1;
    },
    setOriginUser(user) {
      this.origin_user = _.clone(user);
    },
    searchChange: _.debounce(function() {
      this.refresh();
    }, 500),
    refresh: function() {
      var _self = this;
      this.$http
        .get("/api/birthdays/pagination" + this.searchQuery)
        .then(function(response) {
          response.data.data.data.forEach(function(element) {
            _self.current_user = element;
            _self.user = element;
          });
          _self.pagination = response.data.data;
        })
        .catch(function(error) {
          console.log(error);
        });
    },
    changePage: function(index) {
      this.currentPage = index;
      this.refresh();
    },
    backPage: function() {
      if (this.currentPage > 1) {
        this.currentPage--;
        this.refresh();
      }
    },
    nextPage: function() {
      if (this.currentPage < this.pagination.last_page) {
        this.currentPage++;
        this.refresh();
      }
    },
    filterChange: function() {
      this.refresh();
    },
    updateStatus: function(user) {
      var oldStatus = user.status;
      var _self = this;
      this.$http
        .put("/api/birthdays/" + user.id, {
          user_id: user.id
        })
        .then(
          response => {
            showToast(
              "Updated status successfully",
              "User's status has been changed",
              "success"
            );
          },
          response => {
            user.status = oldStatus;
            showToast(
              "Updated status failed",
              "User's status has not been changed",
              "error"
            );
          }
        );
    },
    onUserCreated: function(user) {
      //this.users.push(user);
      //showToast('User', 'User has been added to list', 'info');
    },
    onUserUpdated: function(user) {
      //console.log("Edited",user);
      //this.isEdited = true;
    },
    deleteUser: function(user) {
      if (confirm("Do you want to delete?")) {
        var _self = this;
        if (user.birthday_status == 1) {
          user.birthday_status = 0;
          this.$http.put("/api/birthdays/" + user.id, user).then(
            response => {
              showToast(
                "Deleted successfully",
                "birthday has been removed",
                "success"
              );
            },
            response => {
              console.log("Delete failed:" + response);
              showToast(
                "Delete failed",
                " birthday has not been deleted",
                "error"
              );
            }
          );
        } else if (user.birthday_status == 0) {
          this.$http.post("/api/birthdays/delete" + user.id, user).then(
            response => {
              var index = _self.users.indexOf(user);
              if (index != -1) _self.users.splice(index, 1);
              showToast(
                "Deleted successfully",
                "birthday has been removed",
                "success"
              );
            },
            response => {
              console.log("Delete failed:" + response);
              showToast(
                "Delete failed",
                " birthday has not been deleted",
                "error"
              );
            }
          );
        }
      }
    }
  }
};
</script>
<style>
.dataTables_filter {
  float: right !important;
}
</style>
