<template>
    <div class="row">
        <div class="col-md-12">
            <proxy-component/>
            <google-analytic-component/>
            <sms-setting-component/>
        </div>
    </div>
</template>
<script>
    import ProxyComponent from './Proxy.vue';
    import GoogleAnalyticComponent from './GoogleAnalytic.vue';
    import SmsSettingComponent from './SmsSetting.vue';
    export default {
        components:{
            ProxyComponent,
            GoogleAnalyticComponent,
            SmsSettingComponent
        }
    }
</script>