<template>
    <div class="form-group">
        <label>{{title}}</label>
        <input v-if="type == 'text'" type="text" class="form-control" :placeholder="title" v-model="setting.value" @blur="update">
        <input v-if="type == 'number'" type="number" class="form-control" :placeholder="title" v-model="setting.value" @blur="update">
        <input v-if="type == 'email'" type="email" class="form-control" :placeholder="title" v-model="setting.value" @blur="update">
        <input v-if="type == 'tel'" type="tel" class="form-control" :placeholder="title" v-model="setting.value" @blur="update">
        <input v-if="type == 'date'" type="date" class="form-control" :placeholder="title" v-model="setting.value" @blur="update">
        <input v-if="type == 'datetime'" type="datetime" class="form-control" :placeholder="title" v-model="setting.value" @blur="update">
    </div>
</template>
<script>
    export default{
        data: function () {
            return {
                setting: ''
            }
        },
        props: {
            title: String,
            keySetting: String,
            type: {
                type: String,
                default: 'text',
                required: false
            }
        },
        mounted(){
            this.loadSetting();
        },
        methods: {
            loadSetting(){
                let _self = this;
                this.$http.get('/api/master_settings/key/' + this.keySetting).then(function (response) {
                    _self.setting = response.data.data;
                });
            },
            update(){
                let _self = this;
                console.log('update');
                this.$http.put('/api/master_settings/' + this.setting.id, {
                    value: this.setting.value.toString()
                }).then(function (response) {
                    _self.setting = response.data.data;
                });
            }
        }
    }
</script>