<template>
    <div class="portlet light bordered">
        <div class="portlet-title">
            <div class="caption font-dark">
                <i class="icon-settings font-dark"></i>
                <span class="caption-subject bold uppercase"> SMS Setting </span>
            </div>
            <div class="actions">
                <div class="btn-group btn-group-devided">
                </div>
            </div>
        </div>
        <div class="portlet-body form">
            <form role="form" lpformnum="1">
                <master-setting-text-input title="SMS Limit" key-setting="number_sms_limit_per_month" type="number"/>
                <master-setting-text-input title="SMS Price" key-setting="sms_price_per_message" type="number"/>
            </form>
        </div>
    </div>
</template>
<script>
    import MasterSettingTextInput from './MasterSettingTextInput.vue';
    export default{
        components:{
            MasterSettingTextInput
        }
    }
</script>