<template>
  <div class="portlet light">
    <div class="portlet-title">
      <div class="caption font-gray-sharp">
        <span class="caption-subject bold"> NOTICES </span>
      </div>
    </div>
    <div class="portlet-body">
      <div class="row">
        <div class="col-md-12">
          <div class="note note-info fade in" v-for="notice in notices">
            <p> {{notice.content}} </p>
          </div>
          <div v-if="notices.length == 0">
            <p>No actived notice.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
  export default {
    data: function () {
      return {
        notices: []
      }
    },
    mounted: function() {
      this.loadData();
    },
    methods: {
      loadData: function () {
        var _self = this;
        this.$http.get('/api/notices?search=enabled:1?filter=content').then(function (response) {
          _self.notices = response.data.data;
        }).catch(function (error) {
          console.log(error);
        })
      }
    }
  }
</script>
