<template>
    <div class="row" id="dashboard-block">
      <div class="col-md-12">
        <user-statistic></user-statistic>
      </div>
    </div>
</template>
<script>
  import UserStatistic from "./UserStatistic.vue";
  import ActivedNotice from "./ActivedNotice.vue";
  import Log from "./Log.vue";
  import ReviewStatistic from "./ReviewStatistic.vue";
  var blockUI = '#dashboard-block';
  export default {
    data: function () {
        return {
            model: {
            }
        }
    },
    computed: {
    },
    components: {
      UserStatistic, ActivedNotice, Log, ReviewStatistic
    }
  }
</script>
