<template>
<div class="portlet light bordered" id="logs-block">
  <div class="portlet-title">
    <div class="caption font-gray-sharp">
      <span class="caption-subject bold"> MEMBER ACTIVITIES </span>
    </div>
  </div>
  <div class="portlet-body">
    <div class="row number-stats margin-bottom-30" v-if="false">
      <div class="col-md-6 col-sm-6 col-xs-6">
          <div class="stat-left">
              <div class="stat-chart">
                  <!-- do not line break "sparkline_bar" div. sparkline chart has an issue when the container div has line break -->
                  <div id="sparkline_bar"><canvas width="113" height="55" style="display: inline-block; width: 113px; height: 55px; vertical-align: top;"></canvas></div>
              </div>
              <div class="stat-number">
                  <div class="title"> Total </div>
                  <div class="number"> 2460 </div>
              </div>
          </div>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-6">
          <div class="stat-right">
              <div class="stat-chart">
                  <!-- do not line break "sparkline_bar" div. sparkline chart has an issue when the container div has line break -->
                  <div id="sparkline_bar2"><canvas width="107" height="55" style="display: inline-block; width: 107px; height: 55px; vertical-align: top;"></canvas></div>
              </div>
              <div class="stat-number">
                  <div class="title"> New </div>
                  <div class="number"> 719 </div>
              </div>
          </div>
      </div>
    </div>
    <div class="table-scrollable table-scrollable-borderless scroller">
      <table class="table table-striped table-bordered table-hover dt-responsive dataTable no-footer dtr-inline collapsed" id="logs_table">
        <thead>
            <tr class="uppercase">
                <th></th>
                <th> User </th>
                <th> Email </th>
                <th> IP </th>
                <th> Actions </th>
                <th> Date </th>
            </tr>
        </thead>
        <tbody>
          <tr v-for="log, i in logs">
              <td> {{i + 1}} </td>
              <td>
                <span class="label label-sm" v-bind:class="roles[log.role].css"> {{log.full_name}} </span>
              </td>
              <td> {{log.email}} </td>
              <td> {{log.ip_address}} </td>
              <td> {{log.text}} </td>
              <td> {{log.created_at}} </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
</template>
<script>
  var TableDatatablesManaged = require('../../../utils/table-datatables-responsive');
  var blockUI = '#logs-block';
  export default {
    data: function () {
      return {
        count: 100,
        data: {},
        logs: [],
        roles:
        [
          {index: 0, name: 'User', css: 'label-success'},
          {index: 1, name: 'Manager', css: 'label-danger'},
        ],
        isUpdated: false
      }
    },
    created: function () {
      this.refresh();
    },
    updated() {
      if (!this.isUpdated) {
        TableDatatablesManaged.default.init();
        this.isUpdated = true;
      }
    },
    methods: {
      refresh: function () {
        App.blockUI({
          target: blockUI,
          animate: true
        });
        var _self = this;
        this.$http.get('/api/activity_logs').then(function (response) {
          _self.data = response.data.data;
          _self.logs = response.data.data;
          App.unblockUI(blockUI);
          console.log(_self.data.data);
        }).catch(function (error) {
          App.unblockUI(blockUI);
        })
      }
    }
  }
</script>
<style scoped>
  .scroller {
    height: 444px;
    overflow: hidden;
    width: auto;
  }
</style>
