<template>
  <div class="portlet light" id="users-block">
    <div class="portlet-title">
      <div class="caption font-gray-sharp">
        <span class="caption-subject bold"> Reviews </span>
      </div>
    </div>
    <div class="portlet-body">
      <div class="row widget-row">
        <div class="col-md-4">
          <counter-number-portlet2 :number="model.total"
                                  icon="icon-users"
                                  title="TOTAL"
                                  color="blue">
          </counter-number-portlet2>
        </div>
        <div class="col-md-4">
          <counter-number-portlet2 :number="model.google"
                                  icon="icon-map"
                                  title="Google"
                                  color="red">
          </counter-number-portlet2>
        </div>
        <div class="col-md-4">
          <counter-number-portlet2 :number="model.facebook"
                                  icon="icon-social-facebook"
                                  title="Facebook"
                                  color="blue">
          </counter-number-portlet2>
        </div>
      </div>
      <div class="row widget-row">
        <div class="col-md-4">
          <counter-number-portlet2 :number="model.agoda"
                                  icon="icon-paper-plane"
                                  title="AGODA"
                                  color="green">
          </counter-number-portlet2>
        </div>
        <div class="col-md-4">
          <counter-number-portlet2 :number="model.tripadvisor"
                                  icon="icon-key"
                                  title="TripAdvisor"
                                  color="purple">
          </counter-number-portlet2>
        </div>
        <div class="col-md-4">
          <counter-number-portlet2 :number="model.booking"
                                  icon="icon-notebook"
                                  title="BOOKING"
                                  color="green">
          </counter-number-portlet2>
        </div>
      </div>
      <div class="row widget-row">
        <div class="col-md-4"></div>
        <div class="col-md-4"></div>
        <div class="col-md-4">
          <counter-number-portlet2 :number="model.clients"
                                  icon="icon-heart"
                                  title="YEPL"
                                  color="purple">
          </counter-number-portlet2>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
  import CounterNumberPortlet2 from "./CounterNumberPortlet2.vue";
  var blockUI = '#users-block';
  export default {
    data: function () {
        return {
            model: {
              total: 0,
              google: 0,
              facebook: 0,
              agoda: 0,
              booking: 0,
              tripadvisor: 0,
              yepl: 0
            }
        }
    },
    computed: {
    },
    components: {
      CounterNumberPortlet2
    },
    created: function () {
      this.refresh();
    },
    methods: {
      refresh: function () {
        App.blockUI({
          target: blockUI,
          animate: true
        });
        var _self = this;
        this.$http.get('/api/statistic/reviews').then(function (response) {
          _self.model = response.data.data;
          App.unblockUI(blockUI);
        }).catch(function (error) {
          App.unblockUI(blockUI);
        })
      }
    }
  }
</script>
