<template>
  <div class="portlet light" id="users-block">
    <div class="portlet-title">
      <div class="caption font-gray-sharp">
        <span class="caption-subject bold"> CLIENTS </span>
      </div>
    </div>
    <div class="portlet-body">
      <div class="row widget-row">
        <div class="col-md-4">
          <counter-number-portlet2 :number="model.total"
                                  icon="icon-users"
                                  title="TOTAL"
                                  color="blue">
          </counter-number-portlet2>
        </div>
        <div class="col-md-4">
          <counter-number-portlet2 :number="model.activated"
                                  icon="icon-heart"
                                  title="ACTIVATED"
                                  color="purple">
          </counter-number-portlet2>
        </div>
        <div class="col-md-4">
          <counter-number-portlet2 :number="model.pending"
                                  icon="icon-info"
                                  title="PENDING"
                                  color="yellow">
          </counter-number-portlet2>
        </div>
      </div>
      <div class="row widget-row">
        <div class="col-md-4">
          <counter-number-portlet2 :number="model.managers"
                                  icon="icon-diamond"
                                  title="MANAGERS"
                                  color="red">
          </counter-number-portlet2>
        </div>
        <div class="col-md-4">
          <counter-number-portlet2 :number="model.clients"
                                  icon="icon-shield"
                                  title="CLIENTS"
                                  color="green">
          </counter-number-portlet2>
        </div>
        <div class="col-md-4">
          <counter-number-portlet2 :number="model.agents"
                                  icon="icon-key"
                                  title="AGENTS"
                                  color="blue">
          </counter-number-portlet2>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
  import CounterNumberPortlet2 from "./CounterNumberPortlet2.vue";
  var blockUI = '#users-block';
  export default {
    data: function () {
        return {
            model: {
              total: 0,
              activated: 0,
              pending: 0,
              managers: 0,
              clients: 0,
              agents: 0
            }
        }
    },
    computed: {
    },
    components: {
      CounterNumberPortlet2
    },
    created: function () {
      this.refresh();
    },
    methods: {
      refresh: function () {
        App.blockUI({
          target: blockUI,
          animate: true
        });
        var _self = this;
        this.$http.get('/api/statistic/user').then(function (response) {
          _self.model = response.data.data;
          App.unblockUI(blockUI);
        }).catch(function (error) {
          App.unblockUI(blockUI);
        })
      }
    }
  }
</script>
