<template>
  <div class="row company container">
    <div class="company-logo">
      <img
        width="300"
        height="200"
        class="img-responsive img-center"
        :src="store.company_logo"
        onerror="this.onerror=null;this.src='/assets/global/img/logo-pushmeup.jpg';"
      />
    </div>
    <!--Start_Step 1-->
    <div class="section step1" v-if="page == 'step_1'">
      <div class="row">
        <div class="col-sm-6 hide-mb">
          <div class="slider-desk">
            <div class="single-item-desk"></div>
          </div>
        </div>
        <div class="col-sm-6 phone">
          <div class="section-title">
            <p>
              Please enter your cell phone number
              <br />Your infor will not be shared
            </p>
          </div>
          <input
            v-model="telNum"
            type="tel"
            id="telNumber"
            class="form-control tel"
            placeholder="(XXX)-XXX-XXXX"
          />
          <div class="num-pad">
            <div class="span4" @click="addTelNum(1)">
              <div class="num">
                <div class="txt">1</div>
              </div>
            </div>
            <div class="span4" @click="addTelNum(2)">
              <div class="num">
                <div class="txt">2</div>
              </div>
            </div>
            <div class="span4" @click="addTelNum(3)">
              <div class="num">
                <div class="txt">3</div>
              </div>
            </div>
            <div class="span4" @click="addTelNum(4)">
              <div class="num">
                <div class="txt">4</div>
              </div>
            </div>
            <div class="span4" @click="addTelNum(5)">
              <div class="num">
                <div class="txt">5</div>
              </div>
            </div>
            <div class="span4" @click="addTelNum(6)">
              <div class="num">
                <div class="txt">6</div>
              </div>
            </div>
            <div class="span4" @click="addTelNum(7)">
              <div class="num">
                <div class="txt">7</div>
              </div>
            </div>
            <div class="span4" @click="addTelNum(8)">
              <div class="num">
                <div class="txt">8</div>
              </div>
            </div>
            <div class="span4" @click="addTelNum(9)">
              <div class="num">
                <div class="txt">9</div>
              </div>
            </div>
            <div class="span4" @click="delNum">
              <div class="num-1 num-enter">
                <div class="delete">
                  <span class="glyphicon glyphicon-arrow-left"></span>
                </div>
              </div>
            </div>
            <div class="span4" @click="addTelNum(0)">
              <div class="num">
                <div class="txt">0</div>
              </div>
            </div>
            <div class="span4" @click="submitCheckIn">
              <div class="num num-enter">
                <div class="txt_Ok">Enter</div>
              </div>
            </div>
          </div>
          <div class="promotion hide-desk">
            <p>Promotion</p>
          </div>
          <div class="slider-mobile hide-desk">
            <div class="single-item-mb">
              <div v-for="banner in listBanner">
                <img :src="banner" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--End_Step 1-->
    <!--Start_Step 2-->
    <div class="section step_2" v-if="page == 'step_2'">
      <div class="section-title">
        <p>
          You're almost done.
          <br />Please enter your information!
          <br />Full full for promotion
        </p>
      </div>
      <div class="row">
        <div class="form-body">
          <form-error
            :errors="errors"
            field="member_fullname"
            error-class="col-md-offset-3 col-md-12"
          >
            <div class="col-md-12">
              <div class="i">
                <input
                  type="text"
                  v-model="members.member_fullname"
                  class="form-control tel"
                  value
                  placeholder="Please enter your name (*)"
                />
              </div>
            </div>
          </form-error>
          <form-error
            :errors="errors"
            field="member_birthday"
            error-class="col-md-offset-3 col-md-12"
          >
            <div class="row">
              <div class="col-md-6 date_birth">
                <div>
                  <select v-model="members.member_date_birth" class="form-control date">
                    <option value="0" selected="true">Select your date of birth</option>
                    <option v-for="n in 31" :value="n">{{n}}</option>
                  </select>
                </div>
              </div>
              <div class="col-md-6 month_birth">
                <div>
                  <select v-model="members.member_month_birth" class="form-control date">
                    <option value="0" selected="true">Select your month of birth</option>
                    <option v-for="n in 12" :value="n">{{n}}</option>
                  </select>
                </div>
              </div>
            </div>
          </form-error>
          <form-error :errors="errors" field="member_email" error-class="col-md-offset-3 col-md-12">
            <div class="col-md-12">
              <div class>
                <input
                  type="text"
                  v-model="members.member_email"
                  class="form-control tel"
                  value
                  placeholder="Please enter your email"
                />
              </div>
            </div>
          </form-error>
          <div class="col-md-12">
            <div class="section-btn">
              <a href="javascript:;" class="btn-confirm" @click="submitStep2">Next</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--End_Step 2-->
    <!--Start_Step 3-->
    <div class="section step_3" v-if="page == 'step_3'">
      <div class="section-logo">
        <img src="/storage/checkin/check.png" />
      </div>
      <div class="section-title">
        <p>
          Thank you!
          <br />
          <b>{{members.member_fullname}}</b>
        </p>
        <p>You checked in successfully!</p>
        <p>
          Your Level:
          <b>{{roles[(members.member_level-1)].name}}</b>
        </p>
        <p>
          Number of Visits
          <b>({{totalVisit}})</b>
        </p>
        <p id="refresh">
          Refresh in (
          <span>5</span>)
        </p>
      </div>
    </div>
    <!--End_Step 3-->
  </div>
</template>
<style>
@media only screen and (min-width: 568px) and (max-width: 736px) {
  .num-pad {
    height: 95vh;
    width: 66vw;
  }
}
@media only screen and (max-width: 767px) {
  .month_birth {
    padding-left: 8%;
    padding-top: 30px;
    padding-right: 8%;
  }
  .date_birth {
    padding-left: 8%;
    padding-right: 8%;
  }
  .date {
    width: 85% !important;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .date_birth {
    padding-left: 3.5%;
    padding-right: 3.5%;
  }
  .month_birth {
    padding-left: 3.5%;
    padding-top: 30px;
    padding-right: 3.5%;
  }
  .date {
    width: 85% !important;
  }
}
@media only screen and (min-width: 991px) {
  .date_birth {
    padding-left: 5.5%;
  }
  .month_birth {
    padding-right: 5.5%;
  }
}
@media only screen and (max-width: 1230px) {
  .label-text {
    display: inline-block;
    text-align: left;
  }
}
.review-block {
  padding: 10px 20px;
}
.button-review {
  background-color: #1b4251;
  color: #000;
  border-radius: 0px;
}
.birthday-color {
  background-color: white !important;
}
.single-item-mb_text2 {
  text-align: center;
  font-size: 3vw;
  background-color: #2f6627;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.single-item-mb_text1 {
  text-align: center;
  font-size: 5vw;
  background-color: violet;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.num-1 {
  border: 2px solid #333;
  border-radius: 50%;
  height: 10vh;
  color: #333;
  cursor: pointer;
}
@media (min-width: 375px) {
  .num-1 {
    height: 10vh;
    padding-top: 8px;
  }
}
@media (min-width: 568px) {
  .num-1 {
    height: 18vh;
    padding-top: unset;
  }
}
@media (min-width: 768px) {
  .num-1 {
    height: 8vw;
  }
}
@media (min-width: 1024px) {
  .num-1 {
    height: 6vw;
  }
}
@media (min-width: 1280px) {
  .num-1 {
    height: 6vw;
  }
}
@media (min-width: 1920px) {
  .num-1 {
    height: 4vw;
  }
}
.num-1:hover {
  background-color: #9e9e9e;
  color: #fff;
  transition-property: background-color 0.2s linear 0s;
  -moz-transition: background-color 0.2s linear 0s;
  -webkit-transition: background-color 0.2s linear 0s;
  -o-transition: background-color 0.2s linear 0s;
}
.num-2 {
  border: 2px solid #333;
  border-radius: 50%;
  height: 9vh;
  color: #333;
  cursor: pointer;
}
@media (min-width: 375px) {
  .num-2 {
    height: 8vh;
  }
}
@media (min-width: 568px) {
  .num-2 {
    height: 18vh;
  }
}
@media (min-width: 768px) {
  .num-2 {
    height: 8vw;
  }
}
@media (min-width: 1024px) {
  .num-2 {
    height: 6vw;
  }
}
@media (min-width: 1280px) {
  .num-2 {
    height: 6vw;
  }
}
@media (min-width: 1920px) {
  .num-2 {
    height: 4vw;
  }
}
.num-2:hover {
  background-color: #9e9e9e;
  color: #fff;
  transition-property: background-color 0.2s linear 0s;
  -moz-transition: background-color 0.2s linear 0s;
  -webkit-transition: background-color 0.2s linear 0s;
  -o-transition: background-color 0.2s linear 0s;
}
.txt_Ok {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2.3rem;
  text-align: center;
  line-height: 1.5rem;
  color: #333;
}
@media (min-width: 375px) {
  .txt {
    font-size: 2.5rem;
    line-height: 1.7rem;
  }
}
@media (min-width: 768px) {
  .txt {
    top: 50%;
    font-size: 3.2rem;
    line-height: 2rem;
  }
}
</style>
<script>
import VueOffline from "~/../vue-offline";
Vue.use(VueOffline);
let i = 5;
let y = 5;
export default {
  data() {
    return {
      listBanner: [],
      page: "step_1",
      model: {
        content: ""
      },
      members: {
        member_store_id: 0,
        member_phone: "",
        member_fullname: "",
        member_email: "",
        member_date_birth: 0,
        member_month_birth: 0,
        member_level: 1,
        member_created_at: "",
        time_zone: "",
        member_status: 1,
        member_created_by: 1
      },
      roles: [
        { index: 1, name: "New", css: "btn btn-primary" },
        { index: 2, name: "Regular", css: "btn btn-success" },
        { index: 3, name: "VIP", css: "btn purple" },
        { index: 4, name: "At Rick", css: "btn btn-danger" }
      ],
      date: new Date(),
      listOffline: [],
      totalVisit: 1,
      time_zone: AppData.timeZone,
      isSending: false,
      errors: {},
      telNum: "",
      listdata: [],
      interval: null
    };
  },
  components: {},
  computed: {},
  props: {
    store: {
      type: Object
    },
    feedback_message: {
      type: String
    },
    user_id: {
      type: String
    }
  },
  created() {
    var _self = this;
    var slug = location.href;
    slug = slug.split("/")[4];
    this.$http
      .get("/api/promotions/bannerpromotion/" + slug)
      .then(function(response) {
        var data = "";
        response.data.data.forEach(element => {
          if (
            element["promotion_image"] != null &&
            element["promotion_image"] != "undefined"
          ) {
            data =
              data +
              '<div><img src="/storage/promotion/' +
              element["promotion_image"] +
              '" width="385px" height="350px" /></div>';
          } else {
            data =
              data +
              '<div><div class="single-item-mb_text1" style="min-width:385px;min-height:350px">' +
              element["promotion_email"] +
              "</div></div>";
          }
          $(".single-item-desk").slick("unslick");
          $(".single-item-mb").slick("unslick");
          $(".single-item-desk").html(data);
          $(".single-item-mb").html(data);
          $(".single-item-desk").slick(this.getSliderSettings());
          $(".single-item-mb").slick(this.getSliderSettingsMb());
        });
      })
      .catch(function(error) {
        console.log(error);
      });

    this.interval = setInterval(this.checkOnline, 1000);
  },
  mounted() {
    switch (this.model) {
      case "review_only":
        this.page = "review";
        break;
      case "survey_review":
        this.page = "survey";
        break;
    }
    window.addEventListener("beforeunload", event => {
      if (this.isOffline) {
        var confirmationMessage = "Are you sure ?";
        (event || window.event).returnValue = confirmationMessage;
        return confirmationMessage;
      }
    });
    $(document).ready(function() {
      /*window.addEventListener('beforeunload', (event) => {
        event.returnValue = "Are you sure you want to leave?";
      });*/
    });
  },
  methods: {
    startInterval: function() {
      if (this.isOffline) i = -1;
      var mycd = setInterval(function() {
        i--;
        if (i < 0) clearInterval(mycd);
        else $("#refresh span").html(i);
        if (i == 0) location.reload();
      }, 1000);
    },
    reviewImageLink(reviewProvider) {
      return "/assets/global/img/providers/" + reviewProvider.name + ".png";
    },
    urlRedirect(reviewProvider) {
      if (this.user_id == null) {
        return (
          "/api/review-link/?provider_name=" +
          reviewProvider.name +
          "&store_id=" +
          reviewProvider.store_id
        );
      } else {
        return (
          "/api/review-link/?provider_name=" +
          reviewProvider.name +
          "&store_id=" +
          reviewProvider.store_id +
          "&user_id=" +
          this.user_id
        );
      }
    },
    submit() {
      this.errors = {};
      this.model.store_id = this.store.id;
      var _self = this;
      if (!this.isSending) {
        this.isSending = true;
        this.$http
          .post("/api/feedback", this.model)
          .then(function(response) {
            this.isSending = false;
            _self.model.content = "";
            showToastFromResponse(response);
            $("#responsive").modal("toggle");
          })
          .catch(function(response) {
            _self.model.content = "";
            this.isSending = false;
            showToastFromResponse(response);
          });
      }
    },
    submitCheckIn() {
      this.members.member_store_id = this.store.id;
      this.members.time_zone = this.time_zone;
      this.telNum = this.telNum
        .replace("(", "")
        .replace(")", "")
        .replace(" ", "")
        .replace("-", "");
      this.members.member_phone = this.telNum;
      this.telNum = "";
      if (this.members.member_phone == "") {
        alert("Vui lòng nhập số điện thoại của quý khách!");
        return;
      } else if (this.members.member_phone.length > 10) {
        alert("Vui lòng nhập 10 chữ số điện thoại");
        return;
      } else {
        var _self = this;
        if (!this.isSending) {
          this.isSending = true;
          if (this.isOffline) {
            this.listOffline.push(this.members);
            _self.page = "step_2";
            _self.isSending = false;
          } else {
            this.$http
              .post("/api/checkin/checkinstepone", this.members)
              .then(function(response) {
                _self.isSending = false;
                _self.members = response.data.data.member;
                if (
                  response.data.data.totalVisit ||
                  typeof response.data.data.totalVisit !== "undefined"
                ) {
                  _self.totalVisit = response.data.data.totalVisit;
                }
                if (!response.data.data.register) {
                  _self.page = "step_3";
                  _self.startInterval();
                } else {
                  eventHub.$emit("CHECKIN_LOAD");
                  _self.page = "step_2";
                }
                showToastFromResponse(response);
              })
              .catch(function(response) {
                _self.isSending = false;
                showToastFromResponse(response);
              });
          }
        }
      }
    },
    submitStep2() {
      var _self = this;
      _self.members.time_zone = this.time_zone;
      var re_email = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,10}))$/;
      if (
        _self.members.member_fullname == "" ||
        typeof _self.members.member_fullname == "undefined"
      ) {
        alert("Vui lòng nhập tên của quý khách!");
        return;
      } else if (
        _self.members.member_email != null &&
        _self.members.member_email != "" &&
        !re_email.test(_self.members.member_email)
      ) {
        alert("Email chưa đúng định dạng!");
        return;
      } else {
        if (_self.members.member_email == null) {
          _self.members.member_email = "";
        }

        if (
          this.isOffline ||
          (this.isOffline == false && this.listOffline.length != 0)
        ) {
          var today = new Date();
          var date =
            today.getFullYear() +
            "-" +
            (today.getMonth() + 1) +
            "-" +
            today.getDate();
          var time =
            today.getHours() +
            ":" +
            today.getMinutes() +
            ":" +
            today.getSeconds();
          var dateTime = date + " " + time;
          var loca = this.listOffline.length - 1;
          if (this.listOffline.length == 0) {
            loca = 0;
          }
          _self.members.member_created_at = dateTime;
          this.listOffline[loca] = _self.members;
          _self.isSending = false;
          _self.page = "step_3";
          this.members = {
            member_store_id: 0,
            member_phone: "",
            member_fullname: "",
            member_email: "",
            member_date_birth: 0,
            member_month_birth: 0,
            member_level: 1,
            member_status: 1,
            member_created_at: "",
            member_created_by: 1
          };
          var myreload = setInterval(function() {
            y--;
            if (y < 0) clearInterval(myreload);
            else $("#refresh span").html(y);
            if (y == 0) {
              _self.page = "step_1";
              _self.members = {};
            }
          }, 1000);
          y = 5;
        } else {
          if (!this.isSending) {
            this.isSending = true;
            if (this.members.id != 'undefined' && this.members.id == 0) {
              this.$http
                .post("/api/checkin/checkinsteptwo", this.members)
                .then(function(response) {
                  _self.isSending = false;
                  _self.members = response.data.data.member;
                  _self.page = "step_3";
                  _self.startInterval();
                  showToastFromResponse(response);
                })
                .catch(function(response) {
                  _self.isSending = false;
                  showToastFromResponse(response);
                });
            } else {
              var loca = this.listOffline.length - 1;
              if (this.listOffline.length == 0) {
                loca = 0;
              }
              this.listOffline[loca] = _self.members;
              this.submitStep2();
            }
          }
        }
      }
    },
    checkOnline: function() {
      if (!this.isOffline) {
        if (this.listOffline.length != 0 || this.listOffline != null) {
          var _self = this;
          this.listOffline.forEach(element => {
            if (
              element.member_fullname != null &&
              element.member_fullname != ""
            ) {
              if (element.member_id != 0 && element.id != null) {
                this.$http
                  .post("/api/checkin/checkinsteptwo", element)
                  .then(function(response) {})
                  .catch(function(response) {});
              } else {
                this.$http
                  .post("/api/checkin/checkinoffline", element)
                  .then(function(response) {})
                  .catch(function(response) {});
              }
            }
          });
          this.listOffline = [];
        }
      }
    },
    formatDate: function(newdate) {
      var day = newdate.getDate();
      var month = parseInt(newdate.getMonth()) + parseInt(1);
      if (parseInt(month) < 10) month = "0" + month;
      if (parseInt(day) < 10) day = "0" + newdate.getDate();
      var date = newdate.getFullYear() + "-" + month + "-" + day;
      return date;
    },
    getSliderSettings: function() {
      return {
        infinite: false,
        adaptiveHeight: true,
        vertical: true,
        autoplay: true,
        autoplaySpeed: 2000,
        nextArrow: '<span class="glyphicon  glyphicon-menu-down"></span>',
        prevArrow: '<span class="glyphicon glyphicon-menu-up"></span>',
        slidesToShow: 1,
        slidesToScroll: 1
      };
    },
    getSliderSettingsMb: function() {
      return {
        infinite: false,
        adaptiveHeight: true,
        slidesToShow: 1.25,
        slidesToScroll: 1
      };
    },
    addTelNum: function(tel) {
      console.log("number - " + tel);
      if (this.telNum.length < 14) {
        this.telNum = this.telNum + tel;
      }
      if (this.telNum.length === 3 && !this.telNum.includes("(")) {
        this.telNum = "(" + this.telNum + ") ";
      }
      if (this.telNum.length === 9) {
        this.telNum = this.telNum + "-";
      }
      if (this.telNum.length === 10 && !this.telNum.includes("-")) {
        this.telNum =
          this.telNum.substr(0, this.telNum.length - 1) +
          "-" +
          this.telNum.substr(this.telNum.length - 1);
      }
      if (this.telNum.length === 5 && !this.telNum.includes(")")) {
        this.telNum =
          this.telNum.substr(0, this.telNum.length - 1) +
          ") " +
          this.telNum.substr(this.telNum.length - 1);
      }
      if (this.telNum.length === 6 && !this.telNum.includes(" ")) {
        this.telNum =
          this.telNum.substr(0, this.telNum.length - 1) +
          " " +
          this.telNum.substr(this.telNum.length - 1);
      }
    },
    delNum: function() {
      this.telNum = this.telNum.substr(0, this.telNum.length - 1);
    }
  }
};
</script>