<template>
    <div class="row company">
        <div class="company-logo">
            <img width="300" height="200" class="img-responsive img-center" :src="store.company_logo"
                onError="this.onerror=null;this.src='/assets/global/img/logo-pushmeup.jpg';">
        </div>
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12 review-block" v-if="page == 'survey'">
                    <p>{{store.survey_message_1}}</p>
                    <p>
                        <button type="button" class="btn btn-primary btn-lg button-review-icon" @click="page = 'review'">
                            <img class="icon-review" src="/storage/icon/like.jpg" />
                        </button>
                        <button type="button" class="btn btn-primary btn-lg button-review-icon" @click="page = 'review'">
                            <img class="icon-review" src="/storage/icon/like_normal.jpg" />
                        </button>
                        <button type="button" class="btn btn-default btn-lg pull-right button-review-icon" @click="page = 'submit-survey'">
                        <img class="icon-review" src="/storage/icon/dislike.jpg" />
                        </button>
                    </p>
                </div>
                <div class="col-md-12 review-block" v-if="page=='submit-survey'">
                    <p>{{store.survey_message_2}}</p>
                    <form-error :errors="errors" field="name"> 
                        <label class="control-label">Name</label> 
                        <input type="text" class="form-control" v-model="model.name"> 
                    </form-error> 
                    <form-error :errors="errors" field="email"> 
                        <label class="control-label">Email</label> 
                        <input type="email" class="form-control" v-model="model.email"> 
                    </form-error> 
                    <form-error :errors="errors" field="phone"> 
                        <label class="control-label">Phone</label> 
                        <input type="text" class="form-control" v-model="model.phone"> 
                    </form-error> 
                    <form-error :errors="errors" field="content">
                        <textarea class="form-control" rows="10" v-model="model.content"></textarea>
                    </form-error>
                    <p class="text-center">
                        <button type="button" class="btn btn-default btn-lg button-review" @click="submit">{{ (isSending) ? 'Sending ...' : 'SEND'}}</button>
                    </p>
                </div>
                <div class="col-md-12 review-block" v-if="page == 'review'">
                    <p class="company-description">{{store.invitation_introducing}}</p>
                    <div class="form-group">
                        <div v-if="!reviewProviders || reviewProviders.length == 0" class="alert alert-info">
                            <strong>Sorry</strong>, no review provider!
                        </div>
                        <ul v-else class="provider-list">
                            <li v-for="reviewProvider in reviewProviders">
                                <a v-if="reviewProvider.link" :href="urlRedirect(reviewProvider)"
                                    aria-expanded="false" class="provider-name" target="_blank">
                                    <img class="media-object"
                                        :src="reviewImageLink(reviewProvider)">
                                    {{reviewProvider.name}} review
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center company-url">
                    <a v-if="store.url" target="_blank" :href="store.url">{{store.url}}</a>
                </div>
            </div>
        </div>
        <thanks-form :redirect_url="store.url" :feedback_message="feedback_message" data-toggle="modal" href="#responsive"></thanks-form>
    </div>
</template>
<style scoped>
    .review-block{
        padding:10px 20px
    }
    .button-review {
        /*background-color: #1B4251;*/
        background-color:unset;
        border-color:unset;
        color: #000;
        border-radius: 0px;
        width: 32%;
        padding: 10px 1px !important;
    }
    .button-review-icon {
        /*background-color: #1B4251;*/
        background-color:unset;
        border-color:unset;
        color: #fff;
        border-radius: 0px;
        width: 32%;
        padding: 10px 1px !important;
    }
    .icon-review {
        width: 100%;
    }
</style>
<script>
    export default {
        data(){
            return {
                page: 'survey',
                model:{
                    content:''
                },
                linkData:{
                    storeId:'',
                    providerName:'',
                    reviewed_url:''
                },
                isSending: false,
                errors: {}
            }
        },
        props: {
            store: {
                type: Object
            },
            reviewProviders: {
                type: Array
            },
            mode: {
                type: String
            },
            feedback_message: {
                type: String
            },
            user_id: {
                type: String
            }
        },
        mounted(){
            switch (this.mode){
                case 'review_only':
                    this.page = 'review';
                    break;
                case 'survey_review':
                    this.page = 'survey';
                    break;
            }
        },
        methods: {
            reviewImageLink(reviewProvider){
                return '/assets/global/img/providers/' + reviewProvider.name + '.png';
            },
            urlRedirect(reviewProvider){
                if(this.user_id == null) {
                    return '/api/review-link/?provider_name=' + reviewProvider.name + '&store_id=' + reviewProvider.store_id;
                } else {
                    return '/api/review-link/?provider_name=' + reviewProvider.name + '&store_id=' + reviewProvider.store_id + '&user_id='+this.user_id;
                }
            },
            submit(){
                this.errors = {};
                this.model.store_id = this.store.id;
                var _self = this;
                if(!this.isSending) {
                    this.isSending = true;
                    this.$http.post('/api/feedback',this.model).then(function(response){
                        this.isSending = false;
                        _self.model.content = "";
                        showToastFromResponse(response);
                        $('#responsive').modal('toggle');
                    }).catch(function(response){
                        _self.model.content = "";
                        this.isSending = false;
                        showToastFromResponse(response);
                    });
                }
            }
        }
    }
</script>
