<template>
  <div id="responsive_edit" class="modal fade" tabindex="-1" data-width="80%">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
      <h4 class="modal-title">{{user.id ? 'Edit' : 'Create'}}</h4>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="portlet-body form">
          <!-- BEGIN FORM-->
          
          <form action="#" class="form-horizontal">
            <div class="form-body">
              {{user}}
              <form-error
                    :errors="errors"
                    field="birthday_value"
                    error-class="col-md-offset-3 col-md-8"
                  >
                    <label class="col-md-3 control-label">Value</label>
                    <div class="col-md-4">
                      <div class="input-group">
                        <span class="input-group-addon">
                          <i class="fa fa-usd"></i>
                        </span>
                        <input
                          type="text"
                          class="form-control"
                          placeholder="Promotion value"
                          v-model="user.birthday_value"
                        />
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="input-group">
                        <span class="input-group-addon">
                          <i class="fa fa-usd"></i>
                        </span>
                        <select class="form-control" v-model="user.birthday_type">
                          <option v-for="type in value_type" :value="type">{{type}}</option>
                        </select>
                      </div>
                    </div>
                  </form-error>
                  <form-error
                :errors="errors"
                field="birthday_send_date"
                error-class="col-md-offset-3 col-md-8"
              >
                <label class="col-md-3 control-label">Send date</label>
                <div class="col-md-8">
                  <div class="input-group">
                    <span class="input-group-addon">
                      <i class="fa fa-calendar"></i>
                    </span>
                    <select
                      class="form-control"
                      placeholder="Email"
                      v-model="user.birthday_send_date"
                    >
                      <option value="7" selected="true">7 days</option>
                      <option value="3">3 days</option>
                      <option value="15">15 days</option>
                      <option value="30">30 days</option>
                    </select>
                  </div>
                </div>
              </form-error>
              <form-error
                :errors="errors"
                field="birthday_allow"
                error-class="col-md-offset-3 col-md-8"
              >
                <label class="col-md-3 control-label">Allow</label>
                <div class="col-md-8">
                  <div class="input-group">
                    <span class="input-group-addon">
                      <i class="fa fa-calendar"></i>
                    </span>
                    <select
                      class="form-control"
                      placeholder="Email"
                      v-model="user.birthday_allow"
                    >
                      <option value="0">On their birthday</option>
                      <option value="3" selected="true">3 days</option>
                      <option value="7">7 days</option>
                      <option value="15">15 days</option>
                      <option value="14">14 days</option>
                      <option value="30">30 days</option>
                    </select>
                  </div>
                </div>
              </form-error>
              <form-error
                :errors="errors"
                field="birthday_message"
                error-class="col-md-offset-3 col-md-8"
              >
                <label class="col-md-3 control-label">Message</label>
                <div class="col-md-8">
                  <div class="input-group">
                    <span class="input-group-addon">
                      <i class="fa fa-indent"></i>
                    </span>
                    <textarea
                      class="form-control"
                      placeholder="Enter message"
                      v-model="user.birthday_message"
                    ></textarea>
                  </div>
                </div>
              </form-error>
              <form-error
                :errors="errors"
                field="birthday_status"
                error-class="col-md-offset-3 col-md-8"
              >
                <label class="col-md-3 control-label">Status</label>
                <div class="col-md-8">
                  <div class="input-group">
                    <span class="input-group-addon">
                      <i class="fa fa-envelope"></i>
                    </span>
                    <select
                      type="select"
                      class="form-control"
                      placeholder="Email"
                      v-model="user.birthday_status"
                    >
                      <option value="1">Actived</option>
                      <option value="0">Pending</option>
                    </select>
                  </div>
                </div>
              </form-error>
            </div>
          </form>
          <!-- END FORM-->
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" data-dismiss="modal" class="btn btn-outline dark">Close</button>
      <button
        type="button"
        class="btn green"
        @click="updateUser()"
      >{{ (isSending) ? 'Sending ...' : 'Save'}}</button>
    </div>
  </div>
</template>
<script>
export default {
  props: {
    userProp: {
      type: Object,
      default: function() {
        return {
          birthday_store_id: 1,
          birthday_value: 1,
          birthday_type: "%",
          birthday_send_date: 1,
          birthday_allow: 1,
          birthday_message: "",
          birthday_status: 0,
          birthday_created_by: 1,
          birthday_updated_by: 1
        };
      }
    }
  },
  data: function() {
    return {
      statuses: [
        { index: 0, name: "Deactive", css: "label-warning" },
        { index: 1, name: "Actived", css: "label-success" }
      ],
      value_type: ["%", "$"],
      isUpdated: false,
      showError: false,
      errors: [],
      error : [],
      role_id: AppData.role_id,
      isSending: false,
      listmember:[]
    };
  },
  computed: {
    user() {
      return this.userProp;
    },
  },
  created: function() {
    console.log("promotion_form created");
  },
  beforeMount: function() {
    console.log("promotion_form beforeMount");
  },
  mounted: function() {
    console.log("promotion_form mounted");
    var _self = this;
    $("#responsive_edit").on("hidden.bs.modal", function(e) {
      _self.$emit("close");
      console.log("run close");
      _self.errors = "";
    });
  },
  updated: function() {
    console.log("promotion_form updated");
  },
  beforeDestroy: function() {
    console.log("promotion_form beforeDestroy");
  },
  methods: {
    updateUser: function() {
      var _self = this;
      if (!this.isSending) {
        this.isSending = true;
        if (this.validation()) {
          if (this.error.length != 0 || this.error != null) {
            this.error.forEach(element => {
              showToast("Error", element, "error");
            });
            this.error = [];
          }
          this.isSending = false;
        } else {
          
          if (this.user.id) {
            this.$http.put("/api/birthdays/" + _self.user.id, _self.user).then(
              response => {
                _self.isSending = false;
                var user = response.data.data;
                eventHub.$emit("PROMOTION_UPDATED", user);
                //$('#responsive').modal('hide');
                $(".modal.in").modal("hide");
                _self.errors = "";
                _self.user = user;
                showToast(
                  "Updated promotion successfully",
                  "Promotion's information has been updated",
                  "success"
                );
              },
              error => {
                _self.isSending = false;
                if (error.data && error.data.data) {
                  _self.errors = error.data.data;
                }
                showToast(
                  "Updated promotion failed",
                  "Promotion's information has not been updated",
                  "error"
                );
              }
            );
          } else {
            this.$http.post("/api/birthdays", _self.user).then(
              response => {
                _self.isSending = false;
                var user = response.data.data;
                eventHub.$emit("PROMOTION_CREATED", user);
                //$('#responsive').modal('hide');
                $(".modal.in").modal("hide");
                _self.errors = "";
                _self.user = user;
                showToast(
                  "Created promotion successfully",
                  "Promotion's information has been created",
                  "success"
                );
              },
              error => {
                _self.isSending = false;
                if (error.data && error.data.data) {
                  _self.errors = error.data.data;
                }
                showToast(
                  "Created promotion failed",
                  "Promotion's information has not been created",
                  "error"
                );
              }
            );
          }
        }
      }
    },
    validation() {
      return this.error != "" ? true : false;
    },
  }
};
</script>
