<template>
  <div class="row">

    <div class="col-md-12"></div>
    <div class="col-md-12">
      <!-- BEGIN EXAMPLE TABLE PORTLET-->
      <div class="portlet light bordered">
        <div class="portlet-title">
          <div class="caption font-dark">
            <i class="icon-settings font-dark"></i>
            <span class="caption-subject bold uppercase">All Promotion At Risk</span>
          </div>
        </div>
        <div class="portlet-body">
          <div class="row">
            <div class="portlet-body form">
              <div class="form-body">
                <form-error field="birthday_value" error-class="col-md-offset-3 col-md-8">
                  <label class="col-md-12 control-label">What is the value of promotion</label>
                  <div class="col-md-4">
                    <div class="input-group">
                      <span class="input-group-addon">
                        <i class="fa fa-usd"></i>
                      </span>
                      <input
                        type="text"
                        class="form-control"
                        placeholder="Promotion value"
                        v-model="user.promotion_value"
                        :disabled="disabled"
                      />
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="input-group">
                      <span class="input-group-addon">
                        <i class="fa fa-usd"></i>
                      </span>
                      <select
                        class="form-control"
                        v-model="user.promotion_type"
                        :disabled="disabled"
                      >
                        <option v-for="type_ in value_type" :value="type_">{{type_}}</option>
                      </select>
                    </div>
                  </div>
                </form-error>
                <form-error field="birthday_message" error-class="col-md-offset-3 col-md-8">
                  <label class="col-md-12 control-label">Message to show to customer</label>
                  <div class="col-md-8">
                    <div class="input-group">
                      <span class="input-group-addon">
                        <i class="fa fa-indent"></i>
                      </span>
                      <textarea
                        class="form-control"
                        placeholder="Enter message"
                        v-model="user.promotion_message"
                        :disabled="disabled"
                      ></textarea>
                    </div>
                  </div>
                </form-error>
                <!--<form-error field="birthday_status" error-class="col-md-offset-3 col-md-8">
                  <label class="col-md-12 control-label">Send Status</label>
                  <div class="col-md-8">
                    <div class="input-group">
                      <input
                        type="radio"
                        v-model="user.promotion_send_status"
                        class="icheck"
                        name="send_status"
                        value="1"
                        :disabled="disabled"
                      />
                      <label>Auto</label>
                      <input
                        type="radio"
                        v-model="user.promotion_send_status"
                        class="icheck"
                        name="send_status"
                        value="0"
                        :disabled="disabled"
                      />
                      <label>Manual</label>
                    </div>
                  </div>
                </form-error> -->
                <form-error field="birthday_status" error-class="col-md-offset-3 col-md-8">
                  <label class="col-md-12 control-label">Change Status</label>
                  <div class="col-md-8">
                    <div class="input-group">
                      <span class="input-group-addon">
                        <i class="fa fa-envelope"></i>
                      </span>
                      <select
                        type="select"
                        class="form-control"
                        placeholder="Email"
                        v-model="user.promotion_status"
                        :disabled="disabled"
                      >
                        <option value="1">Actived</option>
                        <option value="0">InActive</option>
                      </select>
                    </div>
                  </div>
                </form-error>
              </div>
            </div>
          </div>
          <br />
          <div class="row">
            <div class="col-md-6">
              <div class="btn-group">
                <button
                  class="btn sbold green"
                  @click="changeInfo"
                  href="#responsive"
                  v-if="disabled==true"
                >Edit</button>
              </div>
              <div class="btn-group">
                <button
                  class="btn sbold green"
                  @click="onClickEdit"
                  href="#responsive"
                  v-if="disabled==false"
                >Save</button>
              </div>
              <!--<div class="btn-group">
                <button class="btn sbold blue" href="#responsive" v-if="user.promotion_send_status==0">Send Now</button>
              </div>-->
              <div class="btn-group">
                <button
                  class="btn btn-outline dark"
                  @click="disabled=true"
                  href="#responsive"
                  v-if="disabled==false"
                >Close</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- END EXAMPLE TABLE PORTLET-->
    </div>
  </div>
</template>
<style>
</style>
<script>
export default {
  data: function() {
    return {
      search: "",
      user: {},
      statuses: [
        { index: 0, name: "Inactive", css: "label-warning" },
        { index: 1, name: "Actived", css: "label-success" }
      ],
      value_type: ["%", "$"],
      pagination: {},
      currentPage: 1,
      filterStatus: -1,
      current_user: {},
      origin_user: {},
      isUpdated: false,
      showNewModal: 1,
      showEditModal: 1,
      isEdited: false,
      disabled: true,
      isSending: false,
      Send_auto:false,
    };
  },
  components: {
  },
  computed: {
    searchQuery: function() {
      var query =
        "?orderBy=birthday_created_at&sortedBy=desc&page=" +
        this.currentPage +
        "&";
      var search = "search=";
      if (this.filterStatus && this.filterStatus >= 0) {
        search += "birthday_status:" + this.filterStatus + ";";
      }
      query += search.slice(0, -1);
      return query;
    },
    pages: function() {
      var pages = [];
      if (this.pagination && this.pagination.last_page) {
        for (var i = 1; i <= this.pagination.last_page; i++) {
          pages.push(i);
        }
      }
      return pages;
    }
  },
  mounted: function() {
    this.refresh();
    var _self = this;
    eventHub.$on("PROMOTION_AT_RISK_CREATED", function() {
      _self.refresh();
    });
    eventHub.$on("PROMOTION_AT_RISK_UPDATED", function() {
      _self.refresh();
    });
  },
  created: function() {
    eventHub.$on("PROMOTION_AT_RISK_CREATED", this.onUserCreated);
    eventHub.$on("PROMOTION_AT_RISK_UPDATED", this.onUserUpdated);
  },
  updated: function() {
    if (!this.isUpdated) {
      this.isUpdated = true;
    }
  },
  methods: {
    changeInfo: function() {
      this.disabled = false;
    },
    onClickEditButton() {
      this.isEdited = false;
      this.showEditModal += 1;
    },
    onClickEdit: function(user) {
      this.isSending = true;
      var message = "";
      var _self = this;
      if (_self.user.promotion_value == "") {
        showToast("Error", "Value of promotion require", "error");
        return;
      }
      else if (_self.user.promotion_message.length > 160) {
        showToast("Error", "message must be less than 160 characters", "error");
        return;
      } else if (_self.user.promotion_message == "") {
        showToast("Error", "message require", "error");
        return;
      } else {
        this.$http
          .put("/api/promotionatrisk/" + _self.user.id, _self.user)
          .then(
            response => {
              this.disabled = true;
              this.isSending = false;
              showToast("Change promotion successfully", "", "success");
            },
            response => {
              console.log("Change promotion failed:" + response);
              showToast(
                "Change promotion failed",
                "promotion has not change",
                "error"
              );
            }
          );
      }
    },
    refresh: function() {
      var _self = this;
      this.$http
        .get("/api/promotionatrisk")
        .then(function(response) {
          response.data.data.forEach(function(element) {
            _self.user = element;
          });
        })
        .catch(function(error) {
          console.log(error);
        });
    },
  }
};
</script>
<style>
.dataTables_filter {
  float: right !important;
}
</style>
