<template>
  <div id="responsive" class="modal fade" tabindex="-1" data-width="50%">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
      <h4 class="modal-title">{{user.id ? 'Edit' : 'Create'}}</h4>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="portlet-body form">
          <!-- BEGIN FORM-->
          <form action="#" class="form-horizontal">
            <div class="form-body">
              <form-error
                :errors="errors"
                field="member_fullname"
                error-class="col-md-offset-3 col-md-8"
              >
                <label class="col-md-3 control-label">Full name</label>
                <div class="col-md-8">
                  <div class="input-group">
                    <span class="input-group-addon">
                      <i class="fa fa-user"></i>
                    </span>
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Full name"
                      v-model="user.member_fullname"
                    />
                  </div>
                </div>
              </form-error>
              <form-error
                :errors="errors"
                field="member_phone"
                error-class="col-md-offset-3 col-md-8"
              >
                <label class="col-md-3 control-label">Phone</label>
                <div class="col-md-8">
                  <div class="input-group">
                    <span class="input-group-addon">
                      <i class="fa fa-phone"></i>
                    </span>
                    <input
                      type="text"
                      class="form-control"
                      placeholder="phone"
                      v-model="user.member_phone"
                    />
                  </div>
                </div>
              </form-error>
              <form-error
                :errors="errors"
                field="member_birthday"
                error-class="col-md-offset-3 col-md-8"
              >
                <label class="col-md-3 control-label">Birthday</label>
                <div class="col-md-8">
                  <div class="input-group">
                    <span class="input-group-addon">
                      <i class="fa fa-calendar"></i>
                    </span>
                    <input
                      type="Date"
                      class="form-control"
                      placeholder="birthday"
                      v-model="user.member_birthday"
                    />
                  </div>
                </div>
              </form-error>
              <form-error
                :errors="errors"
                field="member_emai"
                error-class="col-md-offset-3 col-md-8"
              >
                <label class="col-md-3 control-label">Emai</label>
                <div class="col-md-8">
                  <div class="input-group">
                    <span class="input-group-addon">
                      <i class="fa fa-envelope"></i>
                    </span>
                    <input
                      type="email"
                      class="form-control"
                      placeholder="Email"
                      v-model="user.member_email"
                    />
                  </div>
                </div>
              </form-error>
              <form-error
                :errors="errors"
                field="member_level"
                error-class="col-md-offset-3 col-md-8"
              >
                <label class="col-md-3 control-label">Level</label>
                <div class="col-md-8">
                  <div class="input-group">
                    <span class="input-group-addon">
                      <i class="fa fa-envelope"></i>
                    </span>
                    <select
                      type="select"
                      class="form-control"
                      placeholder="Email"
                      v-model="user.member_level"
                    >
                      <option v-for="role in roles" :value="role.index">{{role.name}}</option>
                    </select>
                  </div>
                </div>
              </form-error>
              <form-error
                :errors="errors"
                field="member_status"
                error-class="col-md-offset-3 col-md-8"
              >
                <label class="col-md-3 control-label">Status</label>
                <div class="col-md-8">
                  <div class="input-group">
                    <span class="input-group-addon">
                      <i class="fa fa-envelope"></i>
                    </span>
                    <select
                      type="select"
                      class="form-control"
                      placeholder="Email"
                      v-model="user.member_status"
                    >
                      <option value="1">Actived</option>
                      <option value="0">Pending</option>
                    </select>
                  </div>
                </div>
              </form-error>
            </div>
          </form>
          <!-- END FORM-->
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" data-dismiss="modal" class="btn btn-outline dark">Close</button>
      <button
        type="button"
        class="btn green"
        @click="updateUser()"
      >{{ (isSending) ? 'Sending ...' : 'Save'}}</button>
    </div>
  </div>
</template>
<script>

//import Datepicker from '~/../vuejs-datepicker';

export default {
  props: {
    userProp: {
      type: Object,
      default: function() {
        return {
          member_store_id:1,
          member_fullname: "",
          member_birthday: "",
          member_email: "",
          member_phone: "",
          member_level: 1,
          member_status: 1,
          member_created_by: 2,
          member_updated_by: 2
        };
      }
    }
  },
  data: function() {
    return {
      statuses: [
        { index: 0, name: "Pending", css: "label-warning" },
        { index: 1, name: "Actived", css: "label-success" }
      ],
      roles: [
        { index: 1, name: "New",   css: "btn btn-primary" },
        { index: 2, name: "Regular",  css: "btn btn-success" },
        { index: 3, name: "VIP",      css: "btn purple" },
        { index: 4, name: "At Rick",  css: "btn btn-danger" }
      ],
      rolesAgent: [{ index: 0, name: "User", css: "label-info" }],
      isUpdated: false,
      showError: false,
      errors: [],
      error:[],
      role_id: AppData.role_id,
      isSending: false
    };
  },
  computed: {
    user() {
      return this.userProp;
    }
  },
  created: function() {
    console.log("member_form created");
  },
  beforeMount: function() {
    console.log("member_form beforeMount");
  },
  mounted: function() {
    console.log("member_form mounted");
    var _self = this;
    $("#responsive").on("hidden.bs.modal", function(e) {
      _self.$emit("close");
      console.log("run close");
      _self.errors = "";
    });
  },
  updated: function() {
    console.log("member_form updated");
  },
  beforeDestroy: function() {
    console.log("member_form beforeDestroy");
  },
  methods: {
    updateUser: function() {
      var _self = this;
      if (!this.isSending) {
        this.isSending = true;
        if (this.validation()) {
          console.log(this.error);
          if(this.error.length!=0||this.errors!=null){
            this.error.forEach(element => {
            showToast("Error", element, "error");
            });
            this.error = Array;
          }
          this.isSending = false; 
        } else {
          if (this.user.id) {
            this.$http.put("/api/members/" + _self.user.id, _self.user).then(
              response => {
                _self.isSending = false;
                var user_ = response.data.data;
                eventHub.$emit("MEMBER_UPDATED", user_);
                //$('#responsive').modal('hide');
                $(".modal.in").modal("hide");
                _self.errors = "";
                _self.user = user_;
                showToast(
                  "Updated member successfully",
                  "Member's information has been updated",
                  "success"
                );
              },
              error => {
                _self.isSending = false;
                if (error.data && error.data.data) {
                  _self.errors = error.data.data;
                }
                showToast(
                  "Updated member failed",
                  "Member's information has not been updated",
                  "error"
                );
              }
            );
          } else {
            this.$http.post("/api/members", _self.user).then(
              response => {
                _self.isSending = false;
                var user_ = response.data.data;
                eventHub.$emit("MEMBER_CREATED", user_);
                //$('#responsive').modal('hide');
                $(".modal.in").modal("hide");
                _self.errors = "";
                _self.user = user_;
                showToast(
                  "Created member successfully",
                  "Member's information has been created",
                  "success"
                );
              },
              error => {
                _self.isSending = false;
                if (error.data && error.data.data) {
                  _self.errors = error.data.data;
                }
                showToast(
                  "Created member failed",
                  "Member's information has not been created",
                  "error"
                );
              }
            );
          }
        }
      }
    },
    validation: function() {
      var re_email = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,10}))$/;
      var re_phone = /^[+]*[(]{0,1}[0-9]{1,3}[)]{0,1}[-\s\./0-9]*$/g;
      if (this.user.member_fullname.trim() === "") {
        this.error.push("fullname require");
      }
      if (this.user.member_birthday.trim() === "") {
        this.error.push("Birthday require");
      }
      if (this.user.member_email.trim() === "") {
        this.error.push("Email require");
      } else if (!re_email.test(this.user.member_email.trim())) {
        this.error.push("Email invalid");
      }
      if (this.user.member_phone.trim() === "") {
          this.error.push("Phone require");
      } else if (parseInt(this.user.member_phone===0)) {
        this.error.push("Please enter phone again");
      } else if (!re_phone.test(this.user.member_phone.trim())) {
        this.error.push("Phone Invalid");
      }
      return this.error != "" ? true : false;
    }
  }
};
</script>