<template>
  <div id="responsive_edit" class="modal fade" tabindex="-1" data-width="50%">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
      <h4 class="modal-title">{{user.id ? 'Edit' : 'Create'}}</h4>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="portlet-body form">
          <!-- BEGIN FORM-->
          <form action="#" class="form-horizontal">
            <div class="form-body">
              <form-error :errors="errors" field="full_name" error-class="col-md-offset-3 col-md-8">
                <label class="col-md-3 control-label">Full name</label>
                <div class="col-md-8">
                  <div class="input-group">
                    <span class="input-group-addon">
                      <i class="fa fa-user"></i>
                    </span>
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Full name"
                      v-model="user.member_fullname"
                    />
                  </div>
                </div>
              </form-error>
              <form-error
                :errors="errors"
                field="member_phone"
                error-class="col-md-offset-3 col-md-8"
              >
                <label class="col-md-3 control-label">Phone</label>
                <div class="col-md-8">
                  <div class="input-group">
                    <span class="input-group-addon">
                      <i class="fa fa-phone"></i>
                    </span>
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Phone"
                      v-model="user.member_phone"
                    />
                  </div>
                </div>
              </form-error>
              <form-error
                :errors="errors"
                field="member_birthday"
                error-class="col-md-offset-3 col-md-8"
              >
                <label class="col-md-3 control-label">Birthday</label>
                <div class="col-md-8">
                  <div class="input-group">
                    <span class="input-group-addon">
                      <i class="fa fa-calendar"></i>
                    </span>
                    <div class="col-md-6 date_birth">
                      <div>
                        <select v-model="user.member_date_birth" class="form-control date">
                          <option value="0">Select your date of birth</option>
                          <option v-for="n in 31" :value="n">{{n}}</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-md-6 month_birth">
                      <div>
                        <select v-model="user.member_month_birth" class="form-control date">
                          <option value="0">Select your month of birth</option>
                          <option v-for="n in 12" :value="n">{{n}}</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
              </form-error>
              <form-error
                :errors="errors"
                field="member_email"
                error-class="col-md-offset-3 col-md-8"
              >
                <label class="col-md-3 control-label">Email</label>
                <div class="col-md-8">
                  <div class="input-group">
                    <span class="input-group-addon">
                      <i class="fa fa-envelope"></i>
                    </span>
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Email"
                      v-model="user.member_email"
                    />
                  </div>
                </div>
              </form-error>
              <form-error
                :errors="errors"
                field="member_note"
                error-class="col-md-offset-3 col-md-8"
              >
                <label class="col-md-3 control-label">Note</label>
                <div class="col-md-8">
                  <div class="input-group">
                    <span class="input-group-addon">
                      <i class="fa fa-envelope"></i>
                    </span>
                    <textarea
                      type="text"
                      class="form-control"
                      placeholder="note"
                      v-model="user.member_note"
                    ></textarea>
                  </div>
                </div>
              </form-error>
              <form-error
                :errors="errors"
                field="member_level"
                error-class="col-md-offset-3 col-md-8"
              >
                <label class="col-md-3 control-label">Level</label>
                <div class="col-md-8">
                  <div class="input-group">
                    <span class="input-group-addon">
                      <i class="fa fa-envelope"></i>
                    </span>
                    <select
                      type="select"
                      class="form-control"
                      placeholder="Email"
                      v-model="user.member_level"
                    >
                      <option v-for="role in roles" :value="role.index">{{role.name}}</option>
                    </select>
                  </div>
                </div>
              </form-error>
              <form-error
                :errors="errors"
                field="member_emai"
                error-class="col-md-offset-3 col-md-8"
              >
                <label class="col-md-3 control-label">Status</label>
                <div class="col-md-8">
                  <div class="input-group">
                    <span class="input-group-addon">
                      <i class="fa fa-envelope"></i>
                    </span>
                    <select
                      type="select"
                      class="form-control"
                      placeholder="Email"
                      v-model="user.member_status"
                    >
                      <option v-for="status in statuses" :value="status.index">{{status.name}}</option>
                    </select>
                  </div>
                </div>
              </form-error>
            </div>
          </form>
          <!-- END FORM-->
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" data-dismiss="modal" class="btn btn-outline dark">Close</button>
      <button
        type="button"
        class="btn green"
        @click="updateUser()"
      >{{ (isSending) ? 'Sending ...' : 'Save'}}</button>
    </div>
  </div>
</template>
<script>
import Datepicker from "~/../vuejs-datepicker";
export default {
  props: {
    userProp: {
      type: Object,
      default: function() {
        return {
          id: 0,
          member_store_id: 1,
          member_fullname: "",
          member_date_birth: 1,
          member_month_birth: 1,
          member_email: "",
          member_phone: "",
          member_level: 1,
          member_note: "",
          member_status: 1,
          member_created_by: 1,
          member_updated_by: 1
        };
      }
    }
  },
  data: function() {
    return {
      statuses: [
        { index: 0, name: "Deactive", css: "label-warning" },
        { index: 1, name: "Actived", css: "label-success" }
      ],
      roles: [
        { index: 1, name: "New", css: "btn btn-primary" },
        { index: 2, name: "Regular", css: "btn btn-success" },
        { index: 3, name: "VIP", css: "btn purple" },
        { index: 4, name: "At Rick", css: "btn btn-danger" }
      ],
      rolesAgent: [{ index: 0, name: "User", css: "label-info" }],
      isUpdated: false,
      showError: false,
      errors: [],
      role_id: AppData.role_id,
      isSending: false,
      old_user:{}
    };
  },
  components: {
    Datepicker
  },
  computed: {
    user() {
      return this.userProp;
    }
  },
  created: function() {
    var _self = this;
    if (
      _self.user.member_birthday != null &&
      _self.user.member_birthday != "" &&
      typeof _self.user.member_birthday != "undefined"
    ) {
      var arr = _self.user.member_birthday.split("-");
      _self.user.member_birthday = new Date(arr[0], arr[1] - 1, arr[2]);
    }
    _self.old_user = _self.user;
    console.log("member_form created");
  },
  beforeMount: function() {
    console.log("member_form beforeMount");
  },
  mounted: function() {
    console.log("member_form mounted");
    var _self = this;
    $("#responsive_edit").on("hidden.bs.modal", function(e) {
      _self.$emit("close");
      if (
        _self.user.member_birthday != null &&
        _self.user.member_birthday != "" &&
        typeof _self.user.member_birthday != "undefined" &&
        _self.user.member_birthday instanceof Date
      ) {
        console.log(_self.user.member_birthday);
        _self.user.member_birthday = _self.formatDate(
          _self.user.member_birthday
        );
      }
      console.log("run close");
      _self.errors = "";
    });
  },
  updated: function() {
    console.log("member_form updated");
  },
  beforeDestroy: function() {
    console.log("member_form beforeDestroy");
  },
  methods: {
    updateUser: function() {
      var _self = this;
      if (
        _self.user.member_birthday != "" &&
        _self.user.member_birthday != null &&
        typeof _self.user.member_birthday != "undefined" &&
        _self.user.member_birthday instanceof Date
      ) {
        _self.user.member_birthday = _self.formatDate(
          _self.user.member_birthday
        );
      }
      if (!this.isSending) {
        var re_email = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,10}))$/;
        var re_phone = /^[+]*[(]{0,1}[0-9]{1,3}[)]{0,1}[-\s\./0-9]*$/g;
        if (
          _self.user.member_fullname == null ||
          _self.user.member_fullname === ""
        ) {
          showToast("Error", "Fullname require", "error");
          return;
        } else if (
          _self.user.member_email != null &&
          _self.user.member_email != "" &&
          !re_email.test(_self.user.member_email)
        ) {
          showToast("Error", "Email invalid", "error");
          return;
        } else if (_self.user.member_phone.trim() === "") {
          showToast("Error", "Phone require", "error");
          return;
        } else if (!re_phone.test(_self.user.member_phone.trim())|| 
        (_self.user.member_phone.trim().length < 9 || _self.user.member_phone.trim().length > 11 )) {
          showToast("Error", "Phone Invalid", "error");
          return;
        } else {
          if (this.user.id) {
            this.isSending = true;
            this.$http.put("/api/members/" + _self.user.id, _self.user).then(
              response => {
                _self.isSending = false;
                var user_ = response.data.data;
                eventHub.$emit("MEMBER_UPDATED", user_);
                $(".modal.in").modal("hide");
                _self.errors = "";
                _self.user = user_;
                showToast(
                  "Updated member successfully",
                  "Member's information has been updated",
                  "success"
                );
              },
              error => {
                _self.isSending = false;
                if (error.data && error.data.data) {
                  _self.errors = error.data.message;
                }
                showToast(
                  "Updated member failed",
                  error.data.message,
                  "error"
                );
              }
            );
          }
        }
      }
    },
    formatDate: function(newdate) {
      var day = newdate.getDate();
      var month = parseInt(newdate.getMonth()) + parseInt(1);
      if (parseInt(month) < 10) month = "0" + month;
      if (parseInt(day) < 10) day = "0" + newdate.getDate();
      var date = newdate.getFullYear() + "-" + month + "-" + day;
      return date;
    }
  }
};
</script>