<template>
  <div class="portlet">
    <div v-for="n in showNewModal">
      <user-form @close="onCloseNew()"></user-form>
    </div>
    <div v-for="n in showEditModal">
      <user-edit-form @close="onCloseEdit()" :userProp="current_user"></user-edit-form>
    </div>
    <div v-for="n in showCheckinHistoryModal">
      <user-checkin @close="onCloseCheckinEdit()" :userCheckinProp="current_user_checkin"></user-checkin>
    </div>

    <div class="col-md-12">
      <GChart
        :resizeDebounce="1500"
        :settings="{packages: ['corechart']}"
        :data="chartData"
        :createChart="(el, google) => new google.visualization.PieChart(el)"
        :options="chartOptions"
        @ready="onChartReady"
      />
    </div>
    <div class="col-md-12">
      <!-- BEGIN EXAMPLE TABLE PORTLET-->
      <div class="portlet light bordered">
        <div class="portlet-title">
          <div class="caption font-dark">
            <i class="icon-settings font-dark"></i>
            <span class="caption-subject bold uppercase">All members</span>
          </div>
          <div class="actions">
            <div class="label label-default">Total: {{users.length}}</div>
            <div class="label label-info">Active: {{userActive}}</div>
            <div class="label label-warning">Deactive: {{userPending}}</div>
          </div>
        </div>
        <div class="portlet-body">
          <div class="table-toolbar">
            <div class="row">
              <div class="col-md-6">
                <div class="btn-group">
                  <button
                    class="btn sbold green"
                    @click="onClickNewButton()"
                    data-toggle="modal"
                    href="#responsive"
                  >
                    Add New
                    <i class="fa fa-plus"></i>
                  </button>
                </div>
              </div>
              <div class="col-md-6">
                <div class="btn-group pull-right" v-if="false">
                  <button class="btn green btn-outline dropdown-toggle" data-toggle="dropdown">
                    Tools
                    <i class="fa fa-angle-down"></i>
                  </button>
                  <ul class="dropdown-menu pull-right">
                    <li>
                      <a href="javascript:;">
                        <i class="fa fa-print"></i> Print
                      </a>
                    </li>
                    <li>
                      <a href="javascript:;">
                        <i class="fa fa-file-pdf-o"></i> Save as PDF
                      </a>
                    </li>
                    <li>
                      <a href="javascript:;">
                        <i class="fa fa-file-excel-o"></i> Export to Excel
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12 table-toolbar">
            <div class="row">
              <div class="col-md-3">
                <datepicker
                  v-model="filterFrom"
                  format="dd-MM-yyyy"
                  input-class="form-control tel date-color"
                ></datepicker>
              </div>
              <div class="col-md-3">
                <datepicker
                  v-model="filterTo"
                  format="dd-MM-yyyy"
                  input-class="form-control tel date-color"
                ></datepicker>
              </div>
              <div class="col-md-2">
                <button @click="FilterRange()" class="btn btn-info">Filter</button>
              </div>
              <div class="col-md-3">
                <b>Result search : {{total_users}} members</b>
              </div>
            </div>
          </div>
          <table
            class="table table-striped table-bordered table-hover dt-responsive no-footer dtr-inline collapsed"
            id="sample_1"
            >
            <thead>
              <tr>
                <th>Fullname</th>
                <th>Phone</th>
                <th>Total Checkin</th>
                <th>Total Amount($)</th>
                <th>Email</th>
                <th>Birthday</th>
                <th>Level</th>
                <th>Joined at</th>
                <th>Status</th>
                <th>Edit</th>
                <th>Delete</th>
              </tr>
              <tr>
                <th>
                  <div class="form-group">
                    <input
                      class="form-control"
                      type="text"
                      v-model="filterName"
                      @keyup.enter="filterChange"
                    />
                  </div>
                </th>
                <th>
                  <div class="form-group">
                    <input
                      class="form-control"
                      type="text"
                      v-model="filterPhone"
                      @keyup.enter="filterChange"
                    />
                  </div>
                </th>
                <th></th>
                <th></th>
                <th>
                  <div class="form-group">
                    <input
                      class="form-control"
                      type="text"
                      v-model="filterEmail"
                      @keyup.enter="filterChange"
                    />
                  </div>
                </th>
                <th></th>
                <th>
                  <div class="form-group">
                    <select class="form-control" v-model="filterLevel" @change="filterChange">
                      <option value="-1">All</option>
                      <option v-for="role in roles" :value="role.index">{{role.name}}</option>
                    </select>
                  </div>
                </th>
                <th></th>
                <th>
                  <div class="form-group">
                    <select
                      class="form-control"
                      v-model="filterStatusMember"
                      @change="filterChange"
                    >
                      <option value="-1">All</option>
                      <option value="1">Actived</option>
                      <option value="0">Deactive</option>
                    </select>
                  </div>
                </th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr
                v-if="pagination &&  pagination.data && pagination.data.length > 0"
                v-for="model in pagination.data"
                role="row"
                class="odd gradeX"
              >
                <td>{{model.member_fullname}}</td>
                <td>{{model.member_phone}}</td>
                <td class="center">
                  <span class="btn-circle" v-bind:class="roles[(model.member_level-1)].css" @click="onClickCheckinListButton(model)"
                      data-toggle="modal"
                      href="#responsive_checkin">
                    {{model.total_checkin}}
                  </span>
                </td>
                <td>
                  <total-price :idTotal="model.id"></total-price>
                </td>
                <td>
                  <a href="#">{{model.member_email}}</a>
                </td>
                <td>
                  <span v-if="model.member_date_birth != 0">
                    {{model.member_date_birth}}/{{model.member_month_birth}}
                  </span>
                </td>
                <td>
                  <span
                    class="label label-sm"
                    v-bind:class="roles[(model.member_level-1)].css"
                  >{{roles[(model.member_level-1)].name}}</span>
                </td>
                <td>{{model.joined_at}}</td>
                <td>
                  <span
                    class="label label-sm"
                    v-bind:class="statuses[model.member_status].css"
                  >{{statuses[model.member_status].name}}</span>
                </td>
                <td>
                  <button
                    class="btn btn-info"
                    @click="onClickEditButton(model)"
                    data-toggle="modal"
                    href="#responsive_edit"
                  >
                    <i class="fa fa-edit"></i>
                  </button>
                </td>
                <td>
                  <button class="btn btn-danger" @click="deleteUser(model)">
                    <i class="fa fa-trash"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <!-- END EXAMPLE TABLE PORTLET-->
    </div>
    <div class="col-md-12">
      <div class="row" v-if="pagination &&  pagination.data && pagination.data.length > 0">
        <div class="col-md-12">
          <div class="col-md-4"></div>
          <div class="col-md-4">
            <ul class="pager">
              <li
                data-lp="1"
                class="previous"
                v-bind:class="pagination.current_page == 1?'disabled':''"
              >
                <a href="javascript:void(0);" @click="backPage()">
                  <i class="fa fa-angle-left"></i>
                </a>
              </li>
              <span>{{pagination.current_page}}/{{pagination.last_page}}</span>
              <li
                data-lp="7"
                class="next"
                v-bind:class="pagination.current_page == pagination.last_page?'disabled':''"
              >
                <a href="javascript:void(0);" @click="nextPage()">
                  <i class="fa fa-angle-right fa-4"></i>
                </a>
              </li>
            </ul>
          </div>
          <div class="col-md-4"></div>
        </div>
      </div>
    </div>
  </div>
</template>
<style>
.date-color {
  background-color: white !important;
}
</style>>
<script>
import UserCheckin from "./ShowCheckin.vue";
import UserForm from "./Form.vue";
import UserEditForm from "./FormEdit.vue";
import VueGoogleCharts from "~/../vue-google-charts";
import Datepicker from "~/../vuejs-datepicker";
import moment from 'moment';
import TotalPrice from './TotalPrice.vue';
//Vue.component("modal", UserCheckin);

export default {
  data: function() {
    return {
      search: "",
      total_users: 0,
      users: {},
      pagination: {},
      currentPage: 1,
      current_user: {},
      current_user_checkin: {},
      origin_user: {},
      statuses: [
        { index: 0, name: "Deactive", css: "label-warning" },
        { index: 1, name: "Actived", css: "label-info" }
      ],
      roles: [
        { index: 1, name: "New", css: "btn btn-primary" },
        { index: 2, name: "Regular", css: "btn btn-success" },
        { index: 3, name: "VIP", css: "btn purple" },
        { index: 4, name: "At Rick", css: "btn btn-danger" }
      ],
      isUpdated: false,
      showNewModal: 1,
      showEditModal: 1,
      showCheckinHistoryModal: 0,
      isEdited: false,
      chartData: [],
      checkins:[],
      chartOptions: {
        chart: {
          title: "Company Performance",
          width: 1000,
          colors: ["#337ab7", "#36c6d3", "#8E44AD", "#ed6b75"]
        },
        colors: ["#337ab7", "#36c6d3", "#8E44AD", "#ed6b75"]
      },
      filterStatusMember: -1,
      filterLevel: -1,
      filterName: "",
      filterEmail: "",
      filterPhone: "",
      filterFrom: new Date(),
      filterTo: new Date(),
      filterdate: false,
      totalPrice:0,
    };
  },
  components: {
    UserCheckin,
    UserForm,
    UserEditForm,
    Datepicker,
    TotalPrice
  },
  computed: {
    userActive() {
      var count = 0;
      for (var index in this.users) {
        if (this.users[index].member_status == 1) count += 1;
      }
      return count;
    },
    userPending() {
      var count = 0;
      for (var index in this.users) {
        if (this.users[index].member_status == 0) count += 1;
      }
      return count;
    },
    searchQuery: function() {
      var query =
        "?orderBy=member_created_at&sortedBy=desc&page=" + this.currentPage;
      if (this.filterdate == true) {
        query =
          query +
          "&from=" +
          this.formatDate(this.filterFrom) +
          " 00:00:01" +
          "&to=" +
          this.formatDate(this.filterTo) +
          " 23:59:59";
      }
      var search = "&search=";
      if (this.filterStatusMember && this.filterStatusMember >= 0) {
        search += "member_status:" + this.filterStatusMember + ";";
      }
      if (this.filterLevel && this.filterLevel >= 0) {
        search += "member_level:" + this.filterLevel + ";";
      }
      if (this.filterName) {
        search += "member_fullname:" + this.filterName + ";";
      }
      if (this.filterPhone) {
        search += "member_phone:" + this.filterPhone + ";";
      }
      if (this.filterEmail) {
        search += "member_email:" + this.filterEmail + ";";
      }
      query += search.slice(0, -1);
      return query;
    },
    pages: function() {
      var pages = [];
      if (this.pagination && this.pagination.last_page) {
        for (var i = 1; i <= this.pagination.last_page; i++) {
          pages.push(i);
        }
      }
      return pages;
    }
  },
  mounted: function() {
    this.refresh();
    var _self = this;
    eventHub.$on("MEMBER_CREATED", function() {
      _self.refresh();
    });
    eventHub.$on("MEMBER_UPDATED", function() {
      _self.refresh();
    });
  },
  created: function() {
    eventHub.$on("MEMBER_CREATED", this.onUserCreated);
    eventHub.$on("MEMBER_UPDATED", this.onUserUpdated);
  },
  updated: function() {
    if (!this.isUpdated) {
      //TableDatatablesManaged.default.init();
      this.isUpdated = true;
    }
  },
  methods: {
    onCloseNew() {
      this.showNewModal -= 1;
    },
    onCloseEdit() {
      this.showEditModal -= 1;
    },
    onCloseCheckinEdit() {
      this.showCheckinHistoryModal -= 1;
    },
    onClickCheckinListButton(user) {
      this.isEdited = false;
      console.log(user.member_fullname);
      this.current_user_checkin = user;
      this.setOriginUser(user);
      this.showCheckinHistoryModal += 1;
    },
    onClickEditButton(user) {
      this.isEdited = false;
      this.current_user = user;
      this.setOriginUser(user);
      this.showEditModal += 1;
    },
    onClickNewButton() {
      this.showNewModal += 1;
    },
    setOriginUser(user) {
      this.origin_user = _.clone(user);
    },
    searchChange: _.debounce(function() {
      this.refresh();
    }, 500),
    refresh: function() {
      var _self = this;
      // var searchQuery = this.buildSearchQuery();
      this.$http
        .get("/api/members/pagination" + this.searchQuery)
        .then(function(response) {
          _self.users = response.data.data.data;
          _self.pagination = response.data.data;
          _self.total_users = response.data.data.total;
          this.DataChart();
        })
        .catch(function(error) {
          console.log(error);
        });
    },
    changePage: function(index) {
      this.currentPage = index;
      this.refresh();
    },
    backPage: function() {
      if (this.currentPage > 1) {
        this.currentPage--;
        this.refresh();
      }
    },
    nextPage: function() {
      if (this.currentPage < this.pagination.last_page) {
        this.currentPage++;
        this.refresh();
      }
    },
    filterChange: function() {
      this.refresh();
    },
    updateStatus: function(user) {
      var oldStatus = user.status;
      var _self = this;
      this.$http
        .put("/api/members/" + user.id, {
          status: user.member_status,
          user_id: user.id
        })
        .then(
          response => {
            showToast(
              "Updated status successfully",
              "Member's status has been changed",
              "success"
            );
          },
          response => {
            user.status = oldStatus;
            showToast(
              "Updated status failed",
              "Member's status has not been changed",
              "error"
            );
          }
        );
    },
    onUserCreated: function(user) {
      //this.users.push(user);
      //showToast('User', 'User has been added to list', 'info');
    },
    onUserUpdated: function(user) {
      //console.log("Edited",user);
      //this.isEdited = true;
    },
    deleteUser: function(user) {
      if (confirm("Do you want to delete?")) {
        var _self = this;
        user.member_status = 0;
        this.$http.post("/api/members/delete/" + user.id, user).then(
          response => {
            var index = _self.users.indexOf(user);
            if (index != -1) _self.users.splice(index, 1);
            showToast(
              "Deleted successfully",
              "Member has been removed",
              "success"
            );
          },
          response => {
            console.log("Delete failed:" + response);
            showToast("Delete failed", " Member has not been deleted", "error");
          }
        );
      }
    },
    onChartReady(chart, google) {
      this.chartsLib = google;
    },
    DataChart: function() {
      var at_risk = 0,
        regular = 0,
        mem_new = 0,
        vip = 0;

      for (var index in this.users) {
        if (this.users[index].member_level == 1) mem_new += 1;
        if (this.users[index].member_level == 2) regular += 1;
        if (this.users[index].member_level == 3) vip += 1;
        if (this.users[index].member_level == 4) at_risk += 1;
      }

      this.chartData = [
        ["Type", "Member"],
        ["New", mem_new],
        ["Regular", regular],
        ["VIP", vip],
        ["At Risk", at_risk]
      ];
    },
    FilterRange: function() {
      this.filterdate = true;
      this.refresh();
    },
    formatDate: function(newdate) {
      var day = newdate.getDate();
      var month = parseInt(newdate.getMonth()) + parseInt(1);
      if (parseInt(month) < 10) month = "0" + month;
      if (parseInt(day) < 10) day = "0" + newdate.getDate();
      var date = newdate.getFullYear() + "-" + month + "-" + day;
      return date;
    },
    format_date(value){
        if (value) {
          return moment(String(value)).format('DD-MM')
        }
    },
    onClickTestButton: function() {
      var _self = this;
      
      // var searchQuery = this.buildSearchQuery();
      this.$http
        .get("/api/test-auto" + this.searchQuery)
        .then(function(response) {
          console.log(response);
        })
        .catch(function(error) {
          console.log(error);
        });
    },
    count_amount_price: function(id) {
      var _self = this;
      var total = 0;

      this.$http
      .get("/api/members/get-total-price/" +id)
      .then(function(response) {
        _self.total = response.data.data;
      })
      .catch(function(error) {
        console.log(error);
      });
      return total;
    },
  }
};
</script>
<style>
.dataTables_filter {
  float: right !important;
}
</style>