<template>
  <div id="responsive_checkin" class="modal fade" tabindex="-1" data-width="50%">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
      <h4 class="modal-title">Checkin History of <b>{{user_.member_fullname}}</b></h4>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="portlet-body form">
          <table
            class="table table-striped table-bordered table-hover dt-responsive dataTable no-footer dtr-inline collapsed"
            id="sample_1"
          >
            <thead>
              <tr>
                <th>Check In Time</th>
                <th>Check Out Time</th>
                <th>Price Point ($)</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="model in checkins">
                <td>{{model.checkin_at}}</td>
                <td>{{model.checkout_at}}</td>
                <td>
                  <span v-if="model.price_point">{{model.price_point}}</span>
                  <span v-else>Checkout Auto</span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" data-dismiss="modal" class="btn btn-outline dark">Close</button>
    </div>
  </div>
</template>
<script>
export default {
  props: {
    userCheckinProp: {
      type: Object,
      default: function() {
        return {
          id: 0,
          member_store_id: 1,
          member_fullname: "",
          member_birthday: "",
          member_email: "",
          member_phone: "",
          member_level: 1,
          member_note: "",
          member_status: 1,
          member_created_by: 1,
          member_updated_by: 1
        };
      }
    }
  },
  data: function() {
    return {
      checkins: []
    };
  },
  beforeMount: function () {

  },
  mounted: function () {
      console.log('user_package_form mounted');
      var _self = this;
      $('#responsive_checkin').on('hidden.bs.modal', function (e) {
          _self.$emit('close');
          console.log('run close');
          _self.errors = '';
      });
  },
  created: function() {
    var _self = this;
    if (_self.user_.id != null && _self.user_.id != 0) {
      this.loadData();
    }
  },
  computed: {
    user_() {
      return this.userCheckinProp;
    }
  },
  methods: {
    loadData: function() {
      var _self = this;
      console.log(_self.user_.id);
      this.$http
        .get("/api/checkin/user/" + _self.user_.id)
        .then(function(response) {
          _self.checkins = response.data.data;
        })
        .catch(function(error) {
          console.log(error);
        });
    }
  }
};
</script>