
<template>
<div>
    {{countPrice}}
</div>
</template>
<script>
  export default {
    data: function () {
      return {
        countPrice: 0
      }
    },
    props: {
      idTotal: 0
    },
    mounted: function() {
      this.loadData();
    },
    methods: {
      loadData: function () {
        var _self = this;
        this.$http.get('/api/members/get-total-price/'+this.idTotal).then(function (response) {
          _self.countPrice = response.data.data;
        }).catch(function (error) {
          console.log(error);
        });
      }
    }
  }
</script>
