<template>
    <div class="row" id="facebook-provider-setting-block">
        <div class="col-md-12">
            <div class="form">
                <form action="#" class="form-horizontal">
                    <div class="form-body">
                        <div class="form-group">
                            <label class="col-md-2 control-label">Review URL</label>
                            <div class="col-md-10">
                                <input type="text" class="form-control" placeholder="Your new comment's link"
                                       v-model="model.reviewed_url">
                                <span class="help-block bold"><em>Please set the Review ID first!</em></span>
                                <span class="help-block"> You can use the link below: </span>
                                <span class="help-block"><a target="_blank"
                                                            :href="reviewed_url">{{reviewed_url}}</a></span>
                            </div>
                        </div>
                        <form-error :errors="errors" field="reviewed_key">
                            <label class="col-md-2 control-label">Review ID</label>
                            <div class="col-md-10">
                                <input type="text" class="form-control" placeholder="Ex: 1191020460930639"
                                       v-model="model.reviewed_key">
                                <span class="help-block">
                                    Go to <a href="http://findmyfbid.com/" target="_blank">
                                      http://findmyfbid.com/</a> and get your page facebook id
                                </span>
                            </div>
                        </form-error>
                    </div>
                    <div class="form-actions right">
                        <div class="row">
                            <div class="col-md-12">
                                <button type="button" class="btn green" @click="submit">Save</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>
<script>
    export default{
        data: function () {
            return {
                model: {
                    reviewed_key: "",
                    name: 'FACEBOOK',
                    store_id: AppData.store_id
                },
                errors: {}
            }
        },
        mounted: function () {
            this.refresh();
        },
        computed: {
            reviewed_url: function () {
                return "https://www.facebook.com/" + this.model.reviewed_key + "/reviews/";
            }
        },
        methods: {
            refresh: function () {
                App.blockUI({
                    target: '#facebook-provider-setting-block',
                    message: 'Wait for a few minutes because you have a lot of reviews',
                    boxed: true
                });
                var _self = this;
                this.$http.get('api/review_providers/by-user/FACEBOOK').then(function (response) {
                    if (response.data.data) {
                        _self.model = response.data.data;
                    }
                    App.unblockUI('#facebook-provider-setting-block')
                }).catch(function (error) {
                    showToastFromResponse(error);
                    App.unblockUI('#facebook-provider-setting-block')
                });
            },
            submit: function () {
                App.blockUI({
                    target: '#facebook-provider-setting-block',
                    message: 'Wait for a few minutes because you have a lot of reviews',
                    boxed: true
                });
                this.errors = {};
                var _self = this;

                this.$http.post('api/review_providers', this.model).then(function (response) {
                    showToastFromResponse(response);
                    _self.model = response.data.data;
                    App.unblockUI('#facebook-provider-setting-block')
                }).catch(function (error) {
                    _self.errors = error.data.data;
                    showToastFromResponse(error);
                    App.unblockUI('#facebook-provider-setting-block')
                });
            }
        }
    }
</script>
