<template>
    <div class="form" id="google-provider-setting-block">
        <form action="#" class="form-horizontal">
            <div class="form-body">
                <div class="form-group">
                    <label class="col-md-2 control-label">Review URL</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" id="google-review-link"
                               placeholder="Your new comment's link"
                               v-model="model.reviewed_url">
                        <span class="help-block bold"><em>Please set the Review ID first!</em></span>
                        <span class="help-block"> You can use the link below: </span>
                        <span class="help-block" id="get-google-review-link"><a target="_blank" :href="reviewed_url">{{reviewed_url}}</a></span>
                        <span class="help-block"> Or click it and copy the url </span>
                    </div>
                </div>
                <form-error :errors="errors" field="reviewed_key">
                    <label class="col-md-2 control-label">Review ID</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" placeholder="Ex: ChIJb0AQq0GvMioRwhjIv1PzY-E"
                               v-model="model.reviewed_key" id="google-placeid">
                        <span class="help-block"> Get google place id at <a
                                href="https://developers.google.com/maps/documentation/javascript/examples/places-placeid-finder"
                                target="_blank" id="get-google-link">here</a>  </span>
                    </div>
                </form-error>
            </div>
            <div class="form-actions right">
                <div class="row">
                    <div class="col-md-12">
                        <button type="button" class="btn green" id="google-save" @click="submit">Save</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</template>
<script>
    export default{
        data: function () {
            return {
                model: {
                    reviewed_key: "",
                    name: 'GOOGLE',
                    store_id: AppData.store_id
                },
                errors: {}
            }
        },
        mounted: function () {
            this.refresh();
        },
        computed: {
            reviewed_url: function () {
                return 'http://search.google.com/local/writereview?placeid=' + this.model.reviewed_key;
            }
        },
        methods: {
            refresh: function () {
                App.blockUI({
                    target: '#google-provider-setting-block',
                    animate: true
                });
                var _self = this;
                this.$http.get('api/review_providers/by-user/GOOGLE').then(function (response) {
                    if (response.data.data) {
                        _self.model = response.data.data;
                    }
                    App.unblockUI('#google-provider-setting-block')
                }).catch(function (error) {
                    showToastFromResponse(error);
                    App.unblockUI('#google-provider-setting-block')
                });
            },
            submit: function () {
                App.blockUI({
                    target: '#google-provider-setting-block',
                    message: 'Wait for a few minutes because you have a lot of reviews',
                    boxed: true
                });
                this.errors = {};
                var _self = this;
                this.$http.post('api/review_providers', this.model).then(function (response) {
                    showToastFromResponse(response);
                    _self.model = response.data.data;
                    App.unblockUI('#google-provider-setting-block')
                }).catch(function (error) {
                    _self.errors = error.data.data;
                    showToastFromResponse(error);
                    App.unblockUI('#google-provider-setting-block')
                });
            }
        }
    }
</script>
