<template>
    <div class="portlet light" id="review-link-block">
        <div class="portlet-title tabbable-line">
            <div class="caption">
                <i class="icon-info font-blue"></i>
                <span class="caption-subject bold font-blue uppercase"> Review Link Setting  </span>
            </div>
        </div>
        <div class="portlet-body form">
            <form role="form" lpformnum="1" _lpchecked="1">
                <div class="form-body row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Link Google</label>
                            <input class="form-control" v-model="model.link_review_google">
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Link Facebook</label>
                            <input class="form-control" v-model="model.link_review_facebook">
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Link YELP</label>
                            <input class="form-control" v-model="model.link_review_yelp">
                        </div>
                    </div>
                </div>
                <div class="form-actions right">
                    <div class="col-md-12">
                        <button type="button" class="btn green" @click="submit">Save</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</template>
<script>
    export default{
        data: function () {
            return {
                model: {}
            }
        },
        mounted: function () {
            this.refresh();
        },
        methods: {
            refresh: function () {
                App.blockUI({
                    target: '#review-link-block',
                    animate: true
                });
                var _self = this;
                this.$http.get('api/settings/by-user').then(function (response) {
                    _self.model = response.data.data;
                    App.unblockUI('#review-link-block')
                }).catch(function (error) {
                    App.unblockUI('#review-link-block')
                })
            },
            submit: function () {
                App.blockUI({
                    target: '#review-link-block',
                    animate: true
                });
                var _self = this;
                console.log('click');
                if (this.model.id) {
                    this.$http.put('api/settings/' + this.model.id, this.model).then(function (response) {
                        showToastFromResponse(response);
                        _self.model = response.data.data;
                        App.unblockUI('#review-link-block')
                    }).catch(function (error) {
                        showToastFromResponse(error);
                        App.unblockUI('#review-link-block')
                    })
                }
            }
        }
    }
</script>
