<template>
    <div class="portlet light" id="review-flow-setting-block">
        <div class="portlet-title tabbable-line">
            <div class="caption">
                <i class="icon-info font-blue"></i>
                <span class="caption-subject bold font-blue uppercase"> Review Flow Setting  </span>
            </div>
        </div>
        <div class="portlet-body form">
            <form role="form" lpformnum="1" _lpchecked="1">
                <div class="form-body row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Mode</label>
                            <select class="form-control" v-model="model.review_page_mode">
                                <option value="review_only">Review Only</option>
                                <option value="survey_review">Survey and Review</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Thanks submission message <i class="fa fa-info-circle tooltips text-success" data-original-title="Message - Click To View Detail"
                                            data-container="body" @click="imgInfo1" data-src="/assets/global/img/infor/survey_thank_mess.png" data-toggle="modal" data-target="#myModal1"></i></label>
                            <input class="form-control" v-model="model.feedback_message">
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Email Nofify Feedback</label>
                            <input class="form-control" type="email" v-model="model.email_nofify_feedback">
                        </div>
                    </div>
                </div>
                <div class="form-actions right">
                    <div class="col-md-12">
                        <button type="button" class="btn green" @click="submit">Save</button>
                    </div>
                </div>
            </form>
        </div>
        <div id="myModal1" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
            </div>
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        <img id="img_src" :src="imgSrc1" class="img-responsive">
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    export default{
        data: function () {
            return {
                model: {},
                imgSrc1:''
            }
        },
        mounted: function () {
            this.refresh();
        },
        methods: {
            refresh: function () {
                App.blockUI({
                    target: '#review-flow-setting-block',
                    animate: true
                });
                var _self = this;
                this.$http.get('api/settings/by-user').then(function (response) {
                    _self.model = response.data.data;
                    App.unblockUI('#review-flow-setting-block')
                }).catch(function (error) {
                    App.unblockUI('#review-flow-setting-block')
                })
            },
            submit: function () {
                App.blockUI({
                    target: '#review-flow-setting-block',
                    animate: true
                });
                var _self = this;
                console.log('click');
                if (this.model.id) {
                    this.$http.put('api/settings/' + this.model.id, this.model).then(function (response) {
                        showToastFromResponse(response);
                        _self.model = response.data.data;
                        App.unblockUI('#review-flow-setting-block')
                    }).catch(function (error) {
                        showToastFromResponse(error);
                        App.unblockUI('#review-flow-setting-block')
                    })
                }
            },
            imgInfo1:function(event) {
                var element = event.target;
                var _self = this;
                var _src = element.getAttribute('data-src');
                _self.imgSrc1 = _src;
            }
        }
    }
</script>
