<template>
    <div class="portlet light" v-if="componentShouldShow" id="provider-settings">
        <div class="portlet-title tabbable-line">
            <div class="caption">
                <i class="icon-link font-blue"></i>
                <span class="caption-subject bold font-blue uppercase"> REVIEW PROVIDER SETTING  </span>
            </div>
            <ul class="nav nav-tabs">
                <li class="active">
                    <a href="#google_provider_setting" data-toggle="tab" aria-expanded="false">
                      <provider-image :provider="'GOOGLE'" :isSmall="true"></provider-image>
                      Google
                    </a>
                </li>
                <li class="">
                    <a href="#fb_provider_setting" data-toggle="tab" aria-expanded="false">
                      <provider-image :provider="'FACEBOOK'" :isSmall="true"></provider-image>
                      Facebook
                    </a>
                </li>
                <li class="">
                    <a href="#yelp_provider_setting" data-toggle="tab" aria-expanded="true">
                      <provider-image :provider="'YELP'" :isSmall="true"></provider-image>
                      Yelp
                    </a>
                </li>
            </ul>
        </div>
        <div class="portlet-body">
            <div class="tab-content">
                <div class="tab-pane active" id="google_provider_setting">
                    <google-provider-setting-form/>
                </div>
                <div class="tab-pane" id="fb_provider_setting">
                    <facebook-provider-setting-form/>
                </div>
                <div class="tab-pane" id="yelp_provider_setting">
                    <yelp-provider-setting-form/>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import GoogleProviderSettingForm from './GoogleProviderSettingForm.vue';
    import YelpProviderSettingForm from './YelpProviderSettingForm.vue';
    import FacebookProviderSettingForm from './FacebookProviderSettingForm.vue';
    import ProviderImage from '../common/ProviderImage.vue';
    export default{
        computed:{
          componentShouldShow: function () {
              return AppData.store_id;
          }
        },
        components:{
            GoogleProviderSettingForm,
            FacebookProviderSettingForm,
            YelpProviderSettingForm,
            ProviderImage
        }
    }
</script>
