<template>
    <div class="portlet light" id="sms-provider-setting-block">
        <div class="portlet-title tabbable-line">
            <div class="caption">
                <i class="icon-info font-blue"></i>
                <span class="caption-subject bold font-blue uppercase"> Setting Invitation Provider  </span>
            </div>
        </div>
        <div class="portlet-body form">
            <form role="form" lpformnum="1" _lpchecked="1">
                <div class="form-body row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>SMS Gateway</label>
                            <select class="form-control" v-model="model.sms_gateway">
                                <option value="twilio">Twilio</option>
                                <option value="bandwidth">Bandwidth</option>
                                <option value="esms">Esms</option>
                            </select>
                        </div>
                        <!--TWILIO GATEWAY SETTING-->
                        <div v-if="model.sms_gateway == 'twilio'">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Twilio SID"
                                       v-model="model.sms_username">
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" placeholder="Twilio Token"
                                       v-model="model.sms_password">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Twilio Phone"
                                       v-model="model.sms_user">
                            </div>
                        </div>
                        <!--BANDWIDTH GATEWAY SETIING-->
                        <div v-if="model.sms_gateway == 'bandwidth'">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Phone"
                                       v-model="model.sms_bandwidth_phone">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Account Id"
                                       v-model="model.sms_bandwidth_user_id">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Application Id"
                                       v-model="model.sms_bandwidth_application_id">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="API Token"
                                       v-model="model.sms_bandwidth_api_token">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="API Secret"
                                       v-model="model.sms_bandwidth_api_secret">
                            </div>
                        </div>

                        <!--ESMS GATEWAY SETIING-->
                        <div v-if="model.sms_gateway == 'esms'">
                            <div class="form-group">
                                <select class="form-control" v-model="model.sms_esms_sms_type">
                                    <option value="2">Gửi với BrandName</option>
                                    <option value="3">Đầu số ngẫu nhiên dạng, dùng để quảng cáo, tốc độ chậm</option>
                                    <option value="7">Đầu số ngẫu nhiên dạng, không dùng để quảng cáo, tốc độ cao như mã kích hoạt, xác nhận đơn hàng</option>
                                    <option value="6">Đầu số cố định Verify dùng cho chăm sóc khách hàng (không dùng cho mục đích quảng cáo)</option>
                                    <option value="4">Đầu số cố định Notify dùng cho cả quảng cáo và chăm sóc khách hàng ( KHUYÊN DÙNG)</option>
                                    <option value="8">Đầu số cố định 10 số, giá tốt, tuy nhiên cần phải đăng ký Template trước với chúng tôi</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="API Token"
                                       v-model="model.sms_esms_api_token">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="API Secret"
                                       v-model="model.sms_esms_api_secret">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Brand Name"
                                       v-model="model.sms_esms_brand_name">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-actions right">
                    <div class="col-md-12">
                        <button type="button" class="btn green" @click="submit">Save</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</template>
<script>
    export default{
        data: function () {
            return {
                model: {}
            }
        },
        mounted: function () {
            this.refresh();
        },
        methods: {
            refresh: function () {
                App.blockUI({
                    target: '#sms-provider-setting-block',
                    animate: true
                });
                var _self = this;
                this.$http.get('api/settings/by-user').then(function (response) {
                    _self.model = response.data.data;
                    App.unblockUI('#sms-provider-setting-block')
                }).catch(function (error) {
                    App.unblockUI('#sms-provider-setting-block')
                })
            },
            submit: function () {
                App.blockUI({
                    target: '#sms-provider-setting-block',
                    animate: true
                });
                var _self = this;
                console.log('click');
                if (this.model.id) {
                    this.$http.put('api/settings/' + this.model.id, this.model).then(function (response) {
                        showToastFromResponse(response);
                        _self.model = response.data.data;
                        App.unblockUI('#sms-provider-setting-block')
                    }).catch(function (error) {
                        showToastFromResponse(error);
                        App.unblockUI('#sms-provider-setting-block')
                    })
                }
            }
        }
    }
</script>
