<template>
    <div class="portlet light" id="store-setting-block">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-settings font-blue"></i>
                <span class="caption-subject bold font-blue uppercase"> Place Information Setting </span>
            </div>
        </div>
        <div class="portlet-body form">
            <div class="row">
                <div class="col-md-3">
                    <ul class="list-unstyled profile-nav">
                        <li>
                            <image-input :src="store.company_logo" @change="uploadLogoChange"></image-input>
                        </li>
                        <li v-if="reviewLinkQR" style="padding-top:10px;">
                            <div class="Image-input__image-wrapper">
                                <img class="img-responsive" id='barcode' :src="reviewLinkQR" alt="" title="QR Code Review" width="180" height="180" />
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col-md-9">
                    <form role="form" class="form-horizontal">
                        <input type="hidden" class="form-control" v-model="store.id">
                        <div class="form-body">
                            <form-error :errors="errors" field="name">
                                <label class="col-md-2 control-label">Name<span class="required"
                                                                                aria-required="true"> * </span></label>
                                <div class="col-md-10">
                                    <div class="input-icon right">
                                        <i class="fa fa-info-circle tooltips" data-original-title="Store Name"
                                           data-container="body"></i>
                                        <input type="text" class="form-control" v-model="store.name" required></div>
                                </div>
                            </form-error>
                            <form-error :errors="errors" field="name">
                                <label class="col-md-2 control-label">Email Account</label>
                                <div class="col-md-10">
                                    <div class="input-icon right">
                                        <i class="fa fa-info-circle tooltips" data-original-title="Email Account"
                                           data-container="body"></i>
                                        <input type="text" class="form-control" v-model="userEmail"  disabled></div>
                                </div>
                            </form-error>
                            <form-error :errors="errors" field="name">
                                <label class="col-md-2 control-label">Store Id</label>
                                <div class="col-md-10">
                                    <div class="input-icon right">
                                        <i class="fa fa-info-circle tooltips" data-original-title="Store Id"
                                           data-container="body"></i>
                                        <input type="text" class="form-control" v-model="store.id"  disabled></div>
                                </div>
                            </form-error>
                            <form-error :errors="errors" field="url">
                                <label class="col-md-2 control-label">Website</label>
                                <div class="col-md-10">
                                    <div class="input-icon right">
                                        <i class="fa fa-info-circle tooltips" data-original-title="Store Url"
                                           data-container="body"></i>
                                        <input type="text" class="form-control" v-model="store.url" required></div>
                                </div>
                            </form-error>
                            <form-error :errors="errors" field="url">
                                <label class="col-md-2 control-label">Phone</label>
                                <div class="col-md-10">
                                    <div class="input-icon right">
                                        <i class="fa fa-info-circle tooltips" data-original-title="Store Phone"
                                           data-container="body"></i>
                                        <input type="text" class="form-control" v-model="store.phone"></div>
                                </div>
                            </form-error>
                            <form-error :errors="errors" field="address">
                                <label class="col-md-2 control-label">Address</label>
                                <div class="col-md-10">
                                    <div class="input-icon right">
                                        <i class="fa fa-info-circle tooltips" data-original-title="Store Address"
                                           data-container="body"></i>
                                        <input type="text" class="form-control" v-model="store.address" required></div>
                                </div>
                            </form-error>
                            <form-error :errors="errors" field="invitation_introducing">
                                <label class="col-md-2 control-label">Introduction Text</label>
                                <div class="col-md-10">
                                    <div class="input-icon right">
                                        <i class="fa fa-info-circle tooltips" data-original-title="Introduction Text"
                                           data-container="body"></i>
                                        <textarea cols="5" class="form-control"
                                                  v-model="store.invitation_introducing"></textarea></div>
                                </div>
                            </form-error>
                            <form-error :errors="errors" field="survey_message_1">
                                <label class="col-md-2 control-label">Survey Message <i class="fa fa-info-circle tooltips text-success" data-original-title="Message - Click To View Detail"
                                            data-container="body" @click="imgInfo" data-src="/assets/global/img/infor/survey_mess.png" data-toggle="modal" data-target="#myModal"></i> </label>
                                <div class="col-md-10">
                                    <div class="input-icon right">
                                        <i class="fa fa-info-circle tooltips" data-original-title="Survey Message"
                                           data-container="body"></i>
                                        <textarea cols="5" class="form-control"
                                                  v-model="store.survey_message_1"></textarea></div>
                                </div>
                            </form-error>
                            <form-error :errors="errors" field="survey_message_2">
                                <label class="col-md-2 control-label">Apologize Message <i class="fa fa-info-circle tooltips text-success" data-original-title="Message - Click To View Detail"
                                            data-container="body" @click="imgInfo" data-src="/assets/global/img/infor/survey_title_mess.png" data-toggle="modal" data-target="#myModal"></i></label>
                                <div class="col-md-10">
                                    <div class="input-icon right">
                                        <i class="fa fa-info-circle tooltips" data-original-title="Apologize Message"
                                           data-container="body"></i>
                                        <textarea cols="5" class="form-control"
                                                  v-model="store.survey_message_2"></textarea></div>
                                </div>
                            </form-error>
                            <div class="form-group" v-if="reviewLink">
                                <label class="col-md-2 control-label">Review Link</label>
                                <span class="col-md-10" style="padding-top:8px">
                                    <a :href="reviewLink" target="_blank">{{reviewLink}}</a>
                                </span>
                            </div>
                            <div class="form-group" v-if="checkinLink">
                                <label class="col-md-2 control-label">Check-In Link</label>
                                <span class="col-md-10" style="padding-top:8px">
                                    <a :href="checkinLink" target="_blank">{{checkinLink}}</a>
                                </span>
                            </div>
                            <form-error :errors="errors" field="review_redirect_background">
                                <label class="col-md-2 control-label">Background</label>
                                <div class="col-md-12">
                                <span class="help-block"> Background (User can choose default Background or Upload new background)</span>
                                <span class="help-block"> This background will be displayed in link review: {{reviewLink}} </span>
                                </div>
                                <div class="col-md-12">
                                    <div class="col-xs-3">
                                        <image-input :src="store.review_redirect_background" @change="uploadBackgroundChange"></image-input>
                                    </div>
                                    <div v-for="background in backgrounds" class="col-xs-3">
                                        <img :src="background.url" alt="" class="img-responsive" style="margin-bottom: 10px">
                                        <div class="form-control text-center" style="border: none">
                                            <input class="" type="radio" name="review_redirect_background" :value="background.url" v-model="store.review_redirect_background">
                                        </div>
                                    </div>
                                </div>
                            </form-error>
                        </div>
                        <div class="form-actions right">
                            <div class="row">
                                <div class="col-md-12">
                                    <button type="button" class="btn green" @click="submit">Save</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- popup tooltips-->
        <div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
            </div>
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        <img id="img_src" :src="imgSrc" class="img-responsive">
                    </div>
                </div>
            </div>
        </div>
        <!-- END popup tooltips-->
    </div>
</template>
<script>
    import BootstrapTourMixin from '../../mixins/BootstrapTourMixin';
    export default{
        data: function () {
            return {
                store: {
                    id: '',
                    name: '',
                    url: '',
                    phone: '',
                    address: '',
                    slug: '',
                    survey_message_1:'',
                    survey_message_2:'',
                    
                },
                userEmail: AppData.userEmail,
                backgrounds: [],
                mode: 'create',
                errors: {},
                imgSrc:'',
                tourSteps: [
                    {
                        element: "#menu-5", // element selector to show the popover next to;
                        title: "Go to settings",
                        content: "Config store settings. You must do it first!"
                    },
                    {
                        placement: "left",
                        element: "#store-setting-block",
                        title: "Set up your business's information here.",
                        content: "That's simple!"
                    },
                    {
                        placement: "left",
                        element: "#provider-settings",
                        title: "Set up provider's setting.",
                        content: "We'll try with Google"
                    },
                    {
                        placement: "left",
                        element: "#get-google-link",
                        title: "Get PlaceID",
                        content: "Click here and get a PlaceID"
                    },
                    {
                        placement: "left",
                        element: "#google-placeid",
                        title: "Type PlaceID",
                        content: "Type your PlaceID to this input."
                    },
                    {
                        placement: "left",
                        element: "#get-google-review-link",
                        title: "Get 'Write a Review' link",
                        content: "Copy this link or click it then copy the link in address bar."
                    },
                    {
                        placement: "left",
                        element: "#google-review-link",
                        title: "Type Review link",
                        content: "Type your Review link you copied."
                    },
                    {
                        placement: "left",
                        element: "#google-save",
                        title: "Save setting",
                        content: "Click this button to save above settings."
                    },
                    {
                        placement: "left",
                        element: "#sms-provider-setting-block",
                        title: "SMS account",
                        content: "Set up your Twilio account."
                    },
                    {
                        element: "#menu-4", // element selector to show the popover next to;
                        path: "/templates"
                    }
                ]
            }
        },
        mixins: [BootstrapTourMixin],
        computed: {
            reviewLink: function () {
                return AppData.baseUrl + '/' + this.store.slug;
            },
            checkinLink: function () {
                return AppData.baseUrl + '/check-in/' + this.store.slug;
            },
            reviewLinkQR: function () {
                return 'https://api.qrserver.com/v1/create-qr-code/?data='+ AppData.baseUrl + '/' + this.store.slug + '&amp;size=180x180';
            }
        },
        mounted: function () {
            this.refresh();
        },
        methods: {
            refresh: function () {
                App.blockUI({
                    target: '#store-setting-block',
                    animate: true
                });
                var _self = this;
                this.$http.get('api/users/stores').then(function (response) {
                    if (response.data && response.data.data && response.data.data.length == 0) {
                        _self.mode = 'create'
                    } else {
                        _self.mode = 'update';
                        _self.store = response.data.data[0];
                    }
                    App.unblockUI('#store-setting-block')
                    _self.startTourGlobalFirst(_self.tourSteps, 'settings');
                }).catch(function (error) {
                    App.unblockUI('#store-setting-block')
                });
                this.fetchBackgroundList();
            },
            submit: function () {
                App.blockUI({
                    target: '#store-setting-block',
                    animate: true
                });
                var _self = this;
                this.errors = {};
                if (this.mode === 'create') {
                    this.$http.post('api/users/create-store', this.store).then(function (response) {
                        showToastFromResponse(response);
                        App.unblockUI('#store-setting-block')
                        _self.store = response.data.data;
                    }).catch(function (error) {
                        if (error.data && error.data.data) {
                            _self.errors = error.data.data;
                        } else {
                            showToastFromResponse(error);
                        }
                        App.unblockUI('#store-setting-block')
                    });
                } else {
                    this.$http.post('api/users/update-store', this.store).then(function (response) {
                        if (response.data && response.data.message) {
                            showToastFromResponse(response);
                            _self.store = response.data.data;
                        }
                        App.unblockUI('#store-setting-block')
                    }).catch(function (error) {
                        if (error.data && error.data.data) {
                            _self.errors = error.data.data;
                        } else {
                            showToastFromResponse(error);
                        }
                        App.unblockUI('#store-setting-block')
                    });
                }
            },
            uploadLogoChange: function (event) {
                var input = event.target;
                if (input.files && input.files[0]) {
                    var formData = new FormData();
                    formData.append('file', input.files[0]);
                    formData.append('id', AppData.store_id);
                    App.blockUI({
                        target: '#store-setting-block',
                        animate: true
                    });
                    this.$http.post('/api/stores/upload-company-logo', formData).then(function (response) {
                        showToastFromResponse(response);
                        App.unblockUI('#store-setting-block')
                    }).catch(function (error) {
                        showToastFromResponse(error);
                        App.unblockUI('#store-setting-block')
                    });
                }
            },
            uploadBackgroundChange: function (event) {
                var input = event.target;
                if (input.files && input.files[0]) {
                    var formData = new FormData();
                    formData.append('file', input.files[0]);
                    formData.append('id', AppData.store_id);
                    App.blockUI({
                        target: '#store-setting-block',
                        animate: true
                    });
                    this.$http.post('/api/stores/upload-background', formData).then(function (response) {
                        showToastFromResponse(response);
                        App.unblockUI('#store-setting-block')
                    }).catch(function (error) {
                        showToastFromResponse(error);
                        App.unblockUI('#store-setting-block')
                    });
                }
            },
            fetchBackgroundList:function(){
                var _self = this;
                App.blockUI({
                    target: '#store-setting-block',
                    animate: true
                });
                this.$http.get('/api/master_redirect_backgrounds/public?search=enabled:1').then(function (response) {
                    _self.backgrounds = response.data.data;
                    App.unblockUI('#store-setting-block')
                    }).catch(function (error) {
                        showToastFromResponse(error);
                    App.unblockUI('#store-setting-block')
                });
            },
            imgInfo:function(event) {
                var element = event.target;
                var _self = this;
                var _src = element.getAttribute('data-src');
                _self.imgSrc = _src;
            }
        }
    }
</script>
