<template>
    <div id="responsive" class="modal fade" tabindex="-1" data-width="80%">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
            <h4 class="modal-title bold font-green-sharp uppercase">{{'Sending'}}</h4>
        </div>
        <div class="modal-body" id="sms-content-form">
            <div v-if="errors" class="alert alert-danger alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
                <p>{{errors}}</p>
            </div>
            <div class="row">

                <div class="portlet-body form">
                    <!-- BEGIN FORM-->
                    <form action="#" class="form-horizontal">
                        <div class="form-body">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <h4 class="block bold">Content:</h4>
                                    <textarea type="text" class="form-control" rows="5" placeholder="Content"
                                              v-model="message.content"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <h4 class="block bold">Contacts:</h4>
                                            <div class="table-responsive">
                                                <table class="table table-striped table-bordered table-hover table-checkable dataTable no-footer"
                                                       role="grid" id="customers-table">
                                                    <thead>
                                                    <tr role="row" class="heading">
                                                        <th><label
                                                                class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                                            <input type="checkbox" class="group-checkable"
                                                                   v-model="checkAll">
                                                        </label></th>
                                                        <th> Name</th>
                                                        <th> Phone</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr v-if="pagination &&  pagination.data && pagination.data.length > 0"
                                                        v-for="model, index in pagination.data" role="row" class="odd">
                                                        <td><label
                                                                class="mt-checkbox mt-checkbox-single mt-checkbox-outline"><input
                                                                type="checkbox" class="checkboxes" :value="model.id"
                                                                v-model="checkedList"><span></span></label></td>
                                                        <td> {{model.name}}</td>
                                                        <td> {{model.phone}}</td>
                                                    </tr>
                                                    <tr v-if="!pagination || pagination.data && pagination.data.length == 0">
                                                        <td colspan="8">No Contact</td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row"
                                         v-if="pagination &&  pagination.data && pagination.data.length > 0">
                                        <div class="col-md-12">
                                            <ul class="pager">
                                                <li data-lp="1" class="previous"
                                                    v-bind:class="pagination.current_page == 1?'disabled':''"><a
                                                        href="javascript:void(0);" @click="backPage()"><i
                                                        class="fa fa-angle-left"></i></a></li>
                                                <span>{{pagination.current_page}}/{{pagination.last_page}}</span>
                                                <li data-lp="7" class="next"
                                                    v-bind:class="pagination.current_page == pagination.last_page?'disabled':''">
                                                    <a
                                                            href="javascript:void(0);" @click="nextPage()"><i
                                                            class="fa fa-angle-right"></i></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group text-center">
                                <button type="button"
                                        class="btn btn-outline green btn-circle btn-sm dark" @click="send()">Send
                                </button>
                                <button type="button"
                                        class="btn green-haze btn-outline btn-circle btn-sm" @click="sendAll()">Send All ({{contactSize}})
                                </button>
                            </div>
                        </div>
                    </form>
                    <!-- END FORM-->
                </div>

            </div>
        </div>
        <div class="modal-footer">
        </div>
    </div>
</template>
<script>
    var formID = '#sms-content-form';
    export default{
        props: {
            message: {
                type: Object,
                default: function () {
                    return {
                        store_id: AppData.store_id,
                        language: 'en',
                        content: '',
                        type: 0
                    }
                }
            },
            contactSize: {}
        }
        ,
        data: function () {
            return {
                errors: '',
                pagination: {},
                currentPage: 1,
                checkedList: [],
                checkAll: false,
            }
        },
        watch: {
            checkAll: function (value) {
                var ids = _.transform(this.pagination.data, function (result, model) {
                    result.push(model.id);
                }, []);
                if (value) {
                    this.checkedList = _.union(this.checkedList, ids);
                } else {
                    this.checkedList = _.xor(this.checkedList, ids);
                }
            }
        },
        created: function () {
            console.log('sms_form created');
        },
        beforeMount: function () {
            console.log('sms_form beforeMount');
        },
        mounted: function () {
            console.log('sms_form mounted');
            var _self = this;
            $('#responsive').on('hidden.bs.modal', function (e) {
                _self.$emit('close');
                console.log('run close');
                _self.errors = '';
            });
            this.refresh();
        },
        updated: function () {
            console.log('sms_form updated:' + this.checkedList);
        },
        beforeDestroy: function () {
            console.log('sms_form beforeDestroy');
        },
        methods: {
            refresh: function () {
                App.blockUI({
                    target: formID,
                    animate: true
                });
                var _self = this;
                this.$http.get("api/client_contacts/byUser" + "?page=" + this.currentPage).then(function (response) {
                    _self.pagination = response.data.data;
                    App.unblockUI(formID);
                }).catch(function (error) {
                    App.unblockUI(formID)
                });
            },
            changePage: function (index) {
                this.currentPage = index;
                this.refresh();
            },
            backPage: function () {
                if (this.currentPage > 1) {
                    this.currentPage--;
                    this.refresh();
                }
            },
            nextPage: function () {
                if (this.currentPage < this.pagination.last_page) {
                    this.currentPage++;
                    this.refresh();
                }
            },
            sendAll() {
                this.$http.get(`api/blast_templates/${this.message.id}/sendAll`).then(function (response) {
                    showToastFromResponse(response);
                    App.unblockUI(formID);
                    $('#responsive').modal('toggle');
                }).catch(function (error) {
                    showToastFromResponse(error);
                    App.unblockUI(formID)
                });
            },
            send(){
                var _self = this;
                _self.$http.post(`api/blast_templates/${this.message.id}/addContacts`, {
                    contacts: _self.checkedList
                }).then(function (response) {
                    _self.$http.get(`api/blast_templates/${this.message.id}/sendBlast`).then(function (response) {
                        showToastFromResponse(response);
                        eventHub.$emit("SENT_TEMPLATE");
                        App.unblockUI(formID);
                        $('#responsive').modal('toggle');
                    }).catch(function (error) {
                        showToastFromResponse(error);
                        App.unblockUI(formID)
                    });
                }).catch(function (error) {
                    showToastFromResponse(error);
                    App.unblockUI(formID)
                });

            }
        }
    }
</script>
