<template>
  <div id="responsive_send_sms" class="modal fade" tabindex="-1" data-width="80%">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
      <h4 class="modal-title bold font-green-sharp uppercase">{{message.id ? 'Edit SMS Content' : 'Create SMS Content'}}</h4>
    </div>
    <div class="modal-body" id="sms-content-form">
      <div v-if="errors" class="alert alert-danger alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
        <p>{{errors}}</p>
      </div>
      <div class="row">

        <div class="portlet-body form">
          <!-- BEGIN FORM-->
          <form action="#" class="form-horizontal">
            <div class="form-body">
              <div class="form-group">
                <div class="col-md-12">
                  <h4 class="block bold">Content:</h4>
                  <textarea type="text" class="form-control" rows="5" placeholder="Content" v-model="message.content"></textarea>
                </div>
              </div>
              <div class="form-group text-center">
                  <button type="button" class="btn btn-outline green btn-circle dark" @click="updateSMSContent(true)">Send {{contactSize}} contacts</button>
                  <button type="button" class="btn green-haze btn-outline btn-circle" @click="updateSMSContent()">{{'Save'}}</button>
              </div>
            </div>
          </form>
          <!-- END FORM-->
        </div>

      </div>
    </div>
    <div class="modal-footer">
    </div>
  </div>
</template>
<script>
  var formID = '#sms-content-form';
  export default{
    props:
      {
        message:
          {
            type: Object,
            default: function(){
              return {
                store_id: AppData.store_id,
                language: 'en',
                content: '',
                type: 0
              }
            }
          },
          contactSize: {}
      }
      ,
    data: function () {
      return {
        errors: '',
        isSendingSendSms:false,
      }
    },
    created: function () {
      console.log('sms_form created');
    },
    beforeMount: function () {
      console.log('sms_form beforeMount');
    },
    mounted: function () {
      console.log('sms_form mounted');
      var _self = this;
      $('#responsive_send_sms').on('hidden.bs.modal', function (e) {
        _self.$emit('close');
        console.log('run close');
        _self.errors = '';
      });
    },
    updated: function () {
      console.log('sms_form updated');
    },
    beforeDestroy: function () {
      console.log('sms_form beforeDestroy');
    },
    methods: {
      updateSMSContent: function(isSending = false) {
        App.blockUI({
            target: formID,
            animate: true
        });
        var _self = this;
        if(!this.isSendingSendSms) {
          this.isSendingSendSms = true;
          if (this.message.id) {
            this.$http.put('/api/blast_templates/' + this.message.id, this.message).then((response) => {
              this.isSendingSendSms = false;
              var message = response.data.data;
              eventHub.$emit("TEMPLATE_UPDATED", message);
              // this.saveImage(message);
              //$('#responsive').modal('toggle');
              $('.modal.in').modal('hide') ;
              _self.errors = '';
              showToastFromResponse(response);
              App.unblockUI(formID);
            }, (response) => {
              this.isSendingSendSms = false;
              _self.errors = response.data.message;
              showToastFromResponse(response);
              App.unblockUI(formID);
            });
          } else {
            this.$http.post('/api/blast_templates', this.message, {method: 'POST'}).then((response) => {
              this.isSendingSendSms = false;
              var message = response.data.data;
              eventHub.$emit("TEMPLATE_CREATED", message);
              if (isSending) {
                _self.sendAll(message);
              } else {
                //$('#responsive').modal('toggle');
                $('.modal.in').modal('hide') ;
                _self.errors = '';
                showToastFromResponse(response);
                App.unblockUI(formID);
              }
            }, (response) => {
              this.isSendingSendSms = false;
              _self.errors = response.data.message;
              showToastFromResponse(response);
              App.unblockUI(formID);
            });
          }
        }
      },
      sendAll(message) {
          var _self = this;
          this.$http.get(`api/blast_templates/${message.id}/sendAll`).then(function (response) {
              showToastFromResponse(response);
              eventHub.$emit("SENT_TEMPLATE");
              App.unblockUI(formID);
              $('#responsive').modal('toggle');
          }).catch(function (error) {
              _self.errors = error.data.message;
              showToastFromResponse(error);
              App.unblockUI(formID)
          });
      },
    }
  }
</script>
