<template>
    <div class="row" id="background-list-block">
        <div class="col-md-12">
            <table class="table table-striped table-bordered table-hover table-checkable order-column" id="sample_3">
                <thead>
                <tr>
                    <th> Index</th>
                    <th> Image</th>
                    <th> Created at</th>
                    <th> Status</th>
                    <th> Remove</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="(background, index) in backgrounds" class="odd gradeX">
                    <td> {{index + 1}}</td>
                    <td style="width: 200px"><img :src="background.url" class="img-responsive" alt=""></td>
                    <td> {{background.created_at}}</td>
                    <td>
                        <span class="hide"> {{background.enabled}} </span>
                        <input type="checkbox" id="checkbox" v-model="background.enabled" :value="background.enabled"
                               @change="updateStatus(background)">
                    </td>
                    <td>
                        <button class="btn btn-danger" @click="deleteBackground(background)">
                            <i class="fa fa-remove"></i>
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>

<script>
    export default {
        data(){
            return {
                backgrounds: []
            }
        },
        props: [
            'isRefresh'
        ],
        watch: {
            isRefresh: function (value) {
                if (value) {
                    this.refresh();
                }
            }
        },
        mounted(){
            this.refresh();
        },
        methods: {
            refresh(){
                var _self = this;
                App.blockUI({
                    target: '#background-list-block',
                    animate: true
                });
                this.$http.get('/api/master_redirect_backgrounds?orderBy=created_at&sortedBy=desc').then(function (response) {
                    _self.backgrounds = response.data.data;
                    App.unblockUI('#background-list-block');
                    this.$emit('onRefreshCompleted');
                }).catch(function (error) {
                    App.unblockUI('#background-list-block');
                    this.$emit('onRefreshCompleted');
                })
            },
            updateStatus(background){
                var _self = this;
                this.$http.put('/api/master_redirect_backgrounds/' + background.id, {
                    enabled: background.enabled
                }).then(function (response) {
                    _self.refresh();
                    showToast('Updated status successfully', 'Background\'s status has been changed', 'success');
                }).catch(function (error) {
                    showToast('Updated status failed', 'Background\'s status has not been changed', 'error');
                })
            },
            deleteBackground(background){
                var _self = this;
                this.$http.delete('/api/master_redirect_backgrounds/' + background.id).then(function (response) {
                    _self.refresh();
                    showToast('Delete successfully', 'Background has been deleted', 'success');
                }).catch(function (error) {
                    showToast('Delete failed', 'Background has not been deleted', 'error');
                })
            }
        }
    }
</script>