<template>
    <div class="row">
        <div class="col-md-12">
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption font-dark">
                        <i class="icon-settings font-dark"></i>
                        <span class="caption-subject bold uppercase"> Backgrounds </span>
                    </div>
                    <div class="actions">
                        <div class="btn-group btn-group-devided">
                            <upload-button @onSuccess="needRefresh = true"></upload-button>
                        </div>
                    </div>
                </div>
                <div class="portlet-body">
                    <background-list :isRefresh="needRefresh" @onRefreshCompleted="needRefresh = false"></background-list>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import BackgroundList from './List.vue';
    import UploadButton from './UploadButton.vue';
    export default {
        data(){
          return {
              needRefresh:false
          }
        },
        components: {
            BackgroundList,UploadButton
        }
    }
</script>